.example-chip-list {
  width: 100%;
}

.block-ident {
  margin-left: 40px;
}

.warning-warning {
  color: #b71c1c;
}

.logo-img {
  width: 100px;
  margin: 20px;
}

.save-button {
  margin-bottom: 20px;
}
