<form [formGroup]="configForm"
  class="fx-column-start-stretch">
  <div class="fx-row-start-center fx-gap-10">
    <img class="logo-img"
      [src]="logoImageBase64"
      [alt]="'logo.upload-info' | translate"/>
    <input #hiddenimgfileinput
      type="file"
      [hidden]="true"
      (change)="imgFileChange($event)"/>
    <button mat-raised-button
      [matTooltip]="'logo.upload' | translate"
      matTooltipPosition="above"
      (click)="hiddenimgfileinput.click()" >
      <studio-lite-wrapped-icon icon="cloud_upload"></studio-lite-wrapped-icon>
    </button>
    <button mat-raised-button
      [matTooltip]="'logo.reset' | translate"
      matTooltipPosition="above"
      (click)="removeLogoImg()">
      <studio-lite-wrapped-icon icon="delete"></studio-lite-wrapped-icon>
    </button>
    @if (imageError) {
      <div class="warning-warning">
        {{imageError}}
      </div>
    }
  </div>
  <div class="fx-row-start-start fx-gap-20">
    <mat-form-field class="fx-flex-fill">
      <mat-label>{{'logo.app-background-color' | translate}}</mat-label>
      <input matInput
        formControlName="bodyBackground"
        [placeholder]="'logo.app-background-color-placeholder' | translate">
    </mat-form-field>
    <mat-form-field class="fx-flex-fill">
      <mat-label>{{'logo.boxes-background-color' | translate}}</mat-label>
      <input matInput
        formControlName="boxBackground"
        [placeholder]="'logo.boxes-background-color-placeholder' | translate">
    </mat-form-field>
  </div>
  <div class="fx-row-end-center fx-gap-30">
    @if (dataChanged) {
      <div class="fx-flex-fill info">
        {{'admin.reload-page' | translate}}
      </div>
    }
    <button mat-raised-button
            color="primary"
            [disabled]="!dataChanged"
            (click)="saveData()">
      {{'save' | translate}}
    </button>
  </div>
</form>
