<mat-chip-grid #chipGrid
  (click)="showNodeTree()">
  @for (item of formControl.value; track item; let i = $index) {
    <mat-chip-row
      [editable]="false">
      <div class="clip-text">
        {{item.name}}
      </div>
      <button matChipRemove
        (click)="remove(i)">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
  }
  <input [formControl]="itemControl"
    (keydown)="$event.preventDefault()"
    [matChipInputFor]="chipGrid"
    [matChipInputAddOnBlur]="false"
    (blur)="onBlur()">
</mat-chip-grid>
