@if (pageList.length) {
  <div class="page-nav fx-row-space-between-center mat-elevation-z3">
    @for (p of pageList; track p) {
      <div class="nav-button">
        @if (p.type === '#previous') {
          <button class="previous-button fx-row-center-center"
                  [disabled]="p.disabled"
                  (click)="gotoPage.emit({ action: p.type })">
            <studio-lite-wrapped-icon icon="chevron_left"></studio-lite-wrapped-icon>
          </button>
        }
        @if (p.type === '#next') {
          <button class="next-button fx-row-center-center"
                  [disabled]="p.disabled"
                  (click)="gotoPage.emit({ action: p.type })">
            <studio-lite-wrapped-icon icon="chevron_right"></studio-lite-wrapped-icon>
          </button>
        }
        @if (p.type === '#goto') {
          <div
            class="fx-column-start-stretch">
            @if (!p.disabled) {
              <div class="page-nav-enabled"></div>
            }
            @if (p.disabled) {
              <div class="page-nav-disabled"></div>
            }
            <button class="page-button"
                    [class.selected-page]="p.disabled"
                    [disabled]="p.disabled"
                    (click)="gotoPage.emit({ action: p.type, index: p.index })">
              {{ p.index }}
            </button>
            @if (!p.disabled) {
              <div class="page-nav-enabled"></div>
            }
            @if (p.disabled) {
              <div class="page-nav-disabled"></div>
            }
          </div>
        }
      </div>
    }
  </div>
}
