@if (metadata && (unitProfiles || items)) {
  <h3>{{'print.metadata' | translate}}</h3>
}
@if (!metadata || (!unitProfiles && !items)) {
  <h3>{{'print.no-metadata' | translate}}</h3>
}

@if (unitProfiles) {
  <h4>{{'metadata.unit-title' | translate}}</h4>
  <studio-lite-metadata-profile-entries class='unit-profile'
    [profiles]="unitProfiles">
  </studio-lite-metadata-profile-entries>
}

@if (items) {
  <h4>{{'metadata.items-title' | translate}}</h4>
  <studio-lite-metadata-readonly-items class='items'
    [items]="items">
  </studio-lite-metadata-readonly-items>
}
