<div class="header">
  <div class="title">{{ title }}</div>
  <div class="expand-button">
    @if (count !== undefined && !expanded) {
      <div
        [matBadge]="count"
        class="demo-section"
      ></div>
    }
    @if (!expanded) {
      <button
        mat-icon-button
        [attr.aria-label]="'accordion.expand' | translate"
        (click)="expandedChange.emit(!expanded);expanded = !expanded;"
        >
        <mat-icon>expand_more</mat-icon>
      </button>
    }
    @if (expanded) {
      <button
        mat-icon-button
        [attr.aria-label]="'accordion.expand' | translate"
        (click)="expandedChange.emit(!expanded);expanded = !expanded; "
        >
        <mat-icon>expand_less</mat-icon>
      </button>
    }
  </div>
</div>
@if (expanded) {
  <div class="content">
    <ng-content></ng-content>
  </div>
}
