<mat-expansion-panel [expanded]="false">
  <mat-expansion-panel-header >
    <mat-panel-title>{{model.id || 'metadata.without-id' | translate}}
    </mat-panel-title>
  </mat-expansion-panel-header>
    <form
      [formGroup]="form">
     <formly-form
       [model]="model"
       [fields]="fields"
       [form]="form"
       (modelChange)="onModelChange()">
     </formly-form>
    </form>
    <iqb-profile-form
      [vocabularies]= "workspaceService.vocabularies"
      [profile]="workspaceService.itemProfile"
      [vocabulariesIdDictionary] = workspaceService.vocabulariesIdDictionary
      [itemProfileColumns] = workspaceService.itemProfileColumns
      [unitProfileColumns] = workspaceService.unitProfileColumns
      [metadata]="metadata[itemIndex]"
      [language]="language"
      [formlyWrapper]="''"
      [panelExpanded]="false"
      (metadataChange)="onMetadataChange($event)">
  </iqb-profile-form>
</mat-expansion-panel>

