<div mat-dialog-title
     cdkDrag
     cdkDragRootElement=".cdk-overlay-pane"
     cdkDragHandle
     class="dialog-title">
  {{'review.comment' | translate}}
</div>
@if (!this.appService.authData.userId) {
  <mat-form-field>
    <mat-label>{{'review.comment-name' | translate}}</mat-label>
    <input matInput
      [placeholder]="'review.enter-comment-name' | translate"
      [(ngModel)]="userName"
      (ngModelChange)="storeUserName()">
  </mat-form-field>
}
<mat-dialog-content>
  @if ((appService.authData.userLongName || appService.authData.userName || userName) && reviewService.unitDbId) {
    <studio-lite-comments
      [style.height.%]="100"
      [userName]="userName"
      [unitItems]="unitItems"
      [userId]="this.appService.authData.userId"
      [unitId]="this.reviewService.unitDbId"
      [workspaceId]="0"
      [newCommentOnly]="!reviewService.reviewConfig.showOthersComments"
      [reviewId]="this.reviewService.reviewId"
      (onCommentsUpdated)="close()">
    </studio-lite-comments>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button
          color="primary"
          [mat-dialog-close]="false">
    {{'dialogs.close' | translate }}
  </button>
</mat-dialog-actions>

