<table class="codes">
  <tr>
    <td class="left-cell">
      <p>{{'print.id' | translate}}</p>
    </td>
    <td>
      <p>{{codeData.id}}</p>
    </td>
  </tr>
  <tr *ngIf="codeData.label">
    <td class="left-cell">
      <p>{{'print.label' | translate}}</p>
    </td>
    <td>
      <p>{{codeData.label}}</p>
    </td>
  </tr>
  <tr *ngIf="codeData.manualInstruction">
    <td class="left-cell">
      <p>{{'print.manual-instruction' | translate}}</p>
    </td>
    <td>
      <div *ngIf="codeData.manualInstruction"
           [innerHTML]="codeData.manualInstruction">
      </div>
    </td>
  </tr>
</table>
