<div class="fx-row-end-end fx-gap-5 changes-container">
  <button mat-raised-button
          [color]="'primary'"
          [matTooltip]="'workspace.save-changes' | translate"
          [disabled]="!changed"
          matTooltipPosition="below"
          (click)="saveChanges.emit()">
    {{'workspace.save' | translate}}
    <mat-icon class="big-icon">save</mat-icon>
  </button>
  <button mat-raised-button
          [matTooltip]="'workspace.reject-changes-label' | translate"
          matTooltipPosition="below"
          [disabled]="!changed"
          (click)="discardChanges.emit()" >
    {{'workspace.reject' | translate}}
    <mat-icon class="big-icon">close</mat-icon>
  </button>

</div>
