<div class="unit-info-content fx-row-space-between-stretch">
  <div class="infoPanelExpandButton fx-column-start-center fx-flex-row-fix-40">
    <mat-icon>info</mat-icon>
    @if (reviewService.unitInfoPanelOn) {
      <button mat-button
        [matTooltip]="'review.less-information' | translate"
        (click)="elementWidth = 0">
        <studio-lite-wrapped-icon icon="chevron_right"></studio-lite-wrapped-icon>
      </button>
    }
    @if (!reviewService.unitInfoPanelOn) {
      <button mat-button
        [matTooltip]="'review.more-information' | translate"
        (click)="elementWidth = reviewService.unitInfoPanelWidth">
        <studio-lite-wrapped-icon icon="chevron_left"></studio-lite-wrapped-icon>
      </button>
    }
  </div>
  <div #infoPanelSplitter class="infoPanelSplitter fx-flex-row-fix-6"></div>
  <div #infoPanel class="infoPanel fx-flex-fill">
    <studio-lite-unit-properties
      [key]= "properties ? properties.key : null"
      [name]= "properties?.name"
      [transcript]="properties?.transcript"
      [description]="properties?.description"
      [reference]="properties?.reference"
      [lastChangedDefinition] = "properties ? properties.lastChangedDefinition : null"
      [lastChangedMetadata] = "properties ? properties.lastChangedMetadata : null"
      [lastChangedScheme] = "properties ? properties.lastChangedScheme : null"
      [lastChangedDefinitionUser]="properties?.lastChangedDefinitionUser"
      [lastChangedMetadataUser]="properties?.lastChangedMetadataUser"
      [lastChangedSchemeUser]="properties?.lastChangedSchemeUser">
    </studio-lite-unit-properties>
    @if (reviewService.reviewConfig.showCoding && properties) {
      <studio-lite-unit-info-coding
        [unitId]="id">
      </studio-lite-unit-info-coding>
    }
    @if (reviewService.reviewConfig.showOthersComments && properties) {
      <studio-lite-unit-info-comments
        [unitId]="id" [allComments]="reviewService.allComments">
      </studio-lite-unit-info-comments>
    }
  </div>
</div>
