<div class="unit-info-content fx-row-space-between-stretch">
  <div class="infoPanelExpandButton fx-column-start-center fx-flex-row-fix-40">
    <mat-icon>info</mat-icon>
    @if (reviewService.unitInfoPanelOn) {
      <button mat-button
        [matTooltip]="'review.less-information' | translate"
        (click)="elementWidth = 0">
        <studio-lite-wrapped-icon icon="chevron_right"></studio-lite-wrapped-icon>
      </button>
    }
    @if (!reviewService.unitInfoPanelOn) {
      <button mat-button
        [matTooltip]="'review.more-information' | translate"
        (click)="elementWidth = reviewService.unitInfoPanelWidth">
        <studio-lite-wrapped-icon icon="chevron_left"></studio-lite-wrapped-icon>
      </button>
    }
  </div>
  <div #infoPanelSplitter class="infoPanelSplitter fx-flex-row-fix-6"></div>
  <div #infoPanel class="infoPanel fx-flex-fill">
    <studio-lite-unit-properties
      [key]= "_unitMetadata ? _unitMetadata.key : null"
      [name]= "_unitMetadata?.name"
      [transcript]="_unitMetadata?.transcript"
      [description]="_unitMetadata?.description"
      [reference]="_unitMetadata?.reference"
      [lastChangedDefinition] = "_unitMetadata ? _unitMetadata.lastChangedDefinition : null"
      [lastChangedMetadata] = "_unitMetadata ? _unitMetadata.lastChangedMetadata : null"
      [lastChangedScheme] = "_unitMetadata ? _unitMetadata.lastChangedScheme : null">
    </studio-lite-unit-properties>
    @if (reviewService.reviewConfig.showCoding && _unitMetadata) {
      <studio-lite-unit-info-coding
        [unitId]="_unitId">
      </studio-lite-unit-info-coding>
    }
    @if (reviewService.reviewConfig.showOthersComments && _unitMetadata) {
      <studio-lite-unit-info-comments
        [unitId]="_unitId" [allComments]="reviewService.allComments">
      </studio-lite-unit-info-comments>
    }
  </div>
</div>
