<div fxLayout="row" fxLayoutAlign="space-between start" class="admin-tab-content">
  <div class="spinner-container" *ngIf="dataLoading">
      <mat-spinner></mat-spinner>
  </div>

  <!-- ============================================= -->
  <div class="object-list" fxLayout="column" fxFlex="50">
    <div fxLayout="row">
        <button mat-raised-button (click)="addObject()" matTooltip="Arbeitsbereich hinzufügen" matTooltipPosition="above">
            <mat-icon>add</mat-icon>
          </button>
        <button mat-raised-button (click)="deleteObject()" [disabled]="selectedWorkspaceId === 0 && this.tableselectionCheckbox.selected.length === 0"
                matTooltip="Markierte/n Arbeitsbereich/e löschen" matTooltipPosition="above">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-raised-button (click)="changeObject()" [disabled]="selectedWorkspaceId === 0 && this.tableselectionCheckbox.selected.length !== 1"
                matTooltip="Arbeitsbereich umbenennen" matTooltipPosition="above">
          <mat-icon>edit</mat-icon>
        </button>
    </div>

    <mat-table [dataSource]="objectsDatasource" matSort class="scroll-area">
      <ng-container matColumnDef="selectCheckbox">
        <mat-header-cell *matHeaderCellDef fxFlex="70px">
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="tableselectionCheckbox.hasValue() && isAllSelected()"
                        [indeterminate]="tableselectionCheckbox.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="70px">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tableselectionCheckbox.toggle(row) : null"
                        [checked]="tableselectionCheckbox.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.label}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="group">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Gruppe </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ws_group_name}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"
        [style.background]="tableselectionRow.isSelected(row) ? 'lightblue' : ''"></mat-row>
    </mat-table>
  </div>

  <!-- ============================================= -->
  <div class="object-list" fxLayout="column" fxFlex="40">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div *ngIf="selectedWorkspaceId === 0">Zugriffsrechte: Bitte links Arbeitsbereich wählen</div>
      <div *ngIf="selectedWorkspaceId > 0" >Zugriffsrechte für {{ tableselectionRow.selected[0]?.label }}:</div>
      <button mat-raised-button (click)="saveUsers()" matTooltip="Speichern"
              matTooltipPosition="above" [disabled]="!workspaceUsers?.hasChanged">
        <mat-icon>save</mat-icon>
      </button>
    </div>

    <div class="scroll-area" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="start start" *ngFor="let u of workspaceUsers.entries">
        <mat-checkbox (change)="workspaceUsers?.updateHasChanged()" fxFlex="30%"
                      [(ngModel)]="u.isChecked" [disabled]="selectedWorkspaceId === 0" style="margin-left: 20px;">
          {{u.name}}</mat-checkbox>
          <div style="color: gray; margin: 3px" fxFlex>{{u.description}}</div>
      </div>
    </div>
  </div>
</div>
