<div fxLayout="row" fxLayoutAlign="space-between start" class="admin-tab-content">
  <div class="spinner-container" *ngIf="dataLoading">
      <mat-spinner></mat-spinner>
  </div>

  <!-- ============================================= -->
  <div class="object-list" fxLayout="column" fxFlex="50">
    <div fxLayout="row">
        <button mat-raised-button (click)="addObject()" matTooltip="Arbeitsbereich hinzufügen" matTooltipPosition="above">
            <mat-icon>add</mat-icon>
          </button>
        <button mat-raised-button (click)="deleteObject()" matTooltip="Markierte/n Arbeitsbereich/e löschen" matTooltipPosition="above">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-raised-button (click)="changeObject()" matTooltip="Arbeitsbereich umbenennen" matTooltipPosition="above">
          <mat-icon>edit</mat-icon>
        </button>
    </div>

    <mat-table [dataSource]="objectsDatasource" matSort class="scroll-area">
      <ng-container matColumnDef="selectCheckbox">
        <mat-header-cell *matHeaderCellDef fxFlex="70px">
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="tableselectionCheckbox.hasValue() && isAllSelected()"
                        [indeterminate]="tableselectionCheckbox.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="70px">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tableselectionCheckbox.toggle(row) : null"
                        [checked]="tableselectionCheckbox.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.label}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="group">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Gruppe </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ws_group_name}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"
        [style.background]="tableselectionRow.isSelected(row) ? 'lightblue' : ''"></mat-row>
    </mat-table>
  </div>

  <!-- ============================================= -->
  <div fxLayout="column" fxFlex="40" class="object-list">

    <div *ngIf="selectedWorkspaceId === 0">
      <div>Zugriffsberechtigte für Arbeitsbereich:</div>
      <div>Bitte links einen Arbeitsbereich wählen</div>
    </div>

    <div *ngIf="selectedWorkspaceId > 0" fxLayout="row" fxLayoutAlign="space-between center">
      <div>Zugriffsrechte für "{{ selectedWorkspaceName }}":</div>
        <button mat-raised-button (click)="saveUsers()" matTooltip="Speichern"
            matTooltipPosition="above" [disabled]="!pendingUserChanges">
          <mat-icon>save</mat-icon>
        </button>
    </div>

    <mat-table [dataSource]="UserlistDatasource" class="scroll-area">
      <ng-container matColumnDef="selectCheckbox">
        <mat-cell *matCellDef="let row" fxFlex="70px">
          <mat-checkbox (change)="selectUser(row)"
                        [checked]="row.selected">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-cell *matCellDef="let row"> {{row.label}} </mat-cell>
      </ng-container>

      <mat-row *matRowDef="let row; columns: displayedUserColumns;"></mat-row>
    </mat-table>
  </div>
</div>
