.start-page {
  height: 100%;
  background-color: #f1f1f1;
  overflow: auto;
}

.start-data {
  min-width: 400px;
  max-width: 600px;
}

.access-denied {
  color: #b00020;
  font-weight: bold;
}

.continue-button {
  margin-top: 10px;
}
