.item {
  flex-basis: 45%;
}

.item-id {
  margin-bottom: 10px;
  font-size: 16px;
  padding: 5px;
  background-color: #00606415;
  border-bottom: #00606420 1px solid;
}

.item-key {
  padding: 5px;
}

.item-value {
  text-align: right;
}
