@for (item of items; track item;  let i = $index) {
  <div class="item">
    <h5 class="item-id">{{ item.id || 'metadata.without-id' | translate }}</h5>
    <div class="fx-row-space-between-start">
      <span class="item-key">Variablen Id</span>
      <span class="item-value">
        {{ item.variableReadOnlyId | variableId : item.variableId : variables }}</span>
    </div>
    <div class="fx-row-space-between-start">
      <span class="item-key">Wichtung</span>
      <span class="item-value">{{ item.weighting || '-' }}</span>
    </div>
    <div class="fx-row-space-between-start">
      <span class="item-key">Notiz</span>
      <div class="item-value">{{ item.description || '-' }}</div>
    </div>
    <studio-lite-metadata-profile-entries [profiles]="item.profiles || []">
    </studio-lite-metadata-profile-entries>
  </div>
}
