<h1 mat-dialog-title>{{'home.edit-my-data-title' | translate}}</h1>
<mat-dialog-content class="fx-column-start-stretch">
  <form [formGroup]="editUserForm"
        class="fx-column-start-stretch">
    <mat-form-field>
      <input matInput
             formControlName="lastName"
             type="text"
             [placeholder]="'home.lastName' | translate"
             [value]="data.lastName"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput
             formControlName="firstName"
             type="text"
             [placeholder]="'home.firstName' | translate"
             [value]="data.firstName"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput
             formControlName="email"
             type="text"
             [placeholder]="'home.email' | translate"
             [value]="data.email"/>
    </mat-form-field>
    <div class="fx-row-start-stretch fx-gap-10">
      <mat-checkbox formControlName="emailPublishApproval"
                    [value]="data.emailPublishApproved ? data.emailPublishApproved.toString() : 'false'">
      </mat-checkbox>
      <div>{{'home.emailPublishApproved' | translate}}</div>
    </div>
    <mat-form-field>
      <input matInput
             formControlName="description"
             type="text"
             [placeholder]="'home.note' | translate"
             [value]="data.description"/>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button
          color="primary"
          type="submit"
          [mat-dialog-close]="editUserForm"
          [disabled]="editUserForm.invalid">
    {{'save' | translate}}
  </button>
  <button mat-raised-button
          [mat-dialog-close]="false">
    {{'cancel' | translate}}
  </button>
</mat-dialog-actions>
