.preview-body {
  position: absolute;
  width: 100%;
  top: 2px;
  bottom: 45px;
  padding: 0;
}

.pageNav {
  font-size: 1.2em;
}

#pageFooter {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: slategray;
  padding: 0 30px;
}

#pageNavPrompt {
  padding: 2px 8px;
  color: white;
}

#pageNav button {
  font-size: 1.1em;
}

#pageNav button i {
  font-size: 1.2em;
}

.pageNavDisabled {
  height: 5px;
  background-color: orangered;
}

.pageNavEnabled {
  height: 5px;
  background-color: darkgrey;
}

.statusVisual {
  margin: 0 10px;
}

.statusVisual div {
  padding: 2px 10px;
  margin: 0 5px;
}
