<div class="fx-column-start-stretch unit-list-wrapper">
  <div *ngIf="multipleSelection">
    <p *ngIf="selectionCount === 0">Bitte Aufgaben auswählen!</p>
    <p *ngIf="selectionCount === 1">Eine Aufgabe ausgewählt.</p>
    <p *ngIf="selectionCount > 1">{{selectionCount}} Aufgaben ausgewählt.</p>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>{{'select-unit-list.filter' | translate}}</mat-label>
    <input #filterInput
           matInput
           [placeholder]="'select-unit-list.enter-filter' | translate"
           (keyup)="applyFilter(filterInput)">
    <button matSuffix
            mat-icon-button
            [attr.aria-label]="'select-unit-list.delete-filter' | translate"
            [disabled]="!filterInput.value"
            [matTooltip]="'select-unit-list.delete-filter' | translate"
            matTooltipPosition="above"
            (click)="filterInput.value=''; applyFilter(filterInput)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-table [dataSource]="objectsDatasource" matSort class="unit-list">
    <ng-container matColumnDef="selectCheckbox">
      <mat-header-cell *matHeaderCellDef  class="fx-flex-70-fix">
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="tableSelectionCheckbox.hasValue() && isAllSelected()"
                      [indeterminate]="tableSelectionCheckbox.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="fx-flex-70-fix">
        <mat-checkbox (click)="$event.stopPropagation()"
                      [disabled]="disabledUnits.indexOf(row.id) >= 0"
                      (change)="$event ? tableSelectionCheckbox.toggle(row) : null"
                      [checked]="tableSelectionCheckbox.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="key">
      <mat-header-cell *matHeaderCellDef mat-sort-header="key"> Aufgabe</mat-header-cell>
      <mat-cell *matCellDef="let element"
                [class]="(disabledUnits.indexOf(element.id) >= 0) ? 'disabled-element' : ''">
        {{element.key}}{{element.name ? ' - ' + element.name : ''}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="groupName">
      <mat-header-cell *matHeaderCellDef mat-sort-header="groupName"> Gruppe</mat-header-cell>
      <mat-cell *matCellDef="let element"
                [class]="(disabledUnits.indexOf(element.id) >= 0) ? 'disabled-element' : ''">
        {{element.groupName}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
