.unit-list-wrapper {
  height: 100%;
}

.unit-list {
  overflow-x: auto;
}

.disabled-element {
  color: gray;
}

.fx-flex-row-fix-70 {
    flex: 1 1 70px;
    box-sizing: border-box;
    max-width: 70px;
    min-width: 70px;
}
