.angular
.dockerignore
.editorconfig
.env*
.git*
.vscode
.idea
.nx
.prettier*
Makefile
README.md
*Dockerfile*
*docker-compose*
backup
cache
changelogDocs
dist
migrations.json
node_modules
scripts
secrets
