# Version
TAG=latest

# Image Registry Path
# (empty) = hub.docker.com
REGISTRY_PATH=

# Database
POSTGRES_USER=root
POSTGRES_PASSWORD=your-password
POSTGRES_DB=studio-lite

# Frontend
SERVER_NAME=hostname.de
HTTP_PORT=80
HTTPS_PORT=443

# Monitoring
# https://doc.traefik.io/traefik/middlewares/http/basicauth/
# echo $(htpasswd -nb user password) | sed -e s/\\$/\\$\\$/g
TRAEFIK_AUTH=user:$$apr1$$1qdlrDXW$$00cj5R5CNzYNHBjW7fHB/1
