:host.unit-preview {
  height: 100%;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}

.unitHost {
  height: 100%;
}

.wait-animation {
  align-self: center;
  margin-top: 25%;
}

.preview-body {
  width: 100%;
  padding: 0;
}

.message {
  margin: 30px;
}

