<div class="comment fx-row-start-stretch">

  <studio-lite-comment-badge [userName]="comment.userName"
    [ownComment]="ownComment">
  </studio-lite-comment-badge>

  <div class="fx-column-start-start">

    <div class="comment-meta fx-row-start-end">
      <div>{{ comment.userName }}</div>
      <div>{{ comment.createdAt | fullTimestamp }}</div>
      @for (uuidId of (comment.itemUuids | commentItemUuidsIds : unitItems) | sortAscending : 'id'; track uuidId) {
        <studio-lite-comment-item [label]="uuidId.id"></studio-lite-comment-item>
      }
    </div>

    <div class="fx-row-start-stretch fx-wrap">
      <div>
        @if (!(activeComment | isEditing: comment)) {
          <div
            class="comment-html"
            [class.own-comment]="ownComment"
            [innerHTML]="comment.body| safeResourceHTML">
          </div>
        }

        @if (activeComment | isEditing: comment) {
          <studio-lite-comment-editor
            studioLiteScrollEditorIntoView [isVisible] = "activeComment | isEditing: comment"
            submitLabel="comment-editor.edit"
            [placeholder]="'comments.write-comment' | translate"
            [initialHTML]="comment.body"
            [unitItems]="unitItems"
            [selectedItems]="comment.itemUuids"
            (handleSubmit)="updateComment.emit({ text: $event.text, commentId: comment.id, items: $event.items })"
            (handleCancel)="setActiveComment.emit(null)">
          </studio-lite-comment-editor>
        }

        @if (activeComment | isReplying: comment) {
          <studio-lite-comment-editor
            studioLiteScrollEditorIntoView [isVisible] = "activeComment | isReplying: comment"
            submitLabel="comment-editor.reply"
            [placeholder]="'comments.write-comment' | translate"
            [unitItems]="unitItems"
            [selectedItems]="comment.itemUuids"
            (handleCancel)="setActiveComment.emit(null)"
            (handleSubmit)="addComment.emit({ text: $event.text, parentId: replyId, items: $event.items })">
          </studio-lite-comment-editor>
        }
      </div>

      @if (!(activeComment | isEditing: comment) && !(activeComment | isReplying: comment)) {
        <div class="fx-flex-row-fix-150">
          <button mat-icon-button
            class="comment-action"
            matTooltip = "{{'comment.reply' | translate}}"
            (click)="setActiveComment.emit({ id: comment.id, type: activeCommentType.replying })">
            <studio-lite-wrapped-icon icon="reply"></studio-lite-wrapped-icon>
          </button>
          @if (ownComment) {
            <button
              mat-icon-button
              class="comment-action"
              matTooltip = "{{'comment.edit' | translate}}"
              (click)="setActiveComment.emit({ id: comment.id, type: activeCommentType.editing })">
              <studio-lite-wrapped-icon icon="edit"></studio-lite-wrapped-icon>
            </button>
          }
          @if (ownComment || adminMode) {
            <button
              mat-icon-button
              class="comment-action"
              matTooltip = "{{'comment.delete' | translate}}"
              (click)="deleteComment.emit({ commentId: comment.id, numberOfReplies: replies.length })">
              <studio-lite-wrapped-icon icon="delete"></studio-lite-wrapped-icon>
            </button>
          }
        </div>
      }
    </div>

    @if (replies.length) {
      @for (reply of replies; track reply) {
        <studio-lite-comment
          [comment]="reply"
          [activeComment]="activeComment"
          [parentId]="comment.id"
          [replies]="[]"
          [userId]="userId"
          [unitItems]="unitItems"
          [adminMode]="adminMode"
          [latestCommentId]="latestCommentId"
          (setActiveComment)="setActiveComment.emit($event)"
          (updateComment)="updateComment.emit($event)"
          (deleteComment)="deleteComment.emit($event)"
          (addComment)="addComment.emit($event)"
          studioLiteScrollCommentIntoView
          [id]="reply.id"
          [scrollTargetId]="latestCommentId">
        </studio-lite-comment>
      }
    }
  </div>
</div>
