.comment{
  margin-top: 10px;
}

:host ::ng-deep .comment-html {
  padding: 1px 15px 1px 15px;
  background-color: #f3f3f3;
  line-height: 1em;
  border-radius: 5px;
  min-width: 300px;
}

.own-comment {
  background-color: #00333322;
}

.comment-meta{
  font-size: 0.8em;
  color: #666666;
  margin-bottom: 2px;
  div {
    margin-right: 10px;
  }
}

.comment-action{
  color: #777;
  &:hover{
    color: #666666;
  }
}

.fx-flex-row-fix-150 {
  flex: 1 1 150px;
  box-sizing: border-box;
  max-width: 150px;
  min-width: 150px;
}

.fx-flex-row-fix-200 {
  flex: 1 1 200px;
  box-sizing: border-box;
  max-width: 200px;
  min-width: 200px;
}
