@if (isLoading) {
  <mat-spinner class="spinner"></mat-spinner>
}
@if (!isLoading && !isError) {
  <div class="state-container">
    @for (state of states ; track state) {
      <div class="state" >
        <mat-form-field class="color-form-field">
          <input matInput #colorInput
                 [id]="state.id.toString()"
                 class="color-input-field"
                 type="color"
                 [value]="state.color"
                 (input)="stateSelectionChange(colorInput.value,colorInput.type,colorInput.id)"/>
        </mat-form-field>
        <mat-form-field class="text-form-field">
          <input matInput
                 #textInput
                 [id]="state.id.toString()"
                 type="text"
                 [value]="state.label"
                 (input)="stateSelectionChange(textInput.value,textInput.type,textInput.id)"/>
        </mat-form-field>
        <button class="delete-button"
                [matTooltip]="'delete' | translate"
                color="primary"
                mat-icon-button
                matTooltipPosition="above"
                (click)="deleteState(state)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    }
  </div>
  <div class="add-state">
    <button mat-fab extended="true"
            color="primary"
            type="button"
            (click)="addState()">
      <mat-icon>add</mat-icon>
      {{'wsg-settings.add-state' | translate}}
    </button>
  </div>
}
@if (isError) {
  <mat-error>
    {{'metadata.error-states' | translate}}
  </mat-error>
}
