.state-container {
  padding: 15px;
}

.color-form-field {
  margin-right: 10px;
  max-width:50px;
}

.color-input-field{
  min-width:20px;
  min-height: 20px;
}

.text-form-field{
  width: 100%;
}

.state{
  display:flex;
  flex-direction: row;
  justify-content: start;
  align-content: center;
}

.add-state {
  position: sticky;
  bottom: 0;
}

.delete-button{
  margin-left:20px;
  margin-top :5px;
}

.spinner{
  margin: auto;
}
