<h3>{{'wsg-settings.state-configs' | translate}}</h3>
<div class="state-config">
  <div *ngFor="let state of states" >
    <mat-form-field class="color-form-field">
      <input matInput [id]="state.id.toString()"  class="color-input-field" type="color" [value]="state.color" (input)="stateSelectionChange($event)"/>
    </mat-form-field>
    <mat-form-field class="text-form-field">
      <input matInput [id]="state.id.toString()" type="text" [value]="state.label" (input)="stateSelectionChange($event)"/>
    </mat-form-field>
    <button class="delete-button" mat-icon-button (click)="deleteState(state)">
      <mat-icon>delete</mat-icon>
    </button>

  </div>
  <div class="add-state">
    <button (click)="addState()" mat-raised-button>{{'wsg-settings.add-state' | translate}}</button>
  </div>
</div>

