<div fxLayout="column" style="height: 100%">
  <h1 mat-dialog-title>{{ data.title }}</h1>

  <p *ngIf="!tableSelectionCheckbox.hasValue()">Bitte Aufgaben auswählen!</p>
  <p *ngIf="tableSelectionCheckbox.selected.length === 1">Eine Aufgabe ausgewählt.</p>
  <p *ngIf="tableSelectionCheckbox.selected.length > 1">{{tableSelectionCheckbox.selected.length}} Aufgaben ausgewählt.</p>

  <form [formGroup]="selectForm" fxLayout="column">
    <mat-form-field>
      <mat-select placeholder="Ziel-Arbeitsbereich" formControlName="wsSelector">
        <mat-option *ngFor="let ws of workspaceList" [value]="ws.id">
          {{ws.ws_group_name}}: {{ws.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <mat-dialog-content fxFlex>
    <mat-table [dataSource]="objectsDatasource" matSort>
      <ng-container matColumnDef="selectCheckbox">
        <mat-header-cell *matHeaderCellDef fxFlex="70px">
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="tableSelectionCheckbox.hasValue() && isAllSelected()"
                        [indeterminate]="tableSelectionCheckbox.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="70px">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tableSelectionCheckbox.toggle(row) : null"
                        [checked]="tableSelectionCheckbox.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Aufgabe </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.key}}-{{element.label}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="true" [disabled]="!tableSelectionCheckbox.hasValue() || selectForm.invalid">
      {{data.buttonLabel}}</button>
    <button mat-raised-button [mat-dialog-close]="false">Abbrechen</button>
  </mat-dialog-actions>
</div>
