<form [formGroup]="passwordform">
  <h1 mat-dialog-title>Sicherheitsabfrage Kennwort</h1>

  <mat-dialog-content>
    <div class="infobox">
      <p>Für die Funktion "{{data}}" ist es zur Sicherheit notwendig, dass Sie Ihr Kennwort nocheinmal eingeben.</p>
    </div>
    <p>
      <mat-form-field class="full-width">
        <input matInput type="password" formControlName="pw" placeholder="Kennwort">
      </mat-form-field>
    </p>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="passwordform" [disabled]="passwordform.invalid">Bestätigen</button>
    <button mat-raised-button [mat-dialog-close]="false">Abbrechen</button>
  </mat-dialog-actions>

</form>
