<h1 mat-dialog-title>{{ confirmData.title }}</h1>
<mat-dialog-content>
  <p [style]="confirmData.warning ? 'color:red': null "> {{ confirmData.content }} </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button
          color="primary"
          [disabled]="confirmData.warning"
          [mat-dialog-close]="confirmData.confirmButtonReturn">
    {{ confirmData.confirmButtonLabel }}
  </button>
  <button *ngIf="confirmData.confirmButton2Label"
          mat-raised-button
          [mat-dialog-close]="confirmData.confirmButton2Return">
    {{ confirmData.confirmButton2Label }}
  </button>
  <button mat-raised-button
          [mat-dialog-close]="false">
    {{'cancel' | translate}}
  </button>
</mat-dialog-actions>
