<div class="fx-column-start-stretch admin-tab-content">
  <div class="div-row fx-row-start-stretch">
    <div class="fx-flex-row-30">
      <mat-label>{{'settings.texts' | translate}}</mat-label>
    </div>
    <div class="fx-flex-row-70">
      <studio-lite-app-config></studio-lite-app-config>
    </div>
  </div>
  <div class="div-row fx-row-start-stretch">
    <div class="fx-flex-row-30">
      <mat-label>{{'settings.logo-and-colors' | translate}}</mat-label>
    </div>
    <div class="fx-flex-row-70">
      <studio-lite-app-logo></studio-lite-app-logo>
    </div>
  </div>
  <div class="div-row fx-row-start-stretch">
    <div class="fx-flex-row-30">
      <mat-label>{{'settings.unit-export-params' | translate}}</mat-label>
    </div>
    <div class="fx-flex-row-70">
      <app-unit-export-config></app-unit-export-config>
    </div>
  </div>
</div>
