<div class="fx-column-start-stretch admin-tab-content">
  <div class="div-row fx-row-start-stretch">
    <div class="fx-flex-row-10">
      <mat-label>{{'settings.texts' | translate}}</mat-label>
    </div>
    <div class="fx-flex-row-90 right-container">
      <studio-lite-app-config></studio-lite-app-config>
    </div>
  </div>
  <div class="div-row fx-row-start-stretch">
    <div class="fx-flex-row-10">
      <mat-label>{{'settings.logo-and-colors' | translate}}</mat-label>
    </div>
    <div class="fx-flex-row-90 right-container">
      <studio-lite-app-logo></studio-lite-app-logo>
    </div>
  </div>
  <div class="div-row fx-row-start-stretch">
    <div class="fx-flex-row-10">
      <mat-label>{{'settings.unit-export-params' | translate}}</mat-label>
    </div>
    <div class="fx-flex-row-90 right-container">
      <studio-lite-unit-export-config></studio-lite-unit-export-config>
    </div>
  </div>

  <div class="div-row fx-row-start-stretch">
    <div class="fx-flex-row-10">
      <mat-label>{{'settings.profiles-registry' | translate}}</mat-label>
    </div>
    <div class="fx-flex-row-90 right-container">
      <studio-lite-profiles-registry></studio-lite-profiles-registry>
    </div>
  </div>



  <div class="div-row fx-row-start-stretch">
    <div class="fx-flex-row-10">
      <mat-label>{{'settings.missings-profiles' | translate}}</mat-label>
    </div>
    <div class="fx-flex-row-90 right-container">
      <studio-lite-missings-profiles-config></studio-lite-missings-profiles-config>
    </div>
  </div>
</div>
