<button mat-button
        [style.width.%]="100"
        [matMenuTriggerFor]="menuOther"
        [matTooltip]="'workspace.more-unit-tasks' | translate"
        matTooltipPosition="above">
  <studio-lite-wrapped-icon icon="menu"></studio-lite-wrapped-icon>
</button>

<mat-menu #menuOther>
  <button *ngIf="workspaceService.isWorkspaceGroupAdmin"
          mat-menu-item
          (click)="settings()">
    <mat-icon>settings</mat-icon>
    {{ 'workspace.unit-settings' | translate }}
  </button>
  <button mat-menu-item
          (click)="manageGroups()">
    <mat-icon>format_align_right</mat-icon>
    {{ 'workspace.manage-groups' | translate }}
  </button>
  <button mat-menu-item
          (click)="reviews()">
    <mat-icon>slideshow</mat-icon>
    {{ 'workspace.reviews' | translate }}
  </button>
  <button mat-menu-item
          (click)="userList()">
    <mat-icon>people_alt</mat-icon>
    {{ 'workspace.unit-users' | translate }}
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item
          [matTooltip]="'workspace.download-unit' | translate"
          matTooltipPosition="right"
          (click)="exportUnit()">
    <mat-icon>get_app</mat-icon>
    {{ 'workspace.export' | translate }}
  </button>
  <button mat-menu-item
          [matTooltip]="'workspace.print' | translate"
          matTooltipPosition="right"
          (click)="printUnits()">
    <mat-icon>print</mat-icon>
    {{ 'workspace.print' | translate }}
  </button>
  <button mat-menu-item
          [matTooltip]="'workspace.metadata' | translate"
          matTooltipPosition="right"
          (click)="showMetadata()">
    <mat-icon>description</mat-icon>
    {{ 'workspace.metadata' | translate }}
  </button>
  <button mat-menu-item
          [matTooltip]="'workspace.move-unit' | translate"
          matTooltipPosition="right"
          (click)="moveOrCopyUnit(true)">
    <mat-icon>swap_horiz</mat-icon>
    {{ 'workspace.move-to' | translate }}
  </button>
  <button mat-menu-item
          [matTooltip]="'workspace.copy-unit' | translate"
          matTooltipPosition="right"
          (click)="moveOrCopyUnit(false)">
    <mat-icon>content_copy</mat-icon>
    {{ 'workspace.copy-to' | translate }}
  </button>
</mat-menu>
