<div class="fx-column-start-stretch">
  <div class="unit-info-comment-header">{{'review.comments' | translate}}</div>
  <studio-lite-unit-info-loader (onEnter)="updateContent()"></studio-lite-unit-info-loader>
  <div *ngIf="!_allComments.length">
    {{ (loader?.spinnerOn ? 'review.loading-comments' : 'review.no-comments') | translate }}
  </div>
  <div *ngFor="let c of _allComments"
       class="unit-info-comment-content" >
    <div class="fx-row-space-between-stretch">
      <h4>
        <mat-icon *ngIf="c.parentId">subdirectory_arrow_right</mat-icon>
        {{c.userName}}
      </h4>
      <p>{{c.changedAt | date : 'dd.MM.yyyy' : timeZone}}</p>
    </div>
    <div [innerHTML]="c.body"
         [class.reply-comment]="c.parentId">
    </div>
  </div>
</div>
