<div class="fx-column-start-stretch">
  <div class="unit-info-comment-header">{{'review.comments' | translate}}</div>
  <studio-lite-unit-info-loader (onEnter)="updateContent()"></studio-lite-unit-info-loader>
  @if (!_allComments.length) {
    <div>
      {{ (loader?.spinnerOn ? 'review.loading-comments' : 'review.no-comments') | translate }}
    </div>
  }
  @for (c of _allComments; track c) {
    <div
      class="unit-info-comment-content" >
      <div class="fx-row-space-between-stretch">
        <h4>
          @if (c.parentId) {
            <mat-icon>subdirectory_arrow_right</mat-icon>
          }
          {{c.userName}}
        </h4>
        <p>{{c.changedAt | date : 'dd.MM.yyyy' : timeZone}}</p>
      </div>
      <div [innerHTML]="c.body"
        [class.reply-comment]="c.parentId">
      </div>
    </div>
  }
</div>
