@for (profile of profiles; track profile) {
  <div class="profiles">
    @if (profile.isCurrent) {
      @for (entry of profile.entries; track entry) {
        <div class="fx-row-space-between-start">
          <span class="item-key">{{ entry.label[0].value }}</span>
          @if (entry.valueAsText) {
            @if (entry.valueAsText | isArray) {
              @if ((entry.valueAsText | cast: TextWithLanguageArray).length > 1) {
                <div>
                  @for (value of (entry.valueAsText | cast: TextWithLanguageArray); track value) {
                    <ul>
                      <li class="item-list-value">{{ value.value }}</li>
                    </ul>
                  }
                </div>
              }
              @if ((entry.valueAsText | cast: TextWithLanguageArray).length === 1) {
                <span
                  class="item-value">
                    {{ (entry.valueAsText | cast: TextWithLanguageArray)[0].value }}
                  </span>
              }
              @if ((entry.valueAsText | cast: TextWithLanguageArray).length === 0) {
                <span>-</span>
              }
            } @else {
              <span class="item-value">
                {{ (entry.valueAsText | cast: TextWithLanguage).value }}
              </span>
            }
          }
        </div>
      }
    }
  </div>
}
