@use '../iqb-theme3.scss';

.material-icons {
  font-size: 2.0rem;
  line-height: 24px;
}

.mat-button {
  text-align: right;
}

.white-color {
  color: white;
}

:host::ng-deep .underlined-icon {
  mat-icon {
    border-bottom: 2px solid white;
    padding-bottom: 3px;
    margin-bottom: -5px;
  }
}


.header {
  border-bottom: 1px solid #ffffff50;
}

.app-title {
  font-size: 24px;
  letter-spacing: 1.2px;
  font-weight: 400;
  margin-left: 10px;
}


.error-icon {
  font-size: 25px;
}

.fx-flex-fix-100 {
  flex: 1 1 100px;
  box-sizing: border-box;
  max-height: 100px;
  min-height: 100px;
  width: 100px;
  height: 100px;
}
