<div class="spinner-container" *ngIf="appService.dataLoading"
     fxLayout="column" fxLayoutAlign="start center">
  <mat-spinner fxFlex="100px"></mat-spinner>
  <button mat-button *ngIf="dataLoadingIsNumber()" fxFlex>{{dataLoadingAsText()}}</button>
</div>
<div class="page-title" fxLayout="row" fxLayoutAlign="space-between center">
  <a [routerLink]="['/']">
    <img class="logo" [src]="appService.appLogo?.data" [alt]="appService.appLogo ? appService.appLogo.alt : 'Startseite'"
         [matTooltip]="appService.appLogo ? appService.appLogo.alt : 'Startseite'"/>
  </a>
  <div>{{ appService.appConfig?.appTitle }}</div>
  <div *ngIf="appService.appConfig?.pageTitle">{{ appService.appConfig?.pageTitle }}</div>
</div>

<router-outlet></router-outlet>
