@import '~@angular/material/theming';
@import '../iqb-theme3.scss';

.itp-fill-remaining-space {
  flex: 1 1 auto;
}

.mat-toolbar {
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 70px;
  font-family: inherit;
  /* background-color: #003333; */
  background-color: #003333;
  color: white;
}

mat-toolbar > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.material-icons {
  font-size: 2.0rem;
  line-height: 24px;
}

.mat-button {
  text-align: right;
}
