.home-body {
  position: absolute;
  width: 100%;
  top: 70px;
  bottom: 0;
  overflow-y: auto;
  max-height: calc(100% - 65px);
}

.box {
  border-radius: 4px;
}

.box-right, .box-left {
  padding: 20px;
  margin: 10px;
  flex-grow: 0;
  flex-basis: 400px;
  max-width: 400px;
}

.box-right {
  background-color: var(--st-box-background);
  flex-shrink: 2;
}

.box-left {
  background: white;
  flex-shrink: 0;
}


