.home-body {
  position: absolute;
  width: 100%;
  top: 70px;
  bottom: 0;
  overflow-y: auto;
  //border-top: 1px solid #ffffff40;
  background-color: #ffffff20;
  max-height: calc(100% - 65px);
}

.box {
  border-radius: 20px;
}

.box-right, .box-left {
  padding: 20px;
  margin: 40px 20px 40px 20px;
  flex-grow: 0;
  min-width: 400px;
  flex-basis: 40%;
  max-width: 600px;
}

.box-right {
  background-color: var(--st-box-background);
}

.box-left {
  background: white;
  flex-shrink: 0;
}


