.workspace-group-header {
  padding: 4px 0 4px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  div {
    line-height: 2.0em;
    font-size: larger;
    font-weight: normal;
  }
}

.workspace-group-container {
  border-radius: 5px;
}

.admin-button {
  line-height: 24px;
  color: #006064;
}
