.workspace-group-header {
  padding: 4px 0 4px 10px;
  //border-radius: 4px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #eee;
  div {
    font-size: larger;
    font-weight: normal;
  }
}

.workspace-group-container {
  border-radius: 5px;
}

.workspaces {
  padding-top: 5px;
  padding-bottom: 5px;
}

.admin-button {
  line-height: 24px;
}
