<div class="page-body">
  <div fxLayout="row" fxLayoutAlign="center start">
    <mat-card fxFlex="0 2 500px">
      <mat-card-title>{{mds.appConfig?.app_title}} - Impressum/Datenschutz</mat-card-title>

      <!-- - - - - - - - - - - - - - - - - -->
      <mat-card-content>
        <div [innerHTML]="mds.appConfig?.trusted_impressum_html"></div>
        <!--<p>
            <em>Postanschrift:</em><br/>
            Humboldt-Universität zu Berlin<br/>
            Institut zur Qualitätsentwicklung im Bildungswesen<br/>
            Unter den Linden 6<br/>
            10099 Berlin</p>
        <p>
            <em>Sitz:</em><br/>
            Luisenstr. 56<br/>
            10117 Berlin<br/>
            Tel: +49 [30] 2093 - 46500 (Zentrale)<br/>
            Fax: +49 [30] 2093 - 46599<br/>
            E-Mail: <a href="mailto:iqboffice@iqb.hu-berlin.de">iqboffice@iqb.hu-berlin.de</a>
        </p>
        <p>
            <em>Name und Anschrift der Datenschutzbeauftragten</em><br/>
            Frau Gesine Hoffmann-Holland<br/>
            Tel: +49 (30) 2093-2591<br/>
            E-Mail: datenschutz@uv.hu-berlin.de<br/>
            <a href="http://www.hu-berlin.de/de/datenschutz" target="_blank">www.hu-berlin.de/de/datenschutz</a>
        </p>-->
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="foreground" [routerLink]="['/']">Startseite</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
