<div class="rich-notes-container">
  @if (canWrite) {
    <div class="actions">
      <button mat-raised-button color="primary" (click)="openNoteDialog()">
        {{ 'workspace.add-rich-note' | translate }}
      </button>
    </div>
  }

  <div class="notes-list">
    @for (note of notes; track note.id) {
      <div class="note-card">
        <div class="note-header">
          <h3>{{ note.tagId }}</h3>
          @if (canWrite) {
            <div class="note-actions">
              <button mat-icon-button (click)="openNoteDialog(note)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteNote(note.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          }
        </div>
        <div class="note-content" [innerHTML]="note.content"></div>
        @if (note.links && note.links.length > 0) {
          <div class="note-links">
            <h4>{{ 'workspace.links' | translate }}</h4>
            <ul>
              @for (link of note.links; track link.url) {
                <li>
                  <a [href]="link.url" target="_blank">
                    {{ link.label[0]?.value || link.url }}
                  </a>
                  @if (link.type) {
                    <span class="link-type">({{ link.type }})</span>
                  }
                </li>
              }
            </ul>
          </div>
        }
      </div>
    }
  </div>
</div>
