<button mat-button
         [matMenuTriggerFor]="menuOther"
         matTooltip="Weitere Funktionen..."
         matTooltipPosition="above">
  <mat-icon>menu</mat-icon>
</button>

<mat-menu #menuOther>
  <button *ngIf="workspaceService.isWorkspaceGroupAdmin"
          mat-menu-item
          (click)="settings()">
    <mat-icon>settings</mat-icon>Einstellungen
  </button>
  <button mat-menu-item (click)="manageGroups()">
    <mat-icon>format_align_right</mat-icon>Gruppen verwalten
  </button>
  <button mat-menu-item (click)="reviews()">
    <mat-icon>slideshow</mat-icon>Aufgabenfolgen
  </button>
  <button mat-menu-item (click)="userList()">
    <mat-icon>people_alt</mat-icon>Nutzer:innen
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="exportUnit()"
          matTooltip="Aufgaben als Datei herunterladen"
          matTooltipPosition="right">
    <mat-icon>get_app</mat-icon>Export
  </button>
  <button mat-menu-item (click)="moveOrCopyUnit(true)"
          matTooltip="Aufgaben in anderen Arbeitsbereich verschieben"
          matTooltipPosition="right">
    <mat-icon>swap_horiz</mat-icon>Verschieben
  </button>
  <button mat-menu-item (click)="moveOrCopyUnit(false)"
          matTooltip="Aufgaben in anderen Arbeitsbereich kopieren"
          matTooltipPosition="right">
    <mat-icon>content_copy</mat-icon>Kopieren nach...
  </button>
</mat-menu>
