:host ::ng-deep div.ProseMirror {
  height: 100px;
  border: 1px solid;
  overflow: auto;
}

:host ::ng-deep .ProseMirror p strong {
  letter-spacing: 0.04em !important;
  font-weight: 600 !important;
}

button.active {
  background-color: lightgrey;
}
