<div class="editor-container">
  <div fxLayout="row"
       fxLayoutAlign="end"
       class="editor-menubar">
    <button type="button" mat-icon-button
            matTooltip="{{'comment-editor.bold' | translate}}"
            [matTooltipPosition]="'above'"
            [matTooltipShowDelay]="300"
            [class.active]="editor.isActive('bold')"
            (click)="toggleBold()">
      <mat-icon>format_bold</mat-icon>
    </button>
    <button type="button" mat-icon-button
            matTooltip="{{'comment-editor.italic' | translate}}"
            [matTooltipPosition]="'above'"
            [matTooltipShowDelay]="300"
            [class.active]="editor.isActive('italic')"
            (click)="toggleItalic()">
      <mat-icon>format_italic</mat-icon>
    </button>
    <button type="button" mat-icon-button
            matTooltip="{{'comment-editor.underline' | translate}}"
            [matTooltipPosition]="'above'"
            [matTooltipShowDelay]="300"
            [class.active]="editor.isActive('underline')"
            (click)="toggleUnderline()" style="text-decoration: underline">
      <mat-icon>format_underlined</mat-icon>
    </button>
    <button type="button" mat-icon-button
            matTooltip="{{'comment-editor.superscript' | translate}}"
            [matTooltipPosition]="'above'"
            [matTooltipShowDelay]="300"
            [class.active]="editor.isActive('superscript')"
            (click)="toggleSuperscript()">
      <mat-icon>superscript</mat-icon>
    </button>
    <button type="button" mat-icon-button
            matTooltip="{{'comment-editor.subscript' | translate}}"
            [matTooltipPosition]="'above'"
            [matTooltipShowDelay]="300"
            [class.active]="editor.isActive('subscript')"
            (click)="toggleSubscript()">
      <mat-icon>subscript</mat-icon>
    </button>
    <button type="button" mat-icon-button
            matTooltip="{{'comment-editor.strike' | translate}}"
            [matTooltipPosition]="'above'"
            [matTooltipShowDelay]="300"
            [class.active]="editor.isActive('strike')"
            (click)="toggleStrike()">
      <mat-icon>strikethrough_s</mat-icon>
    </button>
    <div fxLayout="row"
         matTooltip="{{'comment-editor.text-color' | translate}}"
         [matTooltipPosition]="'above'">
      <button type="button"
              mat-icon-button
              (click)="applyFontColor()">
        <mat-icon>format_color_text</mat-icon>
      </button>
      <mat-select
        class="editor-color-select-button"
        [style.background-image]="'linear-gradient(135deg, white 60%, ' + selectedFontColor +' 60%)'"
        (click)="textColorInput.click()">
      </mat-select>
      <input matInput
             type="color"
             #textColorInput hidden
             (input)="selectedFontColor = $any($event.target).value; applyFontColor()">
    </div>
    <div fxLayout="row"
         matTooltip="{{'comment-editor.text-background' | translate}}"
         [matTooltipPosition]="'above'">
      <button type="button"
              mat-icon-button
              (click)="applyHighlightColor()">
        <mat-icon>format_color_fill</mat-icon>
      </button>
      <mat-select class="editor-color-select-button"
                  [style.background-image]="'linear-gradient(135deg, white 60%, ' + selectedHighlightColor +' 60%)'"
                  (click)="textHighlightColorInput.click()">
      </mat-select>
      <input matInput
             type="color"
             #textHighlightColorInput hidden
             (input)="selectedHighlightColor = $any($event.target).value; applyHighlightColor()">
    </div>
    <button type="button"
            mat-icon-button
            matTooltip="{{'comment-editor.enumeration' | translate}}"
            [matTooltipPosition]="'above'"
            [class.active]="editor.isActive('bulletList')"
            (click)="toggleBulletList()">
      <mat-icon>format_list_bulleted</mat-icon>
    </button>
    <button type="button"
            mat-icon-button
            matTooltip="{{'comment-editor.image' | translate}}"
            [matTooltipPosition]="'above'"
            (click)="addImage()">
      <mat-icon>image</mat-icon>
    </button>
  </div>
  <div fxLayout="row" class="editor-area">
    <tiptap-editor class="tip-tap-editor" fxFlex
                   [editor]="editor"
                   mat-dialog-content
                   [style.font-size.px]="16">
    </tiptap-editor>
    <div class="editor-actions"
         fxLayout="column"
         fxLayoutAlign="space-between end">
      <button mat-icon-button
              matTooltip="{{'comment-editor.cancel' | translate}}"
              [matTooltipPosition]="'above'"
              (click)="onReset()"
              class="reset-button">
        <mat-icon>close</mat-icon>
      </button>
      <button mat-fab
              color="primary"
              matTooltip="{{ submitLabel | translate}}"
              [matTooltipPosition]="'above'"
              (click)="onSubmit()"
              class="submit-button">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
