<button mat-raised-button
        [matMenuTriggerFor]="menuNew"
        matTooltip="Aufgabe(n) hinzufügen"
        matTooltipPosition="above">
  <mat-icon>add</mat-icon>
</button>

<mat-menu #menuNew>
  <button mat-menu-item (click)="hiddenFileInput.click()">
    <mat-icon>input</mat-icon>Import von Datei(en)
  </button>
  <button mat-menu-item (click)="addUnitFromExisting()">
    <mat-icon>content_copy</mat-icon>Neu von vorhandener Aufgabe
  </button>
  <button mat-menu-item (click)="addUnit()">
    <mat-icon>add</mat-icon>Neu (leer)
  </button>
</mat-menu>

<input #hiddenFileInput type="file"
       name="files" accept=".xml,.voud,.zip"
       multiple hidden="true"
       (change)="onFileSelected($event.currentTarget)"/>
