mat-dialog-content{
  padding:0!important;

}


table {
  width: 80%;
  height:500px;
  overflow: scroll;
}

tr{
  padding: 10px;
}

.filter{
  margin-top:10px;
  width: 100%;
}

.mat-mdc-tab-group{
  height: 800px;
}
