<div [class.with-header]="reviewService.bookletConfig.unitScreenHeader !== 'OFF'"
  [class.with-title]="reviewService.bookletConfig.unitTitle === 'ON'">
  @if (reviewService.bookletConfig?.unitTitle === 'ON') {
    <div
      class="unit-title fx-column-center-center">
      <p>{{reviewService.pageHeaderText}}</p>
    </div>
  }
  @if (reviewService.bookletConfig?.unitScreenHeader !== 'OFF') {
    <div
      class="header fx-row-space-between-center">
      <div>
        <h1>{{reviewService.screenHeaderText}}</h1>
      </div>
      @if (reviewService.bookletConfig?.unitNaviButtons !== 'OFF') {
        <studio-lite-unit-nav>
        </studio-lite-unit-nav>
      }
    </div>
  }
  @if (reviewService.reviewConfig.canComment) {
    <studio-lite-add-comment-button
      [showOthersComments]="reviewService.reviewConfig.showOthersComments || false"
      [unitDbId]="reviewService.unitDbId">
    </studio-lite-add-comment-button>
  }
  <div class="page-host">
    <router-outlet></router-outlet>
  </div>
</div>
