<div class="fx-row-end-center">

  <select class="sort-items" [ngModel]="itemSortService.currenItemSorting"
          (ngModelChange)="sortItems($event)">
    @for (sorting of itemSortService.itemSortings; track sorting) {
      <option [value]="sorting">
        {{'metadata.sort-by-'+sorting | translate}}
      </option>
    }
  </select>

  @if (!isTextOnlyView) {
    <button type="button" mat-icon-button
            matTooltip="{{'metadata.items-read-only-view' | translate}}"
            [matTooltipPosition]="'above'"
            [matTooltipShowDelay]="300"
            (click)="togglePresentation()">
      <studio-lite-wrapped-icon icon="visibility"></studio-lite-wrapped-icon>
    </button>
  }

  @if (isTextOnlyView) {
    <button type="button" mat-icon-button
            matTooltip="{{'metadata.items-editable-view' | translate}}"
            [matTooltipPosition]="'above'"
            [matTooltipShowDelay]="300"
            (click)="togglePresentation()">
      <studio-lite-wrapped-icon icon="edit"></studio-lite-wrapped-icon>
    </button>
  }

</div>
@if (!isTextOnlyView) {
  <div>
    @for (item of items; track item; let i = $index) {
      <div>
        <div class="fx-row-space-between-start">
          <studio-lite-item
            [variables]="variables"
            [itemIndex]="i"
            [metadata]="items"
            [language]="language"
            [profile] = profile
            (metadataChange)="onMetadataChange($event)">
          </studio-lite-item>
          <button mat-icon-button
            color="primary"
            type="button"
            (click)="remove(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    }
    <button mat-fab extended="true"
            color="primary"
            type="button"
            class="add-button"
            (click)="add()">
      <mat-icon>add</mat-icon>
      {{'metadata.add-item' | translate}}
    </button>
  </div>
}
@if (isTextOnlyView) {
  <div>
    <studio-lite-metadata-readonly-items [items]="items">
    </studio-lite-metadata-readonly-items>
  </div>
}



