<div class="fx-row-end-center">
  <button type="button" mat-icon-button
          matTooltip="{{'metadata.items-read-only-view' | translate}}"
          [matTooltipPosition]="'above'"
          [matTooltipShowDelay]="300"
          (click)="togglePresentation()"
          *ngIf="!isTextOnlyView">
    <studio-lite-wrapped-icon icon="visibility"></studio-lite-wrapped-icon>

  </button>
  <button type="button" mat-icon-button
          matTooltip="{{'metadata.items-editable-view' | translate}}"
          [matTooltipPosition]="'above'"
          [matTooltipShowDelay]="300"
          (click)="togglePresentation()"
          *ngIf="isTextOnlyView">
    <studio-lite-wrapped-icon icon="edit"></studio-lite-wrapped-icon>
  </button>
</div>
<div *ngIf="!isTextOnlyView">
  <div *ngFor="let item of items; let i = index">
    <div class="fx-row-space-between-start">
      <studio-lite-item
        [variables]="variables"
        [itemIndex]="i"
        [metadata]="metadata[metadataKey]"
        [language]="language"
        [profileUrl]="profileUrl"
        (metadataChange)="onMetadataChange($event)">
      </studio-lite-item>
      <button mat-icon-button
              color="primary"
              type="button"
              (click)="remove(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <button mat-fab extended
          color="primary"
          type="button"
          class="add-button"
          (click)="add()">
    <mat-icon>add</mat-icon>
    Item hinzufügen
  </button>
</div>
<div *ngIf="isTextOnlyView">
  <div *ngFor="let item of items">
    <h4 class="item-id">{{item.id || 'metadata.without-id' | translate}}</h4>
    <div class="fx-row-space-between-start">
      <span class="item-key">Wichtung</span>
      <span>{{item.weighting || '-'}}</span>
    </div>
    <div class="fx-row-space-between-start">
      <span class="item-key">Variablen Id</span>
      <span>{{item.variableId || '-'}}</span>
    </div>
    <div class="fx-row-space-between-start">
      <span class="item-key">Notiz</span>
      <div>{{item.description || '-'}}</div>
    </div>
    <div *ngFor="let profile of item.profiles">
      <div *ngIf="profile.isCurrent">
        <div *ngFor="let entry of profile.entries">
          <div class="fx-row-space-between-start">
            <span class="item-key">{{entry.label[0].value}}</span>
            <div *ngIf="entry.valueAsText?.length > 1">
              <ul *ngFor="let value of entry.valueAsText">
                <li>{{value.value}}</li>
              </ul>
            </div>
            <span *ngIf="entry.valueAsText">{{entry.valueAsText?.value }}</span>
            <span *ngIf="entry.valueAsText?.length === 1">{{ entry.valueAsText[0]?.value }}</span>
            <span *ngIf="entry.valueAsText?.length === 0">-</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



