<div class="fx-column-start-stretch">
  <mat-checkbox [disabled]="disabled"
                [(ngModel)]="reviewConfig.showMetadata"
                (change)="configChanged.emit(reviewConfig);">
    {{'workspace.review-show-metadata' | translate}}
  </mat-checkbox>
  <mat-checkbox [disabled]="disabled"
                [(ngModel)]="reviewConfig.showCoding"
                (change)="configChanged.emit(reviewConfig)">
    {{'workspace.review-show-codes' | translate}}
  </mat-checkbox>
  <mat-checkbox [disabled]="disabled"
                [(ngModel)]="reviewConfig.canComment"
                (change)="configChanged.emit(reviewConfig)">
    {{'workspace.review-allow-comments' | translate}}
  </mat-checkbox>
  <mat-checkbox [disabled]="disabled"
                [(ngModel)]="reviewConfig.showOthersComments"
                (change)="configChanged.emit(reviewConfig);">
    {{'workspace.review-show-comments' | translate}}
  </mat-checkbox>
</div>
