<form [formGroup]="newuserform">
  <h1 mat-dialog-title>Neue/r Nutzer/in</h1>

  <mat-dialog-content fxLayout="column">
    <p>
      Name und Kennwort müssen mindestens drei Zeichen lang sein und dürfen keine Leerzeichen enthalten.
    </p>
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Name" [value]="data.name">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" formControlName="pw" placeholder="Kennwort">
    </mat-form-field>
    <p>
      Nach dem Anlegen des Nutzers können Sie die Rechte zuweisen.
    </p>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="newuserform" [disabled]="newuserform.invalid">Speichern</button>
    <button mat-raised-button [mat-dialog-close]="false">Abbrechen</button>
  </mat-dialog-actions>

</form>
