<mat-table matSort
  matSortDisableClear
  matSortActive="key"
  matSortDirection="asc"
  [dataSource]="dataSource"
  (matSortChange)="onSortChange($event)">
  <ng-container matColumnDef="key">
    <mat-header-cell class="unit-cell" *matHeaderCellDef
      mat-sort-header
      [sortActionDescription]="'workspace.sort-by-key' | translate">
      {{'workspace.unit-key' | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let element" class="unit-cell fx-gap-2">
      <div
        [style.opacity]="(element | hasNewComments) ? 1: 0"
        class="new-comments"
        [matTooltip]="(element | hasNewComments) ? ('workspace.new-comments' | translate) : ''">
      </div>
      <div [style.opacity]="element.sourceWorkspaceId ? 1: 0"
           [matTooltip]=" element | unitDropBoxTooltip"
           [class]="element.returned ? 'returned' : 'submitted'">
      </div>
      <div [style.opacity]="(element.state | state:'color': this.states) ? 1: 0"
           [style.background-color]="(element.state | state:'color': this.states)"
           class="state"
           [matTooltip]="(element.state | state:'label': this.states)">
      </div>
      <span class="unit-key">{{element.key}}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell class="unit-cell" *matHeaderCellDef
      mat-sort-header
      [sortActionDescription]="'workspace.sort-by-name' | translate">
      {{'workspace.unit-name' | translate}}
    </mat-header-cell>
    <mat-cell class="unit-cell"
      *matCellDef="let element">
      {{element.name}}
    </mat-cell>
  </ng-container>

  @if (hasSortHeader) {
    <mat-header-row class="unit-sort"
      *matHeaderRowDef="displayedColumns; sticky: true">
    </mat-header-row>
  }
  <mat-row class="unit-row"
    [class.selected]="selectedUnitId===row.id"
    *matRowDef="let row; columns: displayedColumns;"
    (click)="onUnitClick(row.id)">
  </mat-row>
</mat-table>
