<div class="fx-column-start-stretch unit-list-wrapper">
  @if (multipleSelection) {
    <div>
      @if (selectionCount === 0) {
        <p>{{'workspace.select-unit' | translate}}</p>
      }
      @if (selectionCount === 1) {
        <p>{{'workspace.unit-selected' | translate}}</p>
      }
      @if (selectionCount > 1) {
        <p>{{selectionCount}} {{'workspace.units-selected' | translate}}</p>
      }
    </div>
  }

  <studio-lite-search-filter [title]="'search-filter.filter-units' | translate"
    (valueChange)="objectsDatasource.filter = $event.trim().toLowerCase()">
  </studio-lite-search-filter>

  <mat-table class="unit-list"
    matSortDisableClear
    matSortActive="key"
    matSortDirection="asc"
    matSort
    [dataSource]="objectsDatasource">
    <ng-container matColumnDef="selectCheckbox">
      <mat-header-cell *matHeaderCellDef  class="fx-flex-row-fix-70">
        <mat-checkbox (change)="$event ? masterToggle() : null"
          [checked]="(tableSelectionCheckboxes | hasSelectionValue : tableSelectionCheckboxes.selected.length) &&  (tableSelectionCheckboxes.selected.length | isAllSelected : objectsDatasource.data.length)"
          [indeterminate]="(tableSelectionCheckboxes | hasSelectionValue : tableSelectionCheckboxes.selected.length) && !(tableSelectionCheckboxes.selected.length | isAllSelected : objectsDatasource.data.length)">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="fx-flex-row-fix-70">
        <mat-checkbox (click)="$event.stopPropagation()"
          [disabled]="disabledUnits | include : row.id"
          (change)="$event ? tableSelectionCheckboxes.toggle(row) : null"
          [checked]="tableSelectionCheckboxes | isSelected: row : tableSelectionCheckboxes.selected.length">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="key">
      <mat-header-cell *matHeaderCellDef mat-sort-header="key">{{'workspace.unit' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element"
        [class.disabled-element]="disabledUnits | include : element.id">
        {{element.key}}{{element.name ? ' - ' + element.name : ''}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="groupName">
      <mat-header-cell *matHeaderCellDef mat-sort-header="groupName">{{'workspace.group' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element"
        [class.disabled-element]="disabledUnits | include : element.id">
        {{element.groupName}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
