mat-dialog-content{
  padding:0!important;
}

table {
  width: 80%;
  overflow: scroll;
}

td{
  padding: 10px !important;
}

.filter{
  margin-top:10px;
  width: 100%;
}

.mat-mdc-cell {
  vertical-align: top;
}

