<div class="fx-row-start-center">
  <div>
    <h2 *ngIf="data.report === 'items'" mat-dialog-title>{{ 'metadata.items-table-overview' | translate }}</h2>
    <h2 *ngIf="data.report === 'units'" mat-dialog-title>{{ 'metadata.unit-table-overview' | translate }}</h2>
  </div>
  <button type="button" mat-icon-button [matTooltip]=" 'excel-download' | translate"
          (click)="data.report === 'items' ? downloadItemsMetadata(): downloadUnitsMetadata()">
    <studio-lite-wrapped-icon icon="save_alt"></studio-lite-wrapped-icon>
  </button>
</div>
<mat-dialog-content>
  <table mat-table [dataSource]="tableData" *ngIf="data.report === 'items'">
    <ng-container [matColumnDef]="column" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{ column }}</th>
      <td mat-cell [innerHTML]="element[column]" *matCellDef="let element"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>

  <table mat-table [dataSource]="tableData" *ngIf="data.report === 'units'">
    <ng-container [matColumnDef]="column" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{ column }}</th>
      <td mat-cell *matCellDef="let element"> {{ element[column] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button
          color="primary"
          type="submit"
          [mat-dialog-close]="">
    {{ 'close' | translate }}
  </button>
</mat-dialog-actions>
