<div class="fx-column-start-stretch full-height comments-container">
  @if (isCommentProcessing) {
    <div class="spinner-container">
      <mat-spinner class="fx-flex-fix-100" ></mat-spinner>
    </div>
  }
  @if (!newCommentOnly) {
    <studio-lite-comment-item-filter class="filter-button"
                                     [(filteredItems)]="filteredItems"
                                     [unitItems]="unitItems"
                                     [disabled] ="!rootCommentsWithReplies || !rootCommentsWithReplies.length"
                                     [showHiddenComments]="showHiddenComments">
    </studio-lite-comment-item-filter>

    <div class="comments fx-flex-fill">
      @for (rootComment of rootCommentsWithReplies | filteredRootComments : filteredItems; track rootComment) {
        @if (!rootComment.rootComment.hidden || (rootComment.rootComment.hidden && showHiddenComments.value)) {
          <studio-lite-comment
            [showHiddenComments]="showHiddenComments"
            [comment]="rootComment.rootComment"
            [userId]="userId"
            [unitItems]="unitItems"
            [replies]="(rootComment.replies | filteredComments : filteredItems)"
            [activeComment]="activeComment"
            [latestCommentId]="latestCommentId"
            [adminMode]="adminMode"
            (setActiveComment)="setActiveComment($event)"
            (addComment)="addComment($event)"
            (deleteComment)="deleteComment($event)"
            (updateComment)="updateComment($event)"
            (toggleVisibility)="toggleVisibility($event)"
            studioLiteScrollCommentIntoView
            [id]="rootComment.rootComment.id"
            [scrollTargetId]="latestCommentId">
          </studio-lite-comment>
        }
      }
    </div>
  }

  <div class="new-comment">
    <studio-lite-comment-editor
      submitLabel="comments.send-comment"
      [unitItems]="unitItems"
      [placeholder]="'comments.write-comment' | translate"
      (handleSubmit)="addComment({ text: $event.text, parentId: null, items: $event.items })">
    </studio-lite-comment-editor>
  </div>
</div>
