.full-height {
  height: 100%;
}

.comments{
  overflow: auto;
  flex: 1 1 0.000000001px;
  box-sizing: border-box;
}

.comments-container {
  padding: 0 10px 20px 10px;
}


.filter-button {
  position: absolute;
  top: 55px;
  right: 10px;
  z-index: 1000;
}
