.scroll-area {
  height: calc(100% - 35px);
  overflow: hidden;
}

.card-scroll-area {
  overflow: auto;
}

.profiles-container {
  padding: 20px
}

.container{
  height: 100%
}

.card-header {
  margin-left: 10px !important;
  margin-bottom: 20px;
}

.save-button{
  position: absolute;
  top: 65px;
  right: 60px;
}
