.scroll-area {
  height: calc(100% - 35px);
  overflow-y: auto;
}

.card-scroll-area {
  overflow: auto;
}

.profiles-container {
  padding: 20px
}

.fx-flex-row-50 {
  flex: 1 1 50%;
  box-sizing: border-box;
  max-width: 50%;
}

.fx-flex-row-100 {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 100%;
  padding-bottom: 20px;
}

.container{
  box-sizing: border-box;
}

.card-header {
  margin-left: 10px !important;
  margin-bottom: 20px;
}

.save-button{
  position: absolute;
  top: 65px;
  right: 60px;
}
