<div class="scroll-area">
    <div class="fx-row-space-between-stretch container">
      <div class="fx-flex-row-50 profiles-container">
        <mat-card class="container">
          <mat-card-header>
            <mat-card-title class="card-header">{{'metadata.assign-metadata-profiles' | translate}}</mat-card-title>
          </mat-card-header>
          <mat-card-content class="card-scroll-area">
            <studio-lite-profiles class="profiles"
                                  (hasChanged) = profileSettingsChange($event) >
            </studio-lite-profiles>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="fx-flex-row-50 profiles-container">
        <mat-card class="container">
          <mat-card-header>
            <mat-card-title>{{'wsg-settings.state-configs' | translate}}</mat-card-title>
          </mat-card-header>
          <mat-card-content class="card-scroll-area">
            <studio-lite-states class="states"
                                (hasChanged) = stateSettingsChange($event)
                                (stateDeleted)=saveGroupSettings()>
            </studio-lite-states>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  <div class="fx-row-end-end ">
    <button mat-fab
            class="save-button"
            [matTooltip]="'save' | translate"
            matTooltipPosition="above"
            [color]="'primary'"
            [disabled]="!this.wsgAdminService.settingsChanged"
            (click)="saveGroupSettings()"
            data-cy="wsg-admin-settings-save-button">
      <mat-icon>save></mat-icon>
    </button>
  </div>
</div>


