<div class="group-list-buttons fx-row-start-stretch">
  <button mat-button
          class="fx-flex-row-33"
          [matTooltip]="'workspace.add-group' | translate"
          matTooltipPosition="above"
          (click)="addGroup()">
    <studio-lite-wrapped-icon icon="add"></studio-lite-wrapped-icon>
  </button>
  <button mat-button
          class="fx-flex-row-33"
          [matTooltip]="'workspace.rename-group' | translate"
          [disabled]="!selectedGroup"
          matTooltipPosition="above"
          (click)="renameGroup()">
    <studio-lite-wrapped-icon icon="edit"></studio-lite-wrapped-icon>
  </button>
  <button mat-button
          class="fx-flex-row-33"
          [matTooltip]="'workspace.delete-group' | translate"
          [disabled]="!selectedGroup"
          matTooltipPosition="above"
          (click)="deleteGroup()">
    <studio-lite-wrapped-icon icon="delete"></studio-lite-wrapped-icon>
  </button>
</div>
