.cell-name {
  padding-left: 16px;
}

.fx-flex-row-fix-70 {
  flex: 1 1 70px;
  box-sizing: border-box;
  max-width: 70px;
  min-width: 70px;
}

.fx-flex-row-fix-80 {
  flex: 1 1 80px;
  box-sizing: border-box;
  max-width: 80px;
  min-width: 80px;
}

.fx-flex-row-fix-100 {
  flex: 1 1 100px;
  box-sizing: border-box;
  max-width: 100px;
  min-width: 100px;
}

.fx-flex-row-fix-160 {
  flex: 1 1 160px;
  box-sizing: border-box;
  max-width: 160px;
  min-width: 160px;
}
