.reply {
  margin-left: 30px;
}

.comment {
  margin-left: 20px;
}

.comment-user {
  font-size: 16px;
}

.comment-date {
  font-weight: normal;
  margin-left: 10px;
}

.comment-item {
  font-weight: normal;
  margin-left: 2px;
}

.comment-items {
  @extend .comment-date;
}
