<div [hidden]="hasListEntries">
  <p>Kein {{ moduleType }} in diesem System verfügbar.</p>
</div>
<form [formGroup]="moduleForm" *ngIf="hasListEntries" fxFlex>
  <p *ngIf="isEmpty">{{'modules.'+moduleType+'-name' | translate}} ist nicht definiert.</p>
  <p *ngIf="!isValid">{{'modules.'+moduleType+'-name' | translate}} ist ungültig ({{selectedModuleId}}).</p>
  <p *ngIf="moduleSubstitute">Das Modul mit der Kennung "{{selectedModuleId}}" ist nicht in diesem System verfügbar.
    Es wird statt dessen "{{moduleSubstitute}}" benutzt.</p>
  <div fxLayout="column">
    <mat-form-field>
      <mat-select [placeholder]="'modules.'+moduleType+'-name' | translate" formControlName="moduleSelector">
        <mat-option *ngFor="let m of moduleList.getEntries(stableOnly)" [value]="m.key">
          {{m.metadata?.name}} {{m.metadata?.version}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
