<form [formGroup]="unitForm" fxFlex>
  <div fxLayout="row wrap" style="margin: 10px" fxLayoutGap="50px" fxLayoutAlign="space-between start" fxFlex>
    <div fxLayout="column" fxFlex="1 0 300px">
      <mat-form-field>
        <mat-label>Kurzname</mat-label>
        <input matInput formControlName="key" placeholder="Kurzname">
        <mat-error *ngIf="unitForm.get('key')?.invalid">
          Zu kurz oder schon vorhanden
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Beschreibung/Notizen</mat-label>
        <textarea matInput formControlName="description"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="6"></textarea>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="1 0 300px">
      <div fxLayout="'row">
        <div fxFlex="1">Editor für Unitdefinition</div>
        <div #editor fxFlex="1"></div>
        <button mat-raised-button matTooltip="Editor ändern"><mat-icon>edit</mat-icon></button>
      </div>
      <div fxLayout="'row">
        <div fxFlex="1">Player für Voransicht</div>
        <div #player fxFlex="1"></div>
        <button mat-raised-button matTooltip="Editor ändern" (click)="click()"><mat-icon>edit</mat-icon></button>
      </div>
    </div>
  </div>

</form>
