<form [formGroup]="unitForm" fxFlex>
  <div fxLayout="row wrap" style="margin: 10px" fxLayoutGap="10px" fxLayoutAlign="space-between stretch" fxFlex>
    <div fxLayout="column" fxFlex="1 0 300px">
      <mat-form-field>
        <mat-label>Kurzname</mat-label>
        <input matInput formControlName="key" placeholder="Kurzname">
        <mat-error *ngIf="unitForm.get('key')?.invalid">
          Zu kurz oder schon vorhanden
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Beschreibung/Notizen</mat-label>
        <textarea matInput formControlName="description"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="6"></textarea>
      </mat-form-field>
    </div>
    <div style="background-color: #f2f2f2" fxFlex="10px"></div>
    <div fxLayout="column" fxFlex="1 0 300px">
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxFlex="40%">Editor für die Definition der Aufgabe</div>
        <app-select-module #editor [moduleList]="workspaceService.editorList"
                           fxFlex="55%"
                           moduleType="Editor">
        </app-select-module>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxFlex="40%">Player für Voransicht</div>
        <app-select-module #player [moduleList]="workspaceService.playerList"
                           fxFlex="55%"
                           moduleType="Player">
        </app-select-module>
      </div>
    </div>
  </div>

</form>
