<form [formGroup]="unitForm">
  <div class="fx-row-start-stretch fx-gap-10">
    <div class="fx-column-start-stretch fx-flex-50 fx-gap-10">
      <mat-card>
        <mat-card-content>
          <div class="fx-column-start-stretch">
            <mat-form-field>
              <mat-label>Kurzname</mat-label>
              <input matInput formControlName="key" placeholder="Kurzname">
              <mat-error *ngIf="unitForm.get('key')?.invalid">
                Zu kurz oder schon vorhanden
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" placeholder="Name">
            </mat-form-field>
            <div class="fx-row-space-around-center fx-gap-10">
              <mat-form-field class="fx-flex">
                <mat-label>Gruppe</mat-label>
                <mat-select placeholder="Gruppe"
                            formControlName="group">
                  <mat-option [value]="''"></mat-option>
                  <mat-option *ngFor="let group of workspaceService.workspaceSettings.unitGroups"
                              [value]="group">
                    {{group}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <studio-lite-new-group-button [disabled]="unitForm.disabled"
                                            (groupNameChange)="unitForm.get('group')?.setValue($event)">
              </studio-lite-new-group-button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
          <div class="fx-column-start-stretch">
            <mat-form-field>
              <mat-label>Beschreibung/Notizen</mat-label>
              <textarea matInput
                        formControlName="description"
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="6"></textarea>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Transkript</mat-label>
              <textarea matInput
                        formControlName="transcript"
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="6"></textarea>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Copyright/Quellen</mat-label>
              <textarea matInput
                        formControlName="reference"
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="6"></textarea>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="fx-column-start-stretch fx-flex-50 fx-gap-10">
      <mat-card>
        <mat-card-content>
          <div class="fx-column-start-stretch">
            <div class="fx-row-space-between-start">
              <div class="fx-flex-30"
                   [hidden]="unitForm.disabled">
                {{'modules.editor-name' | translate}}
              </div>
              <app-select-module #editor
                                 class="fx-flex-60"
                                 [modules]="this.moduleService.editors"
                                 [hidden]="unitForm.disabled"
                                 [stableOnly]="workspaceService.workspaceSettings.stableModulesOnly || false"
                                 moduleType="editor"></app-select-module>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between start">
              <div class="fx-flex-30"
                   [hidden]="unitForm.disabled">
                {{'modules.player-name' | translate}}
              </div>
              <app-select-module #player
                                 class="fx-flex-60"
                                 [modules]="this.moduleService.players"
                                 [hidden]="unitForm.disabled"
                                 [stableOnly]="workspaceService.workspaceSettings.stableModulesOnly || false"
                                 moduleType="player">
              </app-select-module>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between start">
              <div class="fx-flex-30"
                   [hidden]="unitForm.disabled">
                {{'modules.schemer-name' | translate}}
              </div>
              <app-select-module #schemer
                                 class="fx-flex-60"
                                 [modules]="this.moduleService.schemers"
                                 [hidden]="unitForm.disabled"
                                 [stableOnly]="workspaceService.workspaceSettings.stableModulesOnly || false"
                                 moduleType="schemer">
              </app-select-module>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
            <mat-card>
              <mat-card-content>
                <div class="fx-column-start-stretch">
            <div *ngIf="workspaceService.unitLastChanged"
                 [matTooltip]="workspaceService.unitLastChangedText"
                 matTooltipClass="mat-tooltip-linebreaks"
            >Letzte Änderung: {{workspaceService.unitLastChanged | date : 'dd.MM.yyyy HH:mm' : timeZone}}</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>
