<h1 fxLayout="row" fxLayoutAlign="space-between center">
  {{'home.select-workspace' | translate}}
  <div>
    <button mat-button *ngIf="appService.authData.isAdmin" [routerLink]="['/admin']"
            [matTooltip]="'home.goto-admin' | translate">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="menuUser" matTooltip="Meine Daten/Anmelden" matTooltipPosition="above" fxFlex>
      <mat-icon>account_box</mat-icon>
    </button>
  </div>
  <mat-menu #menuUser="matMenu">
    <studio-lite-account-action
      [type]="'changePassword'"
      [iconName]="'lock'"
      studioLiteChangePassword>
    </studio-lite-account-action>
    <studio-lite-account-action
      [type]="'editMyData'"
      [iconName]="'edit'"
      studioLiteEditMyData>
    </studio-lite-account-action>
    <studio-lite-account-action
      [type]="'logout'"
      [iconName]="'logout'"
      studioLiteLogout>
    </studio-lite-account-action>
  </mat-menu>
</h1>
