<div fxLayout="row" fxLayoutAlign="space-between center">
  <studio-lite-area-title
    [title]="'home.select-workspace' | translate">
  </studio-lite-area-title>
  <div>
    <button mat-button *ngIf="isAdmin"
            [routerLink]="['/admin']"
            [matTooltip]="'home.goto-admin' | translate"
            matTooltipPosition="above">
      <mat-icon>settings</mat-icon>
    </button>
    <studio-lite-user-menu></studio-lite-user-menu>
  </div>
</div>
<studio-lite-warning *ngIf="warning"
  [warnMessage]="warning">
</studio-lite-warning>
<studio-lite-user-workspaces
  fxFlex fxLayout="column"
  class="scroll-area"
  [workspaceGroups]="workspaceGroups">
</studio-lite-user-workspaces>
