<div class="header">
  <div class="title">{{title}}</div>
  <div class="expand-button">
    <div *ngIf="count !== undefined && !expanded"
         [matBadge]="count"
         class="demo-section"></div>
    <button *ngIf="!expanded"
            mat-icon-button
            [attr.aria-label]="'accordion.expand' | translate"
            (click)="expanded = !expanded">
      <mat-icon>expand_more</mat-icon>
    </button>
    <button *ngIf="expanded"
            mat-icon-button
            [attr.aria-label]="'accordion.expand' | translate"
            (click)="expanded = !expanded">
      <mat-icon>expand_less</mat-icon>
    </button>
  </div>
</div>
<div class="content" *ngIf="expanded">
  <ng-content></ng-content>
</div>

