<div class="fx-column-start-stretch">

  <mat-slide-toggle #xmlParams
                    class="show-xml-params"
                    labelPosition = 'before'>
    {{'booklet-config.show-xml-params' | translate}}
  </mat-slide-toggle>

  <mat-form-field>
    <mat-select [placeholder]="xmlParams.checked ?
                  'pagingMode' :
                  'booklet-config.pagingMode.label' | translate"
                [disabled]="disabled"
                [(ngModel)]="bookletConfig.pagingMode"
                (selectionChange)="configChanged.emit(config)">
      <mat-option *ngFor="let c of pagingModeOptions" [value]="c">
        {{xmlParams.checked ? c : 'booklet-config.pagingMode.' + c | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select [placeholder]="xmlParams.checked ?
                  'page_navibuttons' :
                  'booklet-config.pageNaviButtons.label' | translate"
                [disabled]="disabled"
                [(ngModel)]="bookletConfig.pageNaviButtons"
                (selectionChange)="configChanged.emit(config)">
      <mat-option *ngFor="let c of pageNaviButtonsOptions" [value]="c">
        {{xmlParams.checked ? c : 'booklet-config.pageNaviButtons.' + c | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select [placeholder]="xmlParams.checked ?
                  'unit_navibuttons' :
                  'booklet-config.unitNaviButtons.label' | translate"
                [disabled]="disabled"
                [(ngModel)]="bookletConfig.unitNaviButtons"
                (selectionChange)="configChanged.emit(config)">
      <mat-option *ngFor="let c of unitNaviButtonsOptions" [value]="c">
        {{xmlParams.checked ? c : 'booklet-config.unitNaviButtons.' + c | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select [placeholder]="xmlParams.checked ?
                  'controller_design' :
                  'booklet-config.controllerDesign.label' | translate"
                [disabled]="disabled"
                [(ngModel)]="bookletConfig.controllerDesign"
                (selectionChange)="configChanged.emit(config)">
      <mat-option *ngFor="let c of controllerDesignOptions" [value]="c">
        {{xmlParams.checked ? c : 'booklet-config.controllerDesign.' + c | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select [placeholder]="xmlParams.checked ?
                  'unit_screenheader' :
                  'booklet-config.unitScreenHeader.label' | translate"
                [disabled]="disabled"
                [(ngModel)]="bookletConfig.unitScreenHeader"
                (selectionChange)="configChanged.emit(config)">
      <mat-option *ngFor="let c of unitScreenHeaderOptions" [value]="c">
        {{xmlParams.checked ? c : 'booklet-config.unitScreenHeader.' + c | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select [placeholder]="xmlParams.checked ?
                  'unit_title' :
                  'booklet-config.unitTitle.label' | translate"
                [disabled]="disabled"
                [(ngModel)]="bookletConfig.unitTitle"
                (selectionChange)="configChanged.emit(config)">
      <mat-option *ngFor="let c of unitTitleOptions" [value]="c">
        {{xmlParams.checked ? c : 'booklet-config.unitTitle.' + c | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
