h1 {
  font-size: 1.5em;
  color: white;
  margin-right: 1em;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: clip;
  line-height: 30px;
  max-height: 60px;
}

.tc-body {
  overflow-x: auto;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.tc-body.with-header {
  top: 65px;
}

#header {
  position: absolute;
  width: 100%;
  z-index: 444;
  color: white;
  height: 65px;
  padding-left: 116px;
  pointer-events: none;
  margin-top: -62px;
}

#header mat-button-toggle-group {
  background: white;
}

#header .nav-buttons {
  overflow-x: auto;
  display: flex;
  border-left: solid 1px rgba(0, 0, 0, 0.12);
  border-right: solid 1px rgba(0, 0, 0, 0.12);
}

#header .main-buttons,
#header .plus-buttons {
  pointer-events: auto;
}

#header .plus-buttons {
  min-width: 16px;
}

#header .plus-buttons button ~ button {
  min-width: 48px;
  padding-left: 0;
}

#unitNav {
  pointer-events: auto;
}

#unitNav .mat-flat-button {
  min-width: 0;
  padding: 0 12px;
}

:host ::ng-deep .mat-list-text {
  text-align: center;
  padding: 0!important;
}

:host ::ng-deep .mat-list-item-content {
  padding: 0 8px!important;
}

/* :host ::ng-deep .mat-focus-indicator { background-color: red; } */

#unitNav .mat-list-base,
#unitNav .mat-list-item {
  padding: 0;
  font-size: 12px;
}
#unitNav .mat-list-option {
  height: auto;
}

#unitNav .mat-list-single-selected-option,
#unitNav .unit-nav-item-selected {
  background-color: var(--accent);
}

#unitNav .unit-nav-item {
  background-color: white;
}

#unitNav .unit-nav-item,
#unitNav .unit-nav-item-selected {
  border-left: lightgray 1px solid;
  min-height: 36px;
}

#unitNav .unit-nav-item:last-child {
  border-right: lightgray 1px solid;
}

#unitNav mat-selection-list {
  border-bottom: lightgray 1px solid;
  border-top: lightgray 1px solid;
}
