<div id="header" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="reviewService.reviewSettings?.unitScreenHeader !== 'OFF'">
  <div fxFlex="0 1 auto">
    <h1 *ngIf="reviewService.currentPageHeader">{{reviewService.currentPageHeader}}</h1>
  </div>
  <div
    fxFlex="0 1 auto"
    fxLayout="row"
    fxLayoutAlign="end center"
  >
    <div
      *ngIf="reviewService.reviewSettings?.unitNaviButtons !== 'OFF'"
      id="unitNav"
      fxFlex="0 1 auto"
      fxLayout="row"
      fxLayoutAlign="end center"
    >
      <a mat-fab
         *ngIf="reviewService.reviewSettings?.controllerDesign === '2018'"
         [disabled]="reviewService.currentUnitSequenceId < 0"
         (click)="reviewService.setUnitNavigationRequest(reviewService.currentUnitSequenceId - 1)"
         matTooltip="Zurück"
         fxFlex="none"
      >
        <i class="material-icons">chevron_left</i>
      </a>
      <a mat-flat-button
         *ngIf="reviewService.reviewSettings?.controllerDesign !== '2018'"
         [disabled]="reviewService.currentUnitSequenceId < 0"
         (click)="reviewService.setUnitNavigationRequest(reviewService.currentUnitSequenceId - 1)"
         matTooltip="Zurück"
         fxFlex="none"
      >
        <i class="material-icons">chevron_left</i>
      </a>
      <mat-selection-list #unitList [multiple]="false"
                          *ngIf="reviewService.reviewSettings?.unitNaviButtons !== 'ARROWS_ONLY'"
                          (selectionChange)="reviewService.setUnitNavigationRequest(unitList.selectedOptions.selected[0].value)"
                          fxLayout="row wrap"
                          fxLayoutAlign="start center"
                          fxFlex="0 1 auto"
                          role="menubar"
      >
        <div [class]="u.sequenceId === reviewService.currentUnitSequenceId ? 'unit-nav-item-selected' : 'unit-nav-item'"
             *ngFor="let u of reviewService.units"
             (click)="reviewService.setUnitNavigationRequest(u.sequenceId)"
             fxLayout="row"
             fxLayoutAlign="start center"
             fxFlex>
          <mat-list-option
            [value]="u.sequenceId.toString()"
            [selected]="u.sequenceId === reviewService.currentUnitSequenceId"
            fxFlex
            role="menuitem"
            [attr.aria-label]="u.name"
          >
            {{u.sequenceId + 1}}
          </mat-list-option>
        </div>
      </mat-selection-list>

      <a mat-fab
         *ngIf="reviewService.reviewSettings?.controllerDesign === '2018'"
         [disabled]="reviewService.currentUnitSequenceId > reviewService.units.length"
         (click)="reviewService.setUnitNavigationRequest(reviewService.currentUnitSequenceId + 1)"
         matTooltip="Weiter"
         fxFlex="none"
      >
        <i class="material-icons">chevron_right</i>
      </a>
      <a mat-flat-button
         *ngIf="reviewService.reviewSettings?.controllerDesign !== '2018'"
         [disabled]="reviewService.currentUnitSequenceId > reviewService.units.length"
         (click)="reviewService.setUnitNavigationRequest(reviewService.currentUnitSequenceId + 1)"
         matTooltip="Weiter"
         fxFlex="none"
      >
        <i class="material-icons">chevron_right</i>
      </a>
    </div>

    <div class="plus-buttons" fxLayout="row" fxFlex="none">
      <button
        mat-button
        (click)="showReviewDialog()"
        matTooltip="Kommentar senden"
      >
        <mat-icon>rate_review</mat-icon>
      </button>
    </div>
  </div>
</div>
<mat-sidenav-container
  [class]="{'tc-body': true, 'with-header': reviewService.reviewSettings?.unitScreenHeader !== 'OFF'}"
  hasBackdrop="true"
>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
