<div
  [class]="{
    'with-header': reviewService.bookletConfig.unitScreenHeader !== 'OFF',
    'with-title': reviewService.bookletConfig.unitTitle === 'ON'
  }"
>
  <div
    *ngIf="reviewService.bookletConfig?.unitTitle === 'ON'"
    id="unit-title"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <p>{{reviewService.pageHeaderText}}</p>
  </div>
  <div id="header" fxLayout="row" fxLayoutAlign="space-between center"
       *ngIf="reviewService.bookletConfig?.unitScreenHeader !== 'OFF'">
    <div fxFlex="0 1 auto">
      <h1>{{reviewService.screenHeaderText}}</h1>
    </div>
    <div
      *ngIf="reviewService.bookletConfig?.unitNaviButtons !== 'OFF'"
      id="unitNav"
      fxFlex="0 1 auto"
      fxLayout="row"
      fxLayoutAlign="end center"
    >
      <a mat-fab
         *ngIf="reviewService.bookletConfig?.controllerDesign === '2018'"
         [disabled]="reviewService.currentUnitSequenceId < 0"
         (click)="reviewService.setUnitNavigationRequest(reviewService.currentUnitSequenceId - 1)"
         matTooltip="Zurück"
         fxFlex="none"
      >
        <i class="material-icons">chevron_left</i>
      </a>
      <a mat-flat-button
         *ngIf="reviewService.bookletConfig?.controllerDesign !== '2018'"
         [disabled]="reviewService.currentUnitSequenceId < 0"
         (click)="reviewService.setUnitNavigationRequest(reviewService.currentUnitSequenceId - 1)"
         matTooltip="Zurück"
         fxFlex="none"
      >
        <i class="material-icons">chevron_left</i>
      </a>
      <mat-selection-list #unitList [multiple]="false"
                          *ngIf="reviewService.bookletConfig?.unitNaviButtons !== 'ARROWS_ONLY'"
                          (selectionChange)="reviewService.setUnitNavigationRequest(unitList.selectedOptions.selected[0].value)"
                          fxLayout="row wrap"
                          fxLayoutAlign="start center"
                          fxFlex="0 1 auto"
                          role="menubar"
      >
        <div [class]="reviewService.currentUnitSequenceId < 0 ? 'unit-nav-item-selected' : 'unit-nav-item'"
             (click)="reviewService.setUnitNavigationRequest(-1)"
             fxLayout="row"
             fxLayoutAlign="start center"
             fxFlex>
          <mat-list-option
            value="-1"
            [selected]="reviewService.currentUnitSequenceId === -1"
            fxFlex
            role="menuitem"
          >
          </mat-list-option>
        </div>
        <div [class]="u.sequenceId === reviewService.currentUnitSequenceId ? 'unit-nav-item-selected' : 'unit-nav-item'"
             *ngFor="let u of reviewService.units"
             (click)="reviewService.setUnitNavigationRequest(u.sequenceId)"
             fxLayout="row"
             fxLayoutAlign="start center"
             fxFlex>
          <mat-list-option
            [value]="u.sequenceId.toString()"
            [selected]="u.sequenceId === reviewService.currentUnitSequenceId"
            fxFlex
            role="menuitem"
            [attr.aria-label]="u.name"
          >
            {{u.sequenceId + 1}}
          </mat-list-option>
        </div>
        <div [class]="(reviewService.currentUnitSequenceId >= reviewService.units.length) ? 'unit-nav-item-selected' : 'unit-nav-item'"
             (click)="reviewService.setUnitNavigationRequest(reviewService.units.length)"
             fxLayout="row"
             fxLayoutAlign="start center"
             fxFlex>
          <mat-list-option
            [value]="reviewService.units.length"
            [selected]="reviewService.currentUnitSequenceId >= reviewService.units.length"
            fxFlex
            role="menuitem"
          >
          </mat-list-option>
        </div>
      </mat-selection-list>

      <a mat-fab
         *ngIf="reviewService.bookletConfig?.controllerDesign === '2018'"
         [disabled]="reviewService.currentUnitSequenceId > reviewService.units.length"
         (click)="reviewService.setUnitNavigationRequest(reviewService.currentUnitSequenceId + 1)"
         matTooltip="Weiter"
         fxFlex="none"
      >
        <i class="material-icons">chevron_right</i>
      </a>
      <a mat-flat-button
         *ngIf="reviewService.bookletConfig?.controllerDesign !== '2018'"
         [disabled]="reviewService.currentUnitSequenceId > reviewService.units.length"
         (click)="reviewService.setUnitNavigationRequest(reviewService.currentUnitSequenceId + 1)"
         matTooltip="Weiter"
         fxFlex="none"
      >
        <i class="material-icons">chevron_right</i>
      </a>
    </div>
  </div>
  <div class="plus-buttons" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
    <button *ngIf="reviewService.reviewConfig.canComment"
      mat-raised-button
      (click)="showReviewDialog()"
      matTooltip="Kommentar senden"
    >
      <mat-icon>rate_review</mat-icon>
    </button>
    <button *ngIf="reviewService.reviewConfig.showMetadata"
            mat-raised-button
            (click)="showInfoDialog()"
            matTooltip="Weitere Informationen"
    >
      <mat-icon>info</mat-icon>
    </button>
  </div>
  <div id="page-host">
    <router-outlet></router-outlet>
  </div>
</div>
