<div class="fx-column-start-stretch">
  <h2 mat-dialog-title>{{ 'workspace.show-metadata' | translate }}</h2>

  <mat-dialog-content class="fx-row-start-stretch dialog-content">
    <studio-lite-select-unit-list class="full-width"
                                  [workspace]="workspaceService.selectedWorkspaceId"
                                  [selectedUnitId]="workspaceService.selectedUnit$.value"
                                  (selectionChanged)="unitList = $event">
    </studio-lite-select-unit-list>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary"
            type="submit"
            [disabled]="!unitList.length"
            [mat-dialog-close]="{selectedUnits: unitList}"
            data-cy="workspace-show-metadata-display">
      {{ 'display' | translate }}
    </button>
    <button mat-raised-button [mat-dialog-close]="false">
      {{ 'dialogs.cancel' | translate }}
    </button>
  </mat-dialog-actions>
</div>

