<div class="fx-column-start-stretch">
  <h2 mat-dialog-title>{{ 'workspace.show-metadata' | translate }}</h2>

  <mat-dialog-content class="fx-row-start-stretch dialog-content">
    <studio-lite-select-unit-list #unitSelectionTable
                                  [filter]="data && data.units ? data.units : []"
                                  [initialSelection]="data && data.units ? data.units : []"
                                  [workspace]="workspaceService.selectedWorkspaceId"
                                  (selectionChanged)="unitList = $event">
    </studio-lite-select-unit-list>
  </mat-dialog-content>
  <mat-dialog-actions align="end">

    <button mat-raised-button color="primary"
            type="submit"
            [disabled]="unitList.length === 0"
            [mat-dialog-close]="{selectedUnits:unitList}"
    >
      {{ 'display' | translate }}
    </button>
    <button mat-raised-button [mat-dialog-close]="false">
      {{ 'dialogs.cancel' | translate }}
    </button>
  </mat-dialog-actions>
</div>
