<div *ngIf="workspaceGroups.length === 0">
  <p>{{'home.no-user-workspaces' | translate}}</p>
</div>
<div *ngIf="workspaceGroups.length > 0">
  <div *ngFor="let wsg of workspaceGroups"
       fxLayout="column">
    <div *ngIf="wsg.workspaces.length > 0 || wsg.isAdmin"
         fxLayout="row" fxLayoutAlign="space-between center"
         class="workspace-group-header">
      <div [id]="'iosaihoihlnkk_' + wsg.id">{{wsg.name}}</div>
      <a *ngIf="wsg.isAdmin"
              mat-button
              [routerLink]="['/wsg-admin/' + wsg.id]"
              [matTooltip]="'home.goto-wsg-admin' | translate">
        <mat-icon>settings</mat-icon>
      </a>
    </div>
    <div *ngIf="wsg.workspaces.length > 0"
         fxLayout="column" fxLayoutAlign="start start">
      <a *ngFor="let ws of wsg.workspaces"
              mat-button
              [routerLink]="['/a/' + ws.id]">
        {{ws.name}}
      </a>
    </div>
  </div>
</div>
