<div class="admin-tab-content fx-column-start-stretch">

  @if (dataSource.data.length) {

    <div class="info">
      {{'admin.issue-count-info' | translate :
          { count: dataSource.data.length, issue: ('admin.workspaces' | translate)}
      }}
    </div>

    <studio-lite-search-filter
      [title]="'search-filter.filter-workspaces' | translate"
      (valueChange)="dataSource.filter = $event.trim().toLowerCase()">
    </studio-lite-search-filter>
  }

  <div class="admin-tab-content">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let workspace">
          <a [routerLink]="`/a/${workspace.id}`">{{ workspace.id }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let workspace">{{ workspace.name }}</td>
      </ng-container>

      <ng-container matColumnDef="groupId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>GroupId</th>
        <td mat-cell *matCellDef="let workspace">{{ workspace.groupId }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
