.scroll-area {
  height: calc(100% - 35px);
  overflow-y: auto;
}

.object-list {
  height: calc(100% - 5px);
  .object-header-container {
    .object-header {
      @extend .info;
      width: 100%;
    }
  }
}

.divider {
  align-self: stretch;
}

.fx-flex-row-fix-70 {
  flex: 1 1 70px;
  box-sizing: border-box;
  max-width: 70px;
}

.secondary-cell {
  color: gray;
}

.selected {
  background-color: #00606415;
  &:hover {
    background-color: #00606415 !important;
  }
}

.two-tone-primary-color {
  color: transparent;
  background: #006064;
  background-clip: text;
  -webkit-background-clip: text;
}

.save-button{
  position: absolute;
  top: 65px;
  right: 60px;
}

.info {
  margin: 20px 0;
  padding: 20px 15px;
  border-radius: 5px;
  border: 1px solid #bbb;
}
