<div class="fx-row-space-between-start admin-tab-content">
  <div class="fx-flex-row-50 fx-column-start-stretch object-list">
    @if (objectsDatasource.data.length) {
      <studio-lite-search-filter
        [title]="'search-filter.filter-users' | translate"
        (valueChange)="objectsDatasource.filter = $event.trim().toLowerCase()">
      </studio-lite-search-filter>
    }

    <mat-table class="scroll-area"
      [dataSource]="objectsDatasource"
      matSortDisableClear
      matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef
          mat-sort-header="name">
          {{'user.login-name' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.name}} {{element.isAdmin ? '*' : ''}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="displayName">
        <mat-header-cell *matHeaderCellDef
          mat-sort-header="lastName">
          {{'user.full-name' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row"
          class="secondary-cell">
          {{row.lastName ? row.lastName : row.name}}{{row.firstName ? (', ' + row.firstName) : ''}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef
          mat-sort-header="email">
          {{'user.email' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row"
          class="secondary-cell">
          {{row.email ? row.email : 'user.no-email' | translate}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef
          mat-sort-header="description">
          {{'user.note' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row"
          class="secondary-cell">
          {{row.description}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
        [class.selected] = "row | isSelectedId: selectedUser"
        (click)="toggleRowSelection(row)">
      </mat-row>
    </mat-table>
  </div>

  <div class="object-list fx-column-start-stretch fx-flex-row-40">
    <div class="fx-row-space-between-center">
      @if (!selectedUser) {
        <div>{{'access-rights.hint' | translate}}</div>
      }
      @if (selectedUser) {
        <div>{{'access-rights.for-user' | translate: {user: tableSelectionRow.selected[0].name } }}</div>
      }
      <button mat-raised-button
        [matTooltip]="'save' | translate"
        matTooltipPosition="above"
        [disabled]="!userWorkspaces.hasChanged"
        (click)="saveWorkspaces()">
        <studio-lite-wrapped-icon icon="save"></studio-lite-wrapped-icon>
      </button>
    </div>

    @if (userWorkspaces.entries.length) {
      <div class="fx-row-start-stretch">
        <div class="access-icon">
          <mat-icon [matTooltip]="'access-rights.read-access' | translate"
                    color="primary"
                    fontIcon="visibility">
          </mat-icon>
        </div>
        <div class="access-icon">
          <mat-icon [matTooltip]="'access-rights.write-access' | translate"
                    color="primary"
                    fontIcon="edit">
          </mat-icon>
        </div>
      </div>
    }

    <div class="scroll-area fx-column-start-start">
      @for (ws of userWorkspaces.entries; track ws) {
        <div class="fx-row-start-center">
          <div class="fx-row-start-center fx-flex-fill fx-gap-15">
            <div class="fx-row-start-center">
              <mat-checkbox
                [(ngModel)]="ws.isChecked"
                [disabled]="!selectedUser"
                [matTooltip]="'access-rights.read-access' | translate"
                (change)="updateWriteAccess(ws)">
              </mat-checkbox>
              <mat-radio-group
                class="fx-row-start-start"
                [(ngModel)]="ws.writeAccessLevel"
                [disabled]="!selectedUser"
                [matTooltip]="'access-rights.write-access' | translate"
                (change)="updateReadAccess(ws)">
                @for (level of [0,1,2,3]; track level) {
                  @if (selectedUser) {
                    <mat-radio-button
                      [disabled]="!ws.writeAccessLevel && !level"
                      [value]="level">
                    </mat-radio-button>
                  } @else {
                    <mat-radio-button
                      value="null">
                    </mat-radio-button>
                  }
                }
              </mat-radio-group>
            </div>
            <div>{{ws.name}}</div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
