<div class="fx-row-space-between-start admin-tab-content">
  <div class="fx-flex-row-50 fx-column-start-stretch object-list">
    @if (objectsDatasource.data.length) {

      <div class="info">
        {{'admin.issue-count-info' | translate :
        { count: objectsDatasource.data.length, issue: ('admin.users' | translate)}
        }}
      </div>


      <studio-lite-search-filter
        [title]="'search-filter.filter-users' | translate"
        (valueChange)="objectsDatasource.filter = $event.trim().toLowerCase()">
      </studio-lite-search-filter>
    }

    <mat-table class="scroll-area"
      [dataSource]="objectsDatasource"
      matSortDisableClear
      matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef
          mat-sort-header="name">
          {{'user.login-name' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.name}} {{element.isAdmin ? '*' : ''}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="displayName">
        <mat-header-cell *matHeaderCellDef
          mat-sort-header="lastName">
          {{'user.full-name' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row"
          class="secondary-cell">
          {{row.lastName ? row.lastName : row.name}}{{row.firstName ? (', ' + row.firstName) : ''}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef
          mat-sort-header="email">
          {{'user.email' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row"
          class="secondary-cell">
          {{row.email ? row.email : 'user.no-email' | translate}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef
          mat-sort-header="description">
          {{'user.note' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row"
          class="secondary-cell">
          {{row.description}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
        [class.selected] = "row | isSelectedId: selectedUser"
        (click)="toggleRowSelection(row)">
      </mat-row>
    </mat-table>
  </div>

  <div class="object-list fx-column-start-stretch fx-flex-row-40">
    <div class="object-header-container fx-row-space-between-center">
      @if (!selectedUser) {
        <div>{{'access-rights.hint' | translate}}</div>
      }
      @if (selectedUser) {
        <div>{{'access-rights.for-user' | translate: {user: tableSelectionRow.selected[0].name } }}</div>
      }
      <button mat-fab
              class="save-button"
              [matTooltip]="'save' | translate"
              matTooltipPosition="above"
              [color]="'primary'"
              [disabled]="!userWorkspaces.hasChanged"
              (click)="saveWorkspaces()">
        <mat-icon>save"</mat-icon>
      </button>
    </div>

    @if (userWorkspaces.entries.length) {
      <studio-lite-roles-header></studio-lite-roles-header>
    }

    <div class="scroll-area fx-column-start-start">
      @for (ws of userWorkspaces.entries; track ws; let index = $index;) {
        @if (userWorkspaces.checkedCount > 0 && index === userWorkspaces.checkedCount) {
          <studio-lite-entries-divider class="divider"></studio-lite-entries-divider>
        }
        <div class="fx-row-start-center">
          <div class="fx-row-start-center fx-flex-fill fx-gap-15">
            <div class="fx-row-start-center">
              @for (level of [1,2,4]; track level) {
                <mat-checkbox
                  [checked]="!!selectedUser && (ws.accessLevel === level) && ws.isChecked"
                  [disabled]="!selectedUser"
                  [matTooltip]="'access-rights.access-level-'+level | translate"
                  (change)="changeAccessLevel($event.checked, ws, level)">
                </mat-checkbox>
              }
            </div>
            <div>{{ws.name}}</div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
