<div fxLayout="column" style="height: 100%">
  <h1 mat-dialog-title>{{ 'unit-download.dialog.title' | translate }}</h1>
  <div fxLayout="row" fxLayoutGap="20px">
    <mat-dialog-content fxFlex>
      <select-unit-list #unitSelectionTable [workspace]="ds.selectedWorkspace"></select-unit-list>
    </mat-dialog-content>
    <div fxFlex="300px">
      <div class="margin-bottom">Zusätzliche Dateien z. B. für Testcenter:</div>
      <mat-checkbox (change)="updateDisabled()" [disabled]="!enablePlayerOption"
                    [(ngModel)]="unitExportSettings.addPlayers" class="margin-bottom">
        Player hinzufügen
      </mat-checkbox>
      <div fxLayout="column">
        <div *ngIf="!enablePlayerOption" class="tcMessage margin-bottom">
          Keine Aufgabe hat einen gültigen Player gesetzt.
        </div>
        <div fxLayout="row">
          <label fxFlex="50%">Logins hinzufügen</label>
          <div fxLayout="column">
            <mat-form-field>
              <input matInput type="number" min="0"
                     [(ngModel)]="unitExportSettings.addTestTakersReview" placeholder="Anzahl für Review">
            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" min="0"
                     [(ngModel)]="unitExportSettings.addTestTakersMonitor" placeholder="Anzahl für Monitor">
            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" min="0"
                     [(ngModel)]="unitExportSettings.addTestTakersHot" placeholder="Anzahl für Test">
            </mat-form-field>
          </div>
        </div>
        <mat-checkbox [disabled]="(unitExportSettings.addTestTakersReview + unitExportSettings.addTestTakersMonitor + unitExportSettings.addTestTakersHot) === 0"
                      [(ngModel)]="unitExportSettings.passwordLess" class="margin-bottom">
          <div>Ohne Kennwort (nur Login-Name)</div>
        </mat-checkbox>
        <div *ngIf="unitExportSettings.addPlayers && unitsWithOutPlayer.length > 0"
             class="tcMessage">
          Es sind nur Aufgaben wählbar, die einen gültigen Player gesetzt haben.
        </div>
      </div>
    </div>
  </div>
  <mat-dialog-actions fxLayout="column">
    <div fxLayout="row">
      <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="getResultData()" [disabled]="unitSelectionTable.selectionCount === 0">
        {{'unit-download.dialog.ok-button-label' | translate}}</button>
      <button mat-raised-button [mat-dialog-close]="false">
        {{'dialogs.cancel' | translate}}
      </button>
    </div>
  </mat-dialog-actions>
</div>
