.margin-bottom {
  margin-bottom: 10px
}

.group-message {
  font-style: italic; font-size: smaller
}

.invisible {
  display: block;
  visibility: hidden;
  height: 0;width: 0
}

.selected {
  background-color: #3957f74f
}

.units {
  overflow: auto;
}

.group-list {
  overflow: auto;
  background-color: whitesmoke;
  border: 2px solid whitesmoke
}

.group-list-buttons {
  margin-top: 6px;
  background-color: whitesmoke;
}

.group-list-entry {
  white-space: nowrap;
  font-size: 14px;
  margin-right: 12px;
}

.badge-holder {
  width: 2px;
  margin-right: 6px;
  background-color: transparent;
}

.group-changed {
  border: 2px solid darkorange;
  padding: 2px
}

.group-not-changed {
  border: 2px solid transparent;
  padding: 2px
}

#main-buttons .mat-raised-button {
  padding: 0;
  min-width: 25px
}

.mat-list-base {
  padding-top: 12px;
}

.mat-dialog-content {
  max-height: 100vH
}
