<div fxLayout="column" style="height: 100%">
  <h1 mat-dialog-title>Aufgabenfolgen</h1>
  <div fxLayout="row" fxLayoutGap="5px" style="height: 100%">
    <div fxFlex="200px" class="review-list" fxLayout="column" fxLayoutAlign="space-between stretch">
      <mat-nav-list fxFlex>
        <a mat-list-item style="height: 22px;text-overflow: ellipsis"
           *ngFor="let review of reviews"
           class="review-list-entry"
           (click)="selectReview(review.id)"
           [class]="review.id === selectedReviewId ? 'review-list-entry selected' : 'review-list-entry'">
          {{review.name}}
        </a>
      </mat-nav-list>
      <div fxLayout="row" id="main-buttons">
        <button mat-raised-button (click)="addReview()" class="small-button" fxFlex="25%"
                matTooltip="Aufgabenfolge hinzufügen" matTooltipPosition="above">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-raised-button (click)="deleteReview()" class="small-button"
                matTooltip="Aufgabenfolge löschen" [disabled]="selectedReviewId === 0"
                matTooltipPosition="above" fxFlex="25%">
          <mat-icon>delete</mat-icon>
        </button>
        <a mat-raised-button [href]="locationOrigin + '/#/review/' + reviewDataOriginal.id"
           target="_blank" class="small-button"
                matTooltip="Aufgabenfolge starten" [disabled]="unitCount < 1"
                matTooltipPosition="above" fxFlex="25%">
          <mat-icon>launch</mat-icon>
        </a>
        <button mat-raised-button matTooltip="Kopiere Link in Zwischenablage"
                [disabled]="unitCount < 1 || passwordLength < 4" class="small-button"
                (click)="copyLinkToClipboard()" fxFlex="25%">
          <mat-icon>link</mat-icon>
        </button>
      </div>
    </div>
    <div [class]="changed ? 'review-changed' : 'review-not-changed'"
         fxLayout="column" fxFlex>
      <div fxFlex fxLayout="row" style="background: white" fxLayoutGap="30px">
        <div fxFlex="40%" fxLayout="column">
          <mat-form-field>
            <input matInput [(ngModel)]="reviewDataToChange.name" placeholder="Name"
                   [disabled]="selectedReviewId === 0"
                   (ngModelChange)="changed = detectChanges()">
          </mat-form-field>
          <div fxLayout="row" class="margin-bottom" fxLayoutGap="5px">
            <mat-form-field fxFlex="50%">
              <input matInput [(ngModel)]="reviewDataToChange.password"
                     [disabled]="selectedReviewId === 0"
                     (ngModelChange)="changed = detectChanges()" placeholder="Kennwort">
            </mat-form-field>
            <div [class]="(selectedReviewId > 0 && passwordNewLength < 4) ? 'rev-message' : 'invisible'" fxFlex>
              Zugriff von Extern nur mit Kennwort (mind. 4 Zeichen)
            </div>
          </div>
          <booklet-config-edit #bookletConfig (configChanged)="configChanged()"
                          [disabled]="selectedReviewId === 0"
                          [config]="reviewDataToChange.settings?.bookletConfig"></booklet-config-edit>
          <review-config-edit #reviewConfig (configChanged)="configChanged()"
                               [disabled]="selectedReviewId === 0"
                               [config]="reviewDataToChange.settings?.reviewConfig"></review-config-edit>
        </div>
        <mat-dialog-content fxFlex>
          <div [hidden]="selectedReviewId > 0">Bitte links Aufgabenfolge wählen bzw. neu anlegen.</div>
          <select-unit-list #unitSelectionTable [hidden]="selectedReviewId === 0"
                            (selectionChanged)="unitSelectionChanged()"
                            [workspace]="workspaceService.selectedWorkspaceId"></select-unit-list>
        </mat-dialog-content>
      </div>
      <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="5px"
           style="padding: 5px">
        <button mat-raised-button (click)="discardChanges()" matTooltip="Änderungen verwerfen"
                [disabled]="!changed" matTooltipPosition="below">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-raised-button (click)="saveChanged()" matTooltip="Aufgabenfolge speichern"
                [disabled]="!changed" matTooltipPosition="below">
          Speichern <mat-icon>save</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <mat-dialog-actions fxLayout="column">
    <div fxLayout="row">
      <button mat-raised-button [mat-dialog-close]="false" [disabled]="changed">
        {{'dialogs.close' | translate}}
      </button>
    </div>
  </mat-dialog-actions>
</div>
