<div fxLayout="column" style="height: 100%">
  <h1 mat-dialog-title>Aufgabenfolgen</h1>
  <div fxLayout="row" fxLayoutGap="5px" style="height: 100%">
    <div fxFlex="200px" class="review-list" fxLayout="column" fxLayoutAlign="space-between stretch">
      <mat-nav-list fxFlex>
        <a mat-list-item style="height: 22px;text-overflow: ellipsis"
           *ngFor="let review of reviews"
           class="review-list-entry"
           (click)="selectReview(review.id)"
           [class]="review.id === selectedReviewId ? 'review-list-entry selected' : 'review-list-entry'">
          {{review.name}}
        </a>
      </mat-nav-list>
      <div fxLayout="row">
        <button mat-raised-button (click)="addReview()"
                matTooltip="Aufgabenfolge hinzufügen" matTooltipPosition="above" fxFlex="33">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-raised-button (click)="deleteReview()"
                matTooltip="Aufgabenfolge löschen" [disabled]="selectedReviewId === 0"
                matTooltipPosition="above" fxFlex="33">
          <mat-icon>delete</mat-icon>
        </button>
        <a mat-raised-button [href]="locationOrigin + '/#/review/' + reviewDataOriginal.id"
           target="_blank"
                matTooltip="Aufgabenfolge starten" [disabled]="selectedReviewId === 0"
                matTooltipPosition="above" fxFlex>
          <mat-icon>play_arrow</mat-icon>
        </a>
      </div>
    </div>
    <div [class]="changed ? 'review-changed' : 'review-not-changed'"
         fxLayout="column" fxFlex>
      <div fxFlex fxLayout="row" style="background: white" fxLayoutGap="30px">
        <div fxFlex="50%" fxLayout="column">
          <mat-form-field>
            <input matInput [(ngModel)]="reviewDataToChange.name" placeholder="Name"
                   [disabled]="selectedReviewId === 0"
                   (ngModelChange)="changed = detectChanges()">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="reviewDataToChange.password"
                   [disabled]="selectedReviewId === 0"
                   (ngModelChange)="changed = detectChanges()" placeholder="Kennwort">
          </mat-form-field>
          <div fxLayout="row">
            <button mat-button
                    [disabled]="selectedReviewId === 0"
                    (click)="copyLinkToClipboard()">Kopiere Link in Zwischenablage</button>
          </div>
        </div>
        <mat-dialog-content fxFlex>
          <select-unit-list #unitSelectionTable [hidden]="selectedReviewId === 0"
                            (selectionChanged)="unitSelectionChanged()"
                            [workspace]="workspaceService.selectedWorkspaceId"></select-unit-list>
        </mat-dialog-content>
      </div>
      <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="5px"
           style="padding: 5px">
        <button mat-raised-button (click)="discardChanges()" matTooltip="Änderungen verwerfen"
                [disabled]="!changed" matTooltipPosition="below">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-raised-button (click)="saveChanged()" matTooltip="Aufgabenfolge speichern"
                [disabled]="!changed" matTooltipPosition="below">
          Speichern <mat-icon>save</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <mat-dialog-actions fxLayout="column">
    <div fxLayout="row">
      <button mat-raised-button [mat-dialog-close]="false">
        {{'dialogs.close' | translate}}
      </button>
    </div>
  </mat-dialog-actions>
</div>
