<div fxLayout="row" fxLayoutAlign="space-between start" class="admin-tab-content">
  <div fxLayout="column" fxFlex="0 1 1000px" class="object-list">
    <div fxLayout="row">
      <button fxFlex="88px" mat-raised-button (click)="hiddenfileinput.click()" matTooltip="hochladen/aktualisieren" matTooltipPosition="above">
        <mat-icon>cloud_upload</mat-icon>
      </button>
      <button fxFlex="88px" mat-raised-button (click)="deleteFiles()" [disabled]="(selectedModules.length) === 0"
              matTooltip="Markierte löschen" matTooltipPosition="above">
        <mat-icon>delete</mat-icon>
      </button>

      <input #hiddenfileinput type="file" name="verona-module" multiple [iqbFilesUploadInputFor]="fileUploadQueue" hidden="true"/>
    </div>
    <div class="scroll-area">
      <iqb-files-upload-queue #fileUploadQueue
                              [httpUrl]="uploadUrl"
                              [fileAlias]="'file'"
                              [tokenName]="'file'"
                              [token]="token"
                              [folderName]="'i'"
                              [folder]="'y'"
                              (uploadCompleteEvent)="updateTables()">
      </iqb-files-upload-queue>
      <div fxLayout="column">
        <h1>{{'modules.editor-name' | translate}}</h1>
        <app-verona-modules-table (selectionChanged)="changeSelectedModules($event)"
                                  type="editor"></app-verona-modules-table>
      </div>
      <div fxLayout="column">
        <h1>{{'modules.player-name' | translate}}</h1>
        <app-verona-modules-table (selectionChanged)="changeSelectedModules($event)"
                                  type="player"></app-verona-modules-table>
      </div>
      <div fxLayout="column">
        <h1>{{'modules.schemer-name' | translate}}</h1>
        <app-verona-modules-table (selectionChanged)="changeSelectedModules($event)"
                                  type="schemer"></app-verona-modules-table>
      </div>
    </div>
  </div>
</div>
