<div class="fx-row-space-between-center login-header">
  <label class="section-label">{{'unit-download.add-login' | translate}}</label>
  <mat-checkbox [disabled]="!(addTestTakersReview | hasTakers : addTestTakersHot : addTestTakersMonitor)"
    [ngModel]="passwordLess"
    (ngModelChange)="passwordLessChange.emit($event)">
    {{'unit-download.without-password' | translate}}
  </mat-checkbox>
</div>
<div class="fx-row-start-stretch login-counts">
  <div class="login-count-column">
    <label class="field-description">{{'unit-download.add-test-takers-review' | translate}}</label>
    <mat-form-field class="login-count-field">
      <mat-label>run-review</mat-label>
      <input matInput type="number" min="0"
        [ngModel]="addTestTakersReview"
        (ngModelChange)="addTestTakersReviewChange.emit($event)">
    </mat-form-field>
  </div>
  <div class="login-count-column">
    <label class="field-description">{{'unit-download.add-test-takers-monitor' | translate}}</label>
    <mat-form-field class="login-count-field">
      <mat-label>monitor-group</mat-label>
      <input matInput type="number" min="0"
        [ngModel]="addTestTakersMonitor"
        (ngModelChange)="addTestTakersMonitorChange.emit($event)">
    </mat-form-field>
  </div>
  <div class="login-count-column">
    <label class="field-description">{{'unit-download.add-test-takers-hot' | translate}}</label>
    <mat-form-field class="login-count-field">
      <mat-label>run-hot-return</mat-label>
      <input matInput type="number" min="0"
        [ngModel]="addTestTakersHot"
        (ngModelChange)="addTestTakersHotChange.emit($event)">
    </mat-form-field>
  </div>
</div>
