<div class="home-body" fxLayout="row" fxLayoutAlign="center stretch">
  <studio-lite-login *ngIf="appService.authData.userId === 0 && appService.authData.reviews.length === 0"
                     fxFlex="0 0 400px" fxLayout="column"
                     class="box-left">
  </studio-lite-login>

  <studio-lite-user-workspaces-area *ngIf="appService.authData.userId > 0"
                                    fxFlex="0 0 400px" fxLayout="column"
                                    class="box-left">
  </studio-lite-user-workspaces-area>

  <studio-lite-user-reviews *ngIf="appService.authData.reviews.length > 0"
                            fxFlex="0 0 400px" fxLayout="column" class="box-left" fxLayoutGap="6px"
                            [reviews]="appService.authData.reviews"
                            [isReviewUser]="appService.authData.userId === 0">
  </studio-lite-user-reviews>

  <studio-lite-app-info fxFlex="0 2 400px" fxLayout="column" class="box-right"
                        [appTitle]="appService.appConfig.appTitle"
                        [introHtml]="appService.appConfig.introHtml"
                        [hasReviews]="appService.authData.reviews.length > 0"
                        [appName]="appName"
                        [appVersion]="appVersion"
                        [userName]="appService.authData.userName"
                        [userLongName]="appService.authData.userLongName "
                        [userId]="appService.authData.userId"
                        [isAdmin]="appService.authData.isAdmin">
  </studio-lite-app-info>
</div>
