<div class="home-body" fxLayout="row" fxLayoutAlign="center stretch">
  <studio-lite-login *ngIf="appService.authData.userId === 0 && appService.authData.reviews.length === 0"
       fxFlex="0 0 400px" fxLayout="column"
       class="box-left">
  </studio-lite-login>
  <div fxFlex="0 0 400px" fxLayout="column" class="box-left" *ngIf="appService.authData.userId > 0">
    <h1 fxLayout="row" fxLayoutAlign="space-between center">
      {{'home.select-workspace' | translate}}
      <div>
        <button mat-button *ngIf="appService.authData.isAdmin" [routerLink]="['/admin']"
                [matTooltip]="'home.goto-admin' | translate">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="menuUser" matTooltip="Meine Daten/Anmelden" matTooltipPosition="above" fxFlex>
          <mat-icon>account_box</mat-icon>
        </button>
      </div>
      <mat-menu #menuUser="matMenu">
        <button mat-menu-item (click)="changeUserData()">
          <mat-icon>edit</mat-icon>Name/E-Mail ändern
        </button>
        <button mat-menu-item (click)="changePassword()">
          <mat-icon>lock</mat-icon>Kennwort ändern
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>Abmelden
        </button>
      </mat-menu>
    </h1>
    <h2 *ngIf="appService.globalWarning" class="warning">{{appService.globalWarning}}</h2>
    <studio-lite-home-workspaces
      fxFlex fxLayout="column"
      class="scroll-area"
      [workspaceGroups]="appService.authData.workspaces">
    </studio-lite-home-workspaces>
  </div>

  <div fxFlex="0 0 400px" fxLayout="column" class="box-left" fxLayoutGap="6px" *ngIf="appService.authData.reviews.length > 0">
    <h1 fxLayout="row" fxLayoutAlign="space-between center">
      {{'home.select-review' | translate}}
      <button mat-button (click)="logout()" *ngIf="appService.authData.userId === 0"
              matTooltip="Abmelden">
        <mat-icon>logout</mat-icon>
      </button>
    </h1>
    <a mat-raised-button (click)="buttonGotoReview(r)"
       [matTooltip]="r.workspaceName ? r.workspaceName : ''"
       matTooltipPosition="right"
       *ngFor="let r of appService.authData.reviews">
      {{r.name}}
    </a>
  </div>

  <div fxFlex="0 2 400px" fxLayout="column" class="box-right">
    <h1>{{appService.appConfig.appTitle}}</h1>
    <div [innerHTML]="appService.appConfig.introHtml" class="scroll-area"></div>
    <div>
      <ul>
        <li>Kennung der Anwendung: {{appName}}</li>
        <li>Version: {{appVersion}}</li>
        <li *ngIf="appService.authData.userId === 0">{{ appService.authData.reviews.length > 0 ? 'Für Aufgabenfolge/Review angemeldet' : 'nicht angemeldet'}}</li>
        <li *ngIf="appService.authData.userId > 0">
          angemeldet als:
          {{appService.authData.userName}}
          {{appService.authData.userLongName ? ' - ' + appService.authData.userLongName : ''}}
        </li>
        <li *ngIf="appService.authData.isAdmin">Berechtigung zum Ändern von Nutzerrechten und Arbeitsbereichen</li>
      </ul>
    </div>
    <button mat-raised-button color="primary" [routerLink]="['/about']">{{'home.imprint' | translate}}</button>
  </div>
</div>
