.home-body {
  position: absolute;
  width: 100%;
  top: 70px;
  bottom: 0;
  overflow-y: auto;
  max-height: calc(100% - 65px);
}

.box-right, .box-left {
  padding: 20px;
  margin: 10px;
}

.box-right {
  background-color: var(--st-box-background);
}

.box-left {
  background: white;
}

h1 {
  font-weight: normal;
  font-size: 1.2em;
}

.area-title {
  font-weight: normal;
  font-size: 1.2em;
  margin: 0.7em 0;
  line-height: 1.8;
}

.mat-raised-button {
  min-width: 160px;
}
.mat-raised-button .mat-icon {
  margin-right: 10px;
}
.workspace-list {
  /* max-height: calc(100% - 100px); */
}
.fix-height {
  height: calc(100% - 70px);
  /* background-color: darkkhaki; */
  overflow-y: auto;
}
.scroll-area {
  /* background-color: mediumaquamarine; */
  overflow-y: auto;
}

