.home-body {
  position: absolute;
  width: 100%;
  top: 70px;
  bottom: 0;
  overflow-y: auto;
  max-height: calc(100% - 65px);
}

.box-right, .box-left {
  padding: 20px;
  margin: 10px;
}

.box-right {
  background-color: lightgrey;
}

.box-left {
  background: white;
}

.error-message {
  color: red;
  padding: 5px;
}
.ws-button {
  margin-left: 20px;
  margin-bottom: 4px;
}

.warning {
  background-color: salmon;
  padding: 4px;
}

h1 {
  font-weight: normal;
  font-size: 1.2em;
}

h2 {
  padding: 2px 6px;
  background-color: lightgray;
  font-weight: normal;
  margin-bottom: 2px;
}

.scroll-area .mat-button {
  line-height: 24px;
}

.mat-raised-button {
  min-width: 160px;
}
.mat-raised-button .mat-icon {
  margin-right: 10px;
}
.workspace-list {
  /* max-height: calc(100% - 100px); */
}
.fix-height {
  height: calc(100% - 70px);
  /* background-color: darkkhaki; */
  overflow-y: auto;
}
.scroll-area {
  /* background-color: mediumaquamarine; */
  overflow-y: auto;
}
