<button mat-button
        [style.width.%]="100"
        [matMenuTriggerFor]="menuNew"
        [disabled]="disabled"
        [matTooltip]="'workspace.add-units' | translate"
        matTooltipPosition="above">
  <studio-lite-wrapped-icon icon="add"></studio-lite-wrapped-icon>
</button>

<mat-menu #menuNew>
  <button mat-menu-item
          (click)="addUnit()">
    <mat-icon>add</mat-icon>
    {{'workspace.new-empty-unit' | translate}}
  </button>
  <button mat-menu-item
          (click)="addUnitFromExisting()">
    <mat-icon>content_copy</mat-icon>
    {{'workspace.from-existing' | translate}}
  </button>
  <button mat-menu-item
          (click)="hiddenFileInput.click()">
    <mat-icon>input</mat-icon>
    {{'workspace.import-files' | translate}}
  </button>
</mat-menu>

<input #hiddenFileInput type="file"
       name="files"
       accept=".xml,.voud,.zip,.vomd"
       multiple
       [hidden]="true"
       (change)="onFileSelected($event.currentTarget)"/>
