@if (isLoading) {
  <mat-spinner class="spinner"></mat-spinner>
}
@if (!isLoading && !isError) {
  <div>
    <form class="fx-column-start-stretch" >
      @for (collection of ProfileStoreWithProfilesCollection; track collection) {
        <div>
          <mat-expansion-panel class="profile-store mat-elevation-z0">
            <mat-expansion-panel-header>
              <mat-panel-title
                data-cy="shared-profiles-select-profile-title">
                {{collection.profileStore.title}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            @for (profile of collection.profiles; track profile) {
              <div>
                <mat-checkbox
                  [id]="profile.id"
                  [checked]="isChecked(profile.id)"
                  (change)="changeSelection($event)"
                  [name]="profile.label"
                  data-cy="shared-profiles-select-profile">
                  {{profile.label}}
                </mat-checkbox>
              </div>
            }
          </mat-expansion-panel>
        </div>
      }
    </form>
  </div>
}
@if (isError) {
  <mat-error>
    {{'metadata.error-fetching-metadata-profiles' | translate}}
  </mat-error>
}
