<div class="page-footer fx-row-space-between-center">
  <div class="fx-row-space-between-center fx-gap-10">
    <studio-lite-status-indication [presentationProgress]="presentationProgress"
                                   [responseProgress]="responseProgress"
                                   [hasFocus]="hasFocus">
    </studio-lite-status-indication>
    <button mat-raised-button
            [disabled]="(playerApiVersion < 3) || (postMessageTarget === null)"
            [matTooltip]="'workspace.send-navigation-denied' | translate"
            (click)="navigationDenied.emit()">
      {{'workspace.validate' | translate}}
    </button>
<!--    <button mat-raised-button-->
<!--            (click)="checkCoding.emit()">-->
<!--      Codierprüfung-->
<!--    </button>-->
    <p>{{ playerName }}</p>
  </div>

  <studio-lite-paging-mode-selection *ngIf="pageList"
                                     class="paging-mode-selection-container">
  </studio-lite-paging-mode-selection>

<!--  <a *ngIf="unitId"-->
<!--     mat-icon-button-->
<!--     [attr.aria-label]="'workspace.print' | translate"-->
<!--     [routerLink]="['/print']"-->
<!--     [queryParams]="{workspaceId: workspaceService.selectedWorkspaceId, unitIds: [unitId]}"-->
<!--     target="_blank"-->
<!--     [matTooltip]="'workspace.print' | translate">-->
<!--    <mat-icon>print</mat-icon>-->
<!--  </a>-->
  <button mat-icon-button *ngIf="unitId"
          [matTooltip]="'workspace.print' | translate"
          (click)="showPrintOptions()">
    <mat-icon>print</mat-icon>
  </button>

  <studio-lite-page-navigation [pageList]="pageList"
                               (gotoPage)="gotoPage.emit($event)">
  </studio-lite-page-navigation>

</div>
