<mat-nav-list *ngFor="let unitGroup of workspaceService.unitList | keyvalue">
  <div class="unit-group-header">{{unitGroup.key}}</div>
  <a mat-list-item style="height: 22px;text-overflow: ellipsis"
     *ngFor="let unit of unitGroup.value"
     class="unit-list-entry"
     [class.selected]="unit.id === selectedUnitId"
     [matTooltip]="unit.name || ''"
     matTooltipPosition="right"
     (click)="selectUnit(unit.id)">
    {{ unit.key }}{{ unit.name ? ' - ' + unit.name : ''}}
    <div *ngIf="unit | hasNewComments"
         class="new-comments"
         [matTooltip]="'workspace.new-comments' | translate">
    </div>
  </a>
</mat-nav-list>

