.white-color {
  color: white !important;
}

.user-info {
  background-color: #eee;
  padding: 25px;
  margin: 20px;
  border-radius: 15px;
}

.info-header {
  margin-bottom: 10px;
}

.info-title {
  font-weight: 500;
  margin-bottom: 5px;
}

.info-value {
  margin-bottom: 5px;
  color: #006064;
}
