.white-color {
  color: white !important;
}

.user-name {
  font-weight: 500;
}

.user-info {
  background-color: #eee;
  padding: 25px;
  margin: 20px;
  border-radius: 15px;
}

.info-title {
  font-weight: 500;
  margin-bottom: 5px;
}

.info-version {
  margin-top: 10px;
  .version-value {
    margin-left: 5px;
  }
}

.info-value {
  color: #006064;
}

.is-admin {
  margin-top: 10px;
}
