.led {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.complete {
  @extend .led;
  background-color: #b2ff59;
}

.label {
  position: absolute;
  margin-left: 10px;
  margin-top: 6px;
  color: #333;
}

.some {
  @extend .led;
  background-color: #ff9800;
}

.none {
  @extend .led;
  background-color: #999;
}

.yes {
  @extend .complete;
}

.no {
  @extend .some;
}
