<div class="fx-row-start-stretch fx-gap-5">
  <div [class.complete]="presentationProgress === 'complete'"
       [class.some]="presentationProgress === 'some'"
       [class.none]="presentationProgress === 'none'"
       [matTooltip]="'presentation-progress.description' | translate">
    {{'presentation-progress.label' | translate}}
  </div>
  <div [class.complete]="responseProgress === 'complete'"
       [class.some]="responseProgress === 'some'"
       [class.none]="responseProgress === 'none'"
       [matTooltip]="'response-progress.description' | translate">
    {{'response-progress.label' | translate}}
  </div>
  <div [class.yes]="hasFocus"
       [class.no]="!hasFocus"
       [matTooltip]="'player-has-focus.description' | translate">
    {{'player-has-focus.label' | translate}}
  </div>
</div>
