<div class="margin-bottom">Zusätzliche Dateien z. B. für Testcenter:</div>
<mat-checkbox [disabled]="!enablePlayerOption"
              [ngModel]="addPlayers" class="margin-bottom"
              (ngModelChange)="addPlayersChange.emit($event);
              unitsWithOutPlayerChange.emit($event ? unitsWithOutPlayer : [])">
  Player hinzufügen
</mat-checkbox>
<div class="fx-column-start-stretch">
  <div *ngIf="!enablePlayerOption" class="tcMessage margin-bottom">
    Keine Aufgabe hat einen gültigen Player gesetzt.
  </div>
  <div class="fx-row-start-stretch">
    <label class="fx-flex"
           [style.max-width.%]="50">Logins hinzufügen
    </label>
    <div class="fx-column-start-stretch">
      <mat-form-field>
        <input matInput type="number" min="0"
               [ngModel]="addTestTakersReview" placeholder="Anzahl für Review"
               (ngModelChange)="addTestTakersReviewChange.emit($event)">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" min="0"
               [ngModel]="addTestTakersMonitor" placeholder="Anzahl für Monitor"
               (ngModelChange)="addTestTakersMonitorChange.emit($event)">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" min="0"
               [ngModel]="addTestTakersHot" placeholder="Anzahl für Test"
               (ngModelChange)="addTestTakersHotChange.emit($event)">
      </mat-form-field>
    </div>
  </div>
  <mat-checkbox [disabled]="(addTestTakersReview + addTestTakersMonitor + addTestTakersHot) === 0"
                class="margin-bottom"
                [ngModel]="passwordLess"
                (ngModelChange)="passwordLessChange.emit($event)">
    <div>Ohne Kennwort (nur Login-Name)</div>
  </mat-checkbox>
  <mat-form-field>
    <mat-select [placeholder]="'unit-download.booklet-config.paging-mode.label' | translate"
                [disabled]="(addTestTakersReview + addTestTakersMonitor + addTestTakersHot) === 0"
                [ngModel]="pagingMode"
                (ngModelChange)="pagingModeChange.emit($event)">
      <mat-option [value]="'separate'">
        {{'unit-download.booklet-config.paging-mode.separate' | translate}}
      </mat-option>
      <mat-option [value]="'concat-scroll'">
        {{'unit-download.booklet-config.paging-mode.concat-scroll' | translate}}
      </mat-option>
      <mat-option [value]="'concat-scroll-snap'">
        {{'unit-download.booklet-config.paging-mode.concat-scroll-snap' | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select [placeholder]="'unit-download.booklet-config.unit_navibuttons.label' | translate"
                [disabled]="(addTestTakersReview + addTestTakersMonitor + addTestTakersHot) === 0"
                [ngModel]="navigationButtons"
                (ngModelChange)="navigationButtonsChange.emit($event)">
      <mat-option [value]="'FULL'">
        {{'unit-download.booklet-config.unit_navibuttons.FULL' | translate}}
      </mat-option>
      <mat-option [value]="'ARROWS_ONLY'">
        {{'unit-download.booklet-config.unit_navibuttons.ARROWS_ONLY' | translate}}
      </mat-option>
      <mat-option [value]="'OFF'">
        {{'unit-download.booklet-config.unit_navibuttons.OFF' | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="addPlayers && unitsWithOutPlayer.length > 0"
       class="tcMessage">
    Es sind nur Aufgaben wählbar, die einen gültigen Player gesetzt haben.
  </div>
</div>
