<div id="finish-page" fxLayout="column" fxLayoutAlign="center center">
  <div class="finish-data" fxLayout="column">
    <div>
      <h4>Ende der Aufgabenfolge</h4>
      <h1>{{reviewService.reviewName}}</h1>
      <h2>{{reviewService.workspaceName}}</h2>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" id="backwards-button">
      <a mat-fab
         (click)="reviewService.setUnitNavigationRequest(reviewService.units.length -1)"
         matTooltip="Zurück"
      >
        <i class="material-icons">chevron_left</i>
      </a>
    </div>
  </div>
</div>
