<mat-card class="files">
  <div class="header">{{'unit-download.export-format' | translate}}</div>
  <mat-radio-group [ngModel]="exportFormat"
                   (ngModelChange)="exportFormatChange.emit($event)">
    <mat-radio-button value="xml">{{'unit-download.export-format-xml' | translate}}</mat-radio-button>
    <mat-radio-button value="json">{{'unit-download.export-format-json' | translate}}</mat-radio-button>
  </mat-radio-group>
  <div class="header">{{'unit-download.add-files' | translate}}</div>
  @for (state of fileStates; track state.option.label) {
    <mat-checkbox [attr.data-cy]="'export-file-' + state.option.flag"
                  [disabled]="!state.available"
                  [checked]="state.checked"
                  (change)="setFileChecked(state, $event.checked)">
      {{state.option.label | translate}}
    </mat-checkbox>
    @if (!state.available) {
      <div class="config-message">{{state.option.hint | translate}}</div>
    }
    @if (state.option.flag === 'addComments' && state.checked) {
      <div class="config-message">{{'unit-download.export-votes-warning' | translate}}</div>
    }
  }
  <mat-checkbox data-cy="export-file-addPlayers"
                [disabled]="!enablePlayerOption"
                [ngModel]="addPlayers" class="margin-bottom"
                (ngModelChange)="addPlayersChange.emit($event);
                unitsWithOutPlayerChange.emit($event ? unitsWithOutPlayer : [])">
    {{'unit-download.add-player' | translate}}
  </mat-checkbox>

  @if (!enablePlayerOption) {
    <div class="config-message margin-bottom">
      {{'unit-download.no-player' | translate}}
    </div>
  }

  @if (addPlayers && unitsWithOutPlayer.length > 0) {
    <div
      class="config-message margin-bottom">
      {{'unit-download.units-without-player' | translate}}
    </div>
  }
</mat-card>
