<mat-card class="files">
  <div class="header">{{'unit-download.export-format' | translate}}</div>
  <mat-radio-group [ngModel]="exportFormat"
                   (ngModelChange)="exportFormatChange.emit($event)">
    <mat-radio-button value="xml">{{'unit-download.export-format-xml' | translate}}</mat-radio-button>
    <mat-radio-button value="json">{{'unit-download.export-format-json' | translate}}</mat-radio-button>
  </mat-radio-group>
  <div class="header">{{'unit-download.add-files' | translate}}</div>
  <mat-checkbox [ngModel]="addComments"
                (ngModelChange)="addCommentsChange.emit($event)">
    {{'unit-download.add-comments' | translate}}
  </mat-checkbox>
  @if (addComments) {
    <div class="config-message">{{'unit-download.export-votes-warning' | translate}}</div>
  }
  <mat-checkbox [ngModel]="addRichNotes"
                (ngModelChange)="addRichNotesChange.emit($event)">
    {{'unit-download.add-rich-notes' | translate}}
  </mat-checkbox>
  <mat-checkbox [disabled]="!enablePlayerOption"
                [ngModel]="addPlayers" class="margin-bottom"
                (ngModelChange)="addPlayersChange.emit($event);
                unitsWithOutPlayerChange.emit($event ? unitsWithOutPlayer : [])">
    {{'unit-download.add-player' | translate}}
  </mat-checkbox>

  @if (!enablePlayerOption) {
    <div class="config-message margin-bottom">
      {{'unit-download.no-player' | translate}}
    </div>
  }

  @if (addPlayers && unitsWithOutPlayer.length > 0) {
    <div
      class="config-message margin-bottom">
      {{'unit-download.units-without-player' | translate}}
    </div>
  }
</mat-card>
