.config-message {
  font-style: italic;
  font-size: smaller;
}

.header {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.files {
  padding: 20px 25px;
  margin-bottom: 20px;
}


