<mat-table [dataSource]="objectsDatasource" *ngIf="hasObjects()" matSort class="admin-tab-content">
  <ng-container matColumnDef="selectCheckbox">
    <mat-header-cell *matHeaderCellDef fxFlex="60px">
      <mat-checkbox (change)="$event ? masterToggleSelection() : null"
                    [checked]="tableSelectionCheckboxes.hasValue() && isAllSelected()"
                    [indeterminate]="tableSelectionCheckboxes.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" fxFlex="60px">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? tableSelectionCheckboxes.toggle(row) : null"
                    [checked]="tableSelectionCheckboxes.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="namecell" fxFlex> Name </mat-header-cell>
    <mat-cell *matCellDef="let element" class="namecell" fxFlex>
      <a target="_blank" [href]="downloadPath + element.filelink" [matTooltip]="element.description">{{element.label}}</a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="namecell" fxFlex> ID </mat-header-cell>
    <mat-cell *matCellDef="let element" class="namecell" fxFlex>{{element.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="version">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="namecell" fxFlex="80px"> Version </mat-header-cell>
    <mat-cell *matCellDef="let element" class="namecell" fxFlex="80px">{{element.version}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="filedatetime">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="datecell" fxFlex="160px"> Datum/Zeit </mat-header-cell>
    <mat-cell *matCellDef="let element" class="datecell" fxFlex="160px">
      {{element.fileDatetime * 1000 | date : 'dd.MM.yyyy HH:mm' : timeZone}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="filesize">
    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="80px"> Größe </mat-header-cell>
    <mat-cell *matCellDef="let element" fxFlex="80px"> {{element.filesizeStr}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="verona-version">
    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="100px"> API-Version </mat-header-cell>
    <mat-cell *matCellDef="let element" fxFlex="100px"> {{element.veronaVersion}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
