<div class="fx-column-start-stretch">

  <mat-slide-toggle #xmlParams
    class="show-xml-params"
    labelPosition="before">
    {{'booklet-config.show-xml-params' | translate}}
  </mat-slide-toggle>

  <mat-form-field>
    <mat-label>{{xmlParams.checked ?
      'pagingMode' :
    'booklet-config.pagingMode.label' | translate}}</mat-label>
    <mat-select [placeholder]="xmlParams.checked ?
                  'pagingMode' :
                  'booklet-config.pagingMode.label' | translate"
      [disabled]="disabled"
      [(ngModel)]="bookletConfig.pagingMode"
      (selectionChange)="configChanged.emit(bookletConfig)">
      <mat-option value=""></mat-option>
      @for (option of pagingModeOptions; track option) {
        <mat-option
          [value]="option">
          {{xmlParams.checked ? option : 'booklet-config.pagingMode.' + option | translate}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{xmlParams.checked ?
      'page_navibuttons' :
    'booklet-config.pageNaviButtons.label' | translate}}</mat-label>
    <mat-select [placeholder]="xmlParams.checked ?
                  'page_navibuttons' :
                  'booklet-config.pageNaviButtons.label' | translate"
      [disabled]="disabled"
      [(ngModel)]="bookletConfig.pageNaviButtons"
      (selectionChange)="configChanged.emit(bookletConfig)">
      <mat-option value=""></mat-option>
      @for (option of pageNaviButtonsOptions; track option) {
        <mat-option
          [value]="option">
          {{xmlParams.checked ? option : 'booklet-config.pageNaviButtons.' + option | translate}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{xmlParams.checked ?
      'unit_navibuttons' :
    'booklet-config.unitNaviButtons.label' | translate}}</mat-label>
    <mat-select [placeholder]="xmlParams.checked ?
                  'unit_navibuttons' :
                  'booklet-config.unitNaviButtons.label' | translate"
      [disabled]="disabled"
      [(ngModel)]="bookletConfig.unitNaviButtons"
      (selectionChange)="configChanged.emit(bookletConfig)">
      <mat-option value=""></mat-option>
      @for (option of unitNaviButtonsOptions; track option) {
        <mat-option
          [value]="option">
          {{xmlParams.checked ? option : 'booklet-config.unitNaviButtons.' + option | translate}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{xmlParams.checked ?
      'controller_design' :
    'booklet-config.controllerDesign.label' | translate}}</mat-label>
    <mat-select [placeholder]="xmlParams.checked ?
                  'controller_design' :
                  'booklet-config.controllerDesign.label' | translate"
      [disabled]="disabled"
      [(ngModel)]="bookletConfig.controllerDesign"
      (selectionChange)="configChanged.emit(bookletConfig)">
      <mat-option value=""></mat-option>
      @for (option of controllerDesignOptions; track option) {
        <mat-option
          [value]="option">
          {{xmlParams.checked ? option : 'booklet-config.controllerDesign.' + option | translate}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{xmlParams.checked ?
      'unit_screenheader' :
    'booklet-config.unitScreenHeader.label' | translate}}</mat-label>
    <mat-select [placeholder]="xmlParams.checked ?
                  'unit_screenheader' :
                  'booklet-config.unitScreenHeader.label' | translate"
      [disabled]="disabled"
      [(ngModel)]="bookletConfig.unitScreenHeader"
      (selectionChange)="configChanged.emit(bookletConfig)">
      <mat-option value=""></mat-option>
      @for (option of unitScreenHeaderOptions; track option) {
        <mat-option
          [value]="option">
          {{xmlParams.checked ? option : 'booklet-config.unitScreenHeader.' + option | translate}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{xmlParams.checked ?
      'unit_title' :
    'booklet-config.unitTitle.label' | translate}}</mat-label>
    <mat-select [placeholder]="xmlParams.checked ?
                  'unit_title' :
                  'booklet-config.unitTitle.label' | translate"
      [disabled]="disabled"
      [(ngModel)]="bookletConfig.unitTitle"
      (selectionChange)="configChanged.emit(bookletConfig)">
      <mat-option value=""></mat-option>
      @for (option of unitTitleOptions; track option) {
        <mat-option
          [value]="option">
          {{xmlParams.checked ? option : 'booklet-config.unitTitle.' + option | translate}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
