<form [formGroup]="configForm"
      class="fx-column-start-stretch">
  <mat-form-field class="fx-column-start-stretch">
    <mat-label>{{'missings-profiles-config.iqb-standard' | translate}}</mat-label>
    <input matInput
           formControlName="iqbStandardMissings">
  </mat-form-field>
  <div class="fx-row-end-center">
    <button mat-raised-button
            color="primary"
            [disabled]="!dataChanged"
            (click)="saveData()">
      {{'save' | translate}}
    </button>
  </div>
</form>
