.selected {
  background-color: #3957f74f
}

.units {
  overflow: auto;
  background-color: white;
}

.group-list {
  overflow: auto;
  background-color: whitesmoke;
  border: 2px solid whitesmoke
}

.group-list-entry {
  white-space: nowrap;
  font-size: 14px;
  margin-right: 12px;
}

.badge-holder {
  width: 2px;
  margin-right: 6px;
  background-color: transparent;
}

.group-changed {
  background-color: darkorange;
  padding: 2px
}

.group-not-changed {
  background-color: transparent;
  padding: 2px
}

.group-key {
  text-overflow: ellipsis;
  overflow: hidden;
}

.dialog-content{
  gap: 5px;
  display: flex;
  height: 65vh
}

.units-wrapper {
  height: 64vh;
}

.changes-container {
  padding: 5px;
}



