.selected {
  background-color: #00606415;
}

.units {
  overflow: auto;
  background-color: white;
}

.group-list {
  overflow: auto;
}

.group-list-entry {
  white-space: nowrap;
  font-size: 14px;
}

.badge-holder {
  pointer-events: none;
}

.group-changed {
  background-color: darkorange;
  padding: 2px
}

.group-not-changed {
  background-color: transparent;
  padding: 2px
}

.group-key {
  text-overflow: ellipsis;
  overflow: hidden;
}

.dialog-content{
  gap: 5px;
  display: flex;
  height: 65vh
}

.units-wrapper {
  height: 64vh;
}

.changes-container {
  padding: 5px;
}



