<div class="fx-row-start-stretch">
  <button mat-button
          [matTooltip]="'admin.add-user' | translate"
          (click)="addUser()"
          data-cy="admin-users-menu-add-user">
    <studio-lite-wrapped-icon icon="add"></studio-lite-wrapped-icon>
  </button>
  <button mat-button
          [disabled]="selectedRows.length !== 1"
          [matTooltip]="'admin.edit-user-data' | translate"
          (click)="editUser()"
          data-cy="admin-users-menu-edit-user">
    <studio-lite-wrapped-icon icon="edit"></studio-lite-wrapped-icon>
  </button>
  @if (orphanedSessionCount > 0) {
    <button mat-button
            [matTooltip]="'admin.clear-orphaned-sessions' | translate: { count: orphanedSessionCount }"
            (click)="clearOrphanedSessions()"
            data-cy="admin-users-menu-clear-orphaned-sessions">
      <studio-lite-wrapped-icon icon="link_off"></studio-lite-wrapped-icon>
    </button>
  }
</div>
