<div fxLayout="row" class="comment">

  <studio-lite-comment-badge [userName]="comment.userName"
                             [ownComment]="ownComment">
  </studio-lite-comment-badge>

  <div fxLayout="column">

    <div fxLayout="row"
         class="comment-meta">
      <div>{{ comment.userName }}</div>
      <div>{{ comment.createdAt | momentFromNow }}</div>
    </div>

    <div fxLayout="row">
      <div fxFlex>
        <div *ngIf="!(activeComment | isEditing: comment)"
             class="comment-html"
             [class.own-comment]="ownComment"
             [innerHTML]="comment.body| safeResourceHTML">
        </div>

        <studio-lite-comment-editor
          *ngIf="activeComment | isEditing: comment"
          studioLiteScrollEditorIntoView [isVisible] = "activeComment | isEditing: comment"
          submitLabel="comment-editor.edit"
          [initialHTML]="comment.body"
          (handleSubmit)="updateComment.emit({ text: $event, commentId: comment.id })"
          (handleCancel)="setActiveComment.emit(null)">
        </studio-lite-comment-editor>

        <studio-lite-comment-editor
          *ngIf="activeComment | isReplying: comment"
          studioLiteScrollEditorIntoView [isVisible] = "activeComment | isReplying: comment"
          submitLabel="comment-editor.reply"
          (handleCancel)="setActiveComment.emit(null)"
          (handleSubmit)="addComment.emit({ text: $event, parentId: replyId })">
        </studio-lite-comment-editor>
      </div>

      <div fxFlex="120px">
        <button mat-icon-button
                class="comment-action"
                matTooltip = "{{'comment.reply' | translate}}"
                [disabled] ="(activeComment | isEditing: comment) || (activeComment | isReplying: comment)"
                (click)="setActiveComment.emit({ id: comment.id, type: activeCommentType.replying })">
          <mat-icon>reply</mat-icon>
        </button>
        <button *ngIf="ownComment"
                mat-icon-button
                class="comment-action"
                matTooltip = "{{'comment.edit' | translate}}"
                [disabled] ="(activeComment | isEditing: comment) || (activeComment | isReplying: comment)"
                (click)="setActiveComment.emit({ id: comment.id, type: activeCommentType.editing })">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="ownComment || adminMode"
                mat-icon-button
                class="comment-action"
                matTooltip = "{{'comment.delete' | translate}}"
                [disabled] ="(activeComment | isEditing: comment) || (activeComment | isReplying: comment)"
                (click)="deleteComment.emit({ commentId: comment.id, numberOfReplies: replies.length })">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <ng-container *ngIf="replies.length">
      <studio-lite-comment
        *ngFor="let reply of replies"
        [comment]="reply"
        [activeComment]="activeComment"
        [parentId]="comment.id"
        [replies]="[]"
        [userId]="userId"
        [adminMode]="adminMode"
        [latestCommentId]="latestCommentId"
        (setActiveComment)="setActiveComment.emit($event)"
        (updateComment)="updateComment.emit($event)"
        (deleteComment)="deleteComment.emit($event)"
        (addComment)="addComment.emit($event)"
        studioLiteScrollCommentIntoView
        [id]="reply.id"
        [scrollTargetId]="latestCommentId">
      </studio-lite-comment>
    </ng-container>
  </div>
</div>
