.workspace-group-header {
  padding: 4px 0 4px 10px;
  background-color: lightgray;
  margin-bottom: 2px;
  div {
    font-size: larger;
    font-weight: normal;
  }
}

.mat-button {
  line-height: 24px;
}
