<legend *ngIf="props.label">{{ props.label }}</legend>
<p *ngIf="props.description">{{ props.description }}</p>
<div *ngFor="let field of field.fieldGroup; let i = index">
  <div class="fx-row-space-between-start">
    <formly-field
      [field]="field">
    </formly-field>
    <button mat-icon-button
            color="primary"
            type="button"
            (click)="remove(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
<button mat-fab extended
        color="primary"
        type="button"
        (click)="add()">
  <mat-icon>add</mat-icon>
  {{props.addText}}
</button>

