 <mat-accordion>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'workspace.review-settings' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput
             [placeholder]="'workspace.review-name' | translate"
             [(ngModel)]="name"
             [disabled]="!selectedReviewId"
             (ngModelChange)="nameChange.emit($event); reviewChange.emit()">
    </mat-form-field>
    <div class="fx-row-start-stretch margin-bottom fx-gap-5">
      <mat-form-field class="fx-flex-50">
        <input matInput
               [placeholder]="'workspace.review-password' | translate"
               [(ngModel)]="password"
               [disabled]="!selectedReviewId"
               (ngModelChange)="passwordChange.emit($event); reviewChange.emit()">
      </mat-form-field>
      <div [class]="(selectedReviewId && password && password.length < 4) ? 'rev-message' : 'invisible'">
        {{'workspace.review-password-info' | translate}}
      </div>
    </div>
    <studio-lite-review-config-edit [disabled]="!selectedReviewId"
                                    [config]="reviewConfigSettings"
                                    (configChanged)="reviewConfigSettingsChange.emit($event); reviewChange.emit()">
    </studio-lite-review-config-edit>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'workspace.booklet-settings' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <studio-lite-booklet-config-edit [disabled]="!selectedReviewId"
                                     [config]="bookletConfigSettings"
                                     (configChanged)="bookletConfigSettingsChange.emit($event); reviewChange.emit()">
    </studio-lite-booklet-config-edit>
  </mat-expansion-panel>
</mat-accordion>

