<h2>{{key}}</h2>
@if (name) {
  <h3>{{name}}</h3>
}

<table class="metadata">
  @if (stateLabel) {
    <tr>
      <td class="cell left-cell">{{'print.stateLabel' | translate}}</td>
      <td class="cell right-cell">{{stateLabel}}</td>
    </tr>
  }
  @if (groupName) {
    <tr>
      <td class="cell left-cell">{{'print.group-name' | translate}}</td>
      <td class="cell right-cell">{{groupName}}</td>
    </tr>
  }
  @if (description) {
    <tr>
      <td class="cell left-cell">{{'print.description' | translate}}</td>
      <td class="cell right-cell">{{description}}</td>
    </tr>
  }
  @if (transcript) {
    <tr>
      <td class="cell left-cell">{{'print.transcript' | translate}}</td>
      <td class="cell right-cell">{{transcript}}</td>
    </tr>
  }
  @if (reference) {
    <tr>
      <td class="cell left-cell">{{'print.reference' | translate}}</td>
      <td class="cell right-cell">{{reference}}</td>
    </tr>
  }
  @if (lastChangedDefinition) {
    <tr>
      <td class="cell left-cell">{{'print.last-changed-definition' | translate}}</td>
      <td class="cell">{{lastChangedDefinitionUser}}</td>
      <td class="cell right-cell">{{lastChangedDefinition | date: 'dd.MM.yyyy HH:mm'}}</td>
    </tr>
  }
  @if (lastChangedMetadata) {
    <tr>
      <td class="cell left-cell">{{'print.last-changed-metadata' | translate}}</td>
      <td class="cell">{{lastChangedMetadataUser}}</td>
      <td class="cell right-cell">{{lastChangedMetadata | date: 'dd.MM.yyyy HH:mm'}}</td>
    </tr>
  }
  @if (lastChangedScheme) {
    <tr>
      <td class="cell left-cell">{{'print.last-changed-scheme' | translate}}</td>
      <td class="cell">{{lastChangedSchemeUser}}</td>
      <td class="cell right-cell">{{lastChangedScheme | date: 'dd.MM.yyyy HH:mm'}}</td>
    </tr>
  }
  @if (player) {
    <tr>
      <td class="cell left-cell">{{'print.player' | translate}}</td>
      <td class="cell right-cell">{{player}}</td>
    </tr>
  }
  @if (editor) {
    <tr>
      <td class="cell left-cell">{{'print.editor' | translate}}</td>
      <td class="cell right-cell">{{editor}}</td>
    </tr>
  }
  @if (schemer) {
    <tr>
      <td class="cell left-cell">{{'print.schemer' | translate}}</td>
      <td class="cell right-cell">{{schemer}}</td>
    </tr>
  }
</table>
