<div class="fx-column-start-stretch full-height">
  <h1 mat-dialog-title>{{ data.title }}</h1>
  <form *ngIf="selectForm"
        [formGroup]="selectForm"
        class="fx-column-start-stretch">
    <mat-form-field>
      <mat-select formControlName="wsSelector"
                  [placeholder]="'workspace.title' | translate"
                  (selectionChange)="updateWorkspace($event.value)">
        <mat-option *ngFor="let workspace of workspaceList"
                    [value]="workspace.id">
          {{workspace.groupName}}: {{workspace.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <mat-dialog-content>
    <studio-lite-select-unit-list #unitSelectionTable
                                  [workspace]="ds.selectedWorkspaceId"
                                  [multiple]="data.multiple"
                                  [selectedUnitId]="data.selectedUnitId">
    </studio-lite-select-unit-list>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button
            color="primary"
            type="submit"
            [mat-dialog-close]="true"
            [disabled]="!unitSelectionTable.selectionCount">
      {{data.buttonLabel}}
    </button>
    <button mat-raised-button
            [mat-dialog-close]="false">
      {{'cancel' | translate}}
    </button>
  </mat-dialog-actions>
</div>
