<h3 mat-dialog-title>{{'metadata.assign-metadata-profiles' | translate}}</h3>
<mat-dialog-content class="profiles">
  <studio-lite-profiles [profiles] ="formData.profilesSelected"
                        [title]="'metadata.assign-metadata-profiles' | translate"
                        (hasChanged) ="hasChanged($event)"/>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button
          color="primary"
          type="submit"
          [mat-dialog-close]="this.formData">
    {{'save' | translate}}
  </button>
  <button mat-raised-button
          [mat-dialog-close]="false">
    {{'cancel' | translate}}
  </button>
</mat-dialog-actions>
