.single-box {
  background: var(--st-box-background);
  flex-grow: 0;
  flex-shrink: 2;
  flex-basis: 500px;
}

.card-dimensions {
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 2;
  flex-basis: 500px;
}
