<div class="page-body">
  <div class="about-content fx-row-center-start">
    <mat-card class="card-dimensions single-box">
      <div class="area-container">
        <mat-card-title class="mat-h1 about-title">{{appService.appConfig.appTitle}}</mat-card-title>
        <mat-card-content>
          <div class="mat-body-1" [innerHTML]="appService.appConfig.imprintHtml"></div>
        </mat-card-content>
        <mat-card-actions align="end">
          <a mat-raised-button [color]="'primary'"
             [routerLink]="['/']"
             data-cy="about-home-page-link">{{'home.home-page' | translate}}</a>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>
