<div class="page-body">
  <div class="fx-row-center-start">
    <mat-card class="card-dimensions single-box">
      <mat-card-title>{{appService.appConfig.appTitle}} - {{appService.appConfig.pageTitle}}</mat-card-title>
      <mat-card-content>
        <div [innerHTML]="appService.appConfig.imprintHtml"></div>
      </mat-card-content>
      <mat-card-actions align="end">
        <a mat-raised-button [color]="'primary'"
           [routerLink]="['/']">{{'home.home-page' | translate}}</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
