<div class="container">
  <mat-checkbox [disabled]="!params.allowMultipleValues && totalSelected >= 1 && !checkboxSelected()" [checked]="node.selected" (click)="onSelect()">{{displayText}}</mat-checkbox>
  <textarea matInput
            (input)="onInput($event)"
            [value]= "description()"
            *ngIf="checkboxSelected()"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="3"
            cdkAutosizeMaxRows="5">
  </textarea>
</div>
