@for (option of printOptions ; track option) {
  <div>
    @if (option.key !== 'printPreviewHeight') {
      <mat-checkbox
        [(ngModel)]="option.value"
        [disabled]="(option.key === 'printElementIds' || option.key === 'printPreviewAutoHeight') && !(printOptions | isActivePrintOption : 'printPreview')"
        (ngModelChange)="setPrintOptions(printOptions)">
        {{ 'print.' + option.key | translate }}
      </mat-checkbox>
    }
    @if (option.key === 'printPreviewHeight') {
      <mat-form-field
        appearance="fill">
        <mat-label>{{ 'print.printPreviewHeight' | translate }}</mat-label>
        <input matInput
          type="number"
          min="0"
          step="10"
          [disabled]="!(printOptions | isActivePrintOption : 'printPreview') || (printOptions | isActivePrintOption : 'printPreviewAutoHeight')"
          [(ngModel)]="option.value"
          (ngModelChange)="setPrintOptions(printOptions)">
      </mat-form-field>
    }
  </div>
}
