<div class="page-body">
  <div class="admin-background">
    <nav mat-tab-nav-bar mat-stretch-tabs="false"
      [tabPanel]="tabPanel">
      @for (link of navLinks; track link) {
        <a
          mat-tab-link
          [routerLink]="link"
          routerLinkActive="active-link"
          #rla="routerLinkActive"
          [active]="rla.isActive">
          {{'admin.'+link | translate}}
        </a>
      }
    </nav>
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </div>
</div>
