.admin-background {
  background-color: white;
  padding: 25px;
  margin: 40px;
  height: calc(100% - 135px);
  border-radius: 20px;
}

.communication-error-message {
  color: red;
  padding: 10px 50px;
}
.active-link {
  color: black;
}
