<div class="fx-column-start-stretch">
  <studio-lite-unit-properties class="properties"
    [name] = "unitProperties ? unitProperties.name : ''"
    [key] = "unitProperties ? unitProperties.key : ''"
    [groupName] = "unitProperties && (printOptions | include : 'printProperties' ) ?
                    unitProperties.groupName : ''"
    [description]="unitProperties && (printOptions | include : 'printProperties' ) ?
                    unitProperties.description: ''"
    [reference]="unitProperties && (printOptions | include : 'printProperties' ) ?
                  unitProperties.reference: ''"
    [transcript]="unitProperties && (printOptions | include : 'printProperties' ) ?
                    unitProperties.transcript: ''"
    [player] = "(printOptions | include : 'printProperties') ? playerId : ''"
    [editor] = "unitProperties && (printOptions | include : 'printProperties') ?
                  unitProperties.editor : ''"
    [schemer] = "unitProperties && (printOptions | include : 'printProperties') ?
                  unitProperties.schemer : ''"
    [lastChangedDefinition] = "unitProperties && (printOptions | include : 'printProperties' ) ?
                                unitProperties.lastChangedDefinition : null"
    [lastChangedMetadata] = "unitProperties && (printOptions | include : 'printProperties') ?
                              unitProperties.lastChangedMetadata : null"
    [lastChangedScheme] = "unitProperties && (printOptions | include : 'printProperties') ?
                            unitProperties.lastChangedScheme : null">
  </studio-lite-unit-properties>

  <studio-lite-print-metadata *ngIf="(printOptions | include : 'printMetadata')"
                              [metadata] = "unitProperties && unitProperties.metadata || null">
  </studio-lite-print-metadata>

  <studio-lite-unit-print-comments *ngIf="printOptions | include : 'printComments'"
                                   [unitId]="unitId"
                                   [workspaceId]="workspaceId">
  </studio-lite-unit-print-comments>

  <studio-lite-unit-print-coding *ngIf="printOptions | include : 'printCoding'"
                                 [unitId]="unitId"
                                 [workspaceId]="workspaceId">
  </studio-lite-unit-print-coding>


  <div *ngIf="playerId && (printOptions | include : 'printPreview')" >
    <studio-lite-unit-print-player *ngIf="playerId"
                                   [iFrameHeight]="playerHeight"
                                   [playerId]="playerId"
                                   [unitId]="unitId"
                                   [workspaceId]="workspaceId">
    </studio-lite-unit-print-player>

    <div class="fx-row-space-around-center change-player-height-container">
      <mat-form-field
        class="hide-on-print"
        appearance="fill">
        <mat-label>{{ 'print.change-player-height' | translate }}</mat-label>
        <input matInput
               type="number"
               min="0"
               step="10"
               [ngModel]="playerHeight"
               (ngModelChange)="playerHeightChange($event)">
      </mat-form-field>
    </div>

  </div>
</div>



