<div class="fx-column-start-stretch">
  <studio-lite-unit-metadata
    [name] = "unitMetadata ? unitMetadata.name : ''"
    [key] = "unitMetadata ? unitMetadata.key : ''"
    [groupName] = "unitMetadata && (printOptions | include : 'printProperties' ) ?
                    unitMetadata.groupName : ''"
    [description]="unitMetadata && (printOptions | include : 'printProperties' ) ?
                    unitMetadata.description: ''"
    [reference]="unitMetadata && (printOptions | include : 'printProperties' ) ?
                  unitMetadata.reference: ''"
    [transcript]="unitMetadata && (printOptions | include : 'printProperties' ) ?
                    unitMetadata.transcript: ''"
    [player] = "(printOptions | include : 'printProperties') ? playerId : ''"
    [editor] = "unitMetadata && (printOptions | include : 'printProperties') ?
                  unitMetadata.editor : ''"
    [schemer] = "unitMetadata && (printOptions | include : 'printProperties') ?
                  unitMetadata.schemer : ''"
    [lastChangedDefinition] = "unitMetadata && (printOptions | include : 'printProperties' ) ?
                                unitMetadata.lastChangedDefinition : null"
    [lastChangedMetadata] = "unitMetadata && (printOptions | include : 'printProperties') ?
                              unitMetadata.lastChangedMetadata : null"
    [lastChangedScheme] = "unitMetadata && (printOptions | include : 'printProperties') ?
                            unitMetadata.lastChangedScheme : null">
  </studio-lite-unit-metadata>

  <!--  <studio-lite-print-metadata [metadata] = "unitMetadata && unitMetadata.metadata ? unitMetadata.metadata : null">-->
  <!--  </studio-lite-print-metadata>-->


  <studio-lite-unit-print-comments *ngIf="printOptions | include : 'printComments'"
                                   [unitId]="unitId"
                                   [workspaceId]="workspaceId">
  </studio-lite-unit-print-comments>

  <studio-lite-unit-print-coding *ngIf="printOptions | include : 'printCoding'"
                                 [unitId]="unitId"
                                 [workspaceId]="workspaceId">
  </studio-lite-unit-print-coding>


  <div *ngIf="playerId && (printOptions | include : 'printPreview')" >
    <studio-lite-unit-print-player *ngIf="playerId"
                                   [iFrameHeight]="playerHeight"
                                   [playerId]="playerId"
                                   [unitId]="unitId"
                                   [workspaceId]="workspaceId">
    </studio-lite-unit-print-player>

    <div class="fx-row-space-around-center change-player-height-container">
      <mat-form-field
        class="hide-on-print"
        appearance="fill">
        <mat-label>{{ 'print.change-player-height' | translate }}</mat-label>
        <input matInput
               type="number"
               min="0"
               step="10"
               [ngModel]="playerHeight"
               (ngModelChange)="playerHeightChange($event)">
      </mat-form-field>
    </div>

  </div>
</div>



