<div class="fx-column-start-stretch">
  <div class="unit-info-coding-header">{{'review.coding' | translate}}</div>
  <studio-lite-unit-info-loader #loader
    (onEnter)="updateContent()">
  </studio-lite-unit-info-loader>
  @if (allVariables.length === 0) {
    <div>
      {{ (loader?.spinnerOn ? 'review.loading-coding-information' : 'review.no-coding-information') | translate }}
    </div>
  }
  @for (c of allVariables; track c) {
    <div class="unit-info-coding-content">
      <div class="fx-row-space-between-stretch">
        <h4>{{c.alias || c.id}}</h4>
        <h4>{{c.sourceType === 'BASE' ? 'B' : 'A'}}</h4>
      </div>
      @if (c.label) {
        <div>{{c.label}}</div>
      }
      @if (c.manualInstruction) {
        <div
          [innerHTML]="c.manualInstruction">
        </div>
      }
    </div>
  }
</div>
