.settings {
  padding: 2px 2px 2px 0;
}

::ng-deep studio-lite-select-unit-list .selected-units-hint p {
  margin-left: 20px;
}

.selected {
  background-color: #006064BB;
  > .mat-mdc-cell {
    color: white;
  }
  &:hover {
    background-color: #006064BB;
  }
}

.select-review-area {
  padding: 0 20px;
}

.review-changed {
  height: 65vh;
  background-color: #00606430;
  padding: 2px
}

.review-not-changed {
  height: 65vh;
  background-color: transparent;
  padding: 2px
}

.review-changes-area {
  overflow-y: auto;
  background-color: white;
}

.review-list-area {
  height: 65vh;
}

.reviews {
  background-color: #00606405;
  overflow-y: auto;
}

.review-sort {
  min-height: 28px;
  background-color: white;
}

.review-row {
  min-height: 28px;
  border-bottom-color: #00606420;
  &:hover:not(.selected) {
    background-color: #00606420;
  }
}
