<div class="fx-column-start-stretch">
  <h1 mat-dialog-title>{{'workspace.reviews' | translate}}</h1>
  <mat-dialog-content>
    <div class="fx-row-start-stretch fx-gap-20">

      <div class="fx-column-end-stretch fx-flex-row-20 review-list-area">
        <studio-lite-search-filter *ngIf="reviews.length"
                                   [title]="'search-filter.filter-reviews' | translate"
          (valueChange)="objectsDatasource.filter = $event.trim().toLowerCase()">
        </studio-lite-search-filter>

        <mat-table *ngIf="reviews.length"
                   class="reviews fx-flex-fill"
                   matSortDisableClear
                   matSortActive="name"
                   matSortDirection="asc"
                   matSort
                   [dataSource]="objectsDatasource">

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef
                             mat-sort-header="name">
              {{'workspace.review' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.name}}
            </mat-cell>
          </ng-container>

          <mat-header-row class='review-sort'
                          *matHeaderRowDef="displayedColumns; sticky: true">
          </mat-header-row>
          <mat-row class='review-row'
                   *matRowDef="let row; columns: displayedColumns;"
                   [class.selected]="selectedReviewId===row.id"
                   (click)="selectReview(row.id)"></mat-row>
        </mat-table>

        <studio-lite-review-menu
          [selectedReviewId]="selectedReviewId"
          [units]="reviewDataOriginal.units ? reviewDataOriginal.units : []"
          [workspaceId]="workspaceService.selectedWorkspaceId"
          [link]="reviewDataOriginal.link ? reviewDataOriginal.link : ''"
          [passwordLength]="reviewDataOriginal.password ? reviewDataOriginal.password.length : 0"
          [bookletConfigSettings]="reviewDataOriginal.settings?.bookletConfig"
          [(changed)]="changed"
          (reviewListChange)="loadReviewList($event)">
        </studio-lite-review-menu>
      </div>

      <div class="fx-column-start-stretch fx-flex-row-80"
           [class.review-changed]="changed"
           [class.review-not-changed]="!changed">
        <div class="fx-row-start-stretch fx-flex-fill fx-gap-20 review-changes-area">
          <div class="fx-flex-row-50">
            <div [hidden]="selectedReviewId">{{'workspace.select-review' | translate}}</div>
            <studio-lite-select-unit-list [hidden]="!selectedReviewId"
                                          [selectedUnitIds]="reviewDataToChange.units ? reviewDataToChange.units : []"
                                          [workspace]="workspaceService.selectedWorkspaceId"
                                          (selectionChanged)="unitSelectionChanged($event)">
            </studio-lite-select-unit-list>
          </div>
          <studio-lite-review-config class="fx-flex-row-50 settings"
                                     [selectedReviewId]="selectedReviewId"
                                     [bookletConfigSettings]="reviewDataToChange.settings?.bookletConfig"
                                     [reviewConfigSettings]="reviewDataToChange.settings?.reviewConfig"
                                     [(name)]="reviewDataToChange.name"
                                     [(password)]="reviewDataToChange.password"
                                     (reviewChange)="changed = detectChanges()"
                                     (bookletConfigSettingsChange)="bookletConfigSettingsChange($event)"
                                     (reviewConfigSettingsChange)="reviewConfigSettingsChange($event)">
          </studio-lite-review-config>
        </div>
        <studio-lite-review-save-changes [changed]="changed"
                                         (discardChanges)="discardChanges()"
                                         (saveChanges)="saveChanges()">
        </studio-lite-review-save-changes>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="fx-column-start-stretch">
    <div class="fx-row-start-stretch">
      <button mat-raised-button
              [mat-dialog-close]="false"
              [disabled]="changed">
        {{'dialogs.close' | translate}}
      </button>
    </div>
  </mat-dialog-actions>
</div>
