<mat-dialog-content>
  <div class="fx-row-start-end">
    <div>
      <mat-icon class="icon-display">construction</mat-icon>
    </div>
    <p>
      Sie werden auf die Seite eines externen Identitätsanbieters weitergeleitet, welcher sich noch im Ausbau befindet!
      Wollen Sie auf diese Seite wechseln?
    </p>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button
          color="primary"
          type="submit"
          [mat-dialog-close]="true">
    {{ 'confirm' | translate }}
  </button>
  <button mat-raised-button
          type="submit"
          [mat-dialog-close]="false">
    {{ 'close' | translate }}
  </button>

</mat-dialog-actions>
