<div class="selection-header">
  <studio-lite-unit-groups #unitGroups
    [groupsInfo]=groupsInfo
    [expandedGroups]=expandedGroups
    [numberOfGroups]=numberOfGroups>
    <studio-lite-search-filter
      #filterInput
      [title]="'search-filter.filter-units' | translate">
    </studio-lite-search-filter>
    <div>
      <studio-lite-unit-table
        [hasSortHeader]="true"
        [unitList]="[]"
        (sortChange)="sortUnitTables($event)">
      </studio-lite-unit-table>
    </div>


    @for (unitGroup of unitList | keyvalue; track unitGroup.key) {
      <studio-lite-unit-group
        class="unit-group"
        [count]="unitGroup.value.length"
        [title]="unitGroup.key"
        [expandAll]="unitGroups.expandAll"
        (expandedChange) = onExpandedChange($event)
        data-cy="unit-group-name">
        <studio-lite-unit-table
          [hasSortHeader]="false"
          [unitList]="unitGroup.value"
          [states]="workspaceService.states"
          [filter]="filterInput.value"
          [selectedUnitId]="selectedUnitId"
          (selectUnit)="selectUnit($event)">
        </studio-lite-unit-table>
      </studio-lite-unit-group>
    }
  </studio-lite-unit-groups>
</div>
