<div class="selection-header">
  <div class="fx-row-end-end expand-button">
    <span>{{numberOfGroups}} Gruppen mit {{numberOfUnits}} Aufgaben</span>
    <button *ngIf="!expanded"
            mat-icon-button
            [attr.aria-label]="'accordion.expand' | translate"
            (click)="this.expanded = !this.expanded">
      <mat-icon>expand_more</mat-icon>
    </button>
    <button *ngIf="expanded"
            mat-icon-button
            [attr.aria-label]="'accordion.expand' | translate"
            (click)="this.expanded = !this.expanded">
      <mat-icon>expand_less</mat-icon>
    </button>
  </div>
  <studio-lite-search-filter #filterInput
                             [title]="'search-filter.filter-units' | translate">
  </studio-lite-search-filter>
  <div>
    <studio-lite-unit-table
      [hasSortHeader]="true"
      [unitList]="[]"
      (sortChange)="sortUnitTables($event)">
    </studio-lite-unit-table>
  </div>
</div>


<studio-lite-unit-groups [unitGroupList]="unitList" [filter]="filterInput.value" [expanded]=expanded>
  <studio-lite-unit-group *ngFor="let unitGroup of (unitList | keyvalue)"  class="unit-group"
                          [count]="unitGroup.value.length" [title]="unitGroup.key" [expanded]=expanded>
  <studio-lite-unit-table
    [hasSortHeader]="false"
    [unitList]="unitGroup.value"
    [filter]="filterInput.value"
    [selectedUnitId]="selectedUnitId"
    (selectUnit)="selectUnit($event)">
  </studio-lite-unit-table>
</studio-lite-unit-group>
</studio-lite-unit-groups>

