<div class="selection-header">
  <studio-lite-search-filter #filterInput
                             [title]="'search-filter.filter-units' | translate">
  </studio-lite-search-filter>
  <div class="fx-row-space-between-stretch">
    <studio-lite-unit-table
      [hasSortHeader]="true"
      [unitList]="[]"
      (sortChange)="sortUnitTables($event)">
    </studio-lite-unit-table>
  </div>
</div>

<studio-lite-unit-groups [unitList]=unitList [filter]="filterInput.value"></studio-lite-unit-groups>

