@if (codings && codings.length) {
  <h3>{{'print.coding' | translate}}</h3>
}
@if (!codings || codings && !codings.length) {
  <h3>{{'print.no-coding' | translate}}</h3>
}
@for (coding of codings; track coding; let first = $first) {
  @if (!first) {
    <hr>
    }
    <table class="codings">
      <tr>
        <td class="left-cell">
          <h4>{{coding.id}}</h4>
        </td>
        <td>
          {{coding.sourceType === 'BASE' ? 'B' : 'A'}}
        </td>
      </tr>
      @if (coding.label) {
        <tr>
          <td class="left-cell">
            <p>{{'print.label' | translate}}</p>
          </td>
          <td>
            <p>{{coding.label}}</p>
          </td>
        </tr>
      }
      @if (coding.manualInstruction) {
        <tr>
          <td class="left-cell">
            <p>{{'print.common-manual-instruction' | translate}}</p>
          </td>
          <td>
            @if (coding.manualInstruction) {
              <div
              [innerHTML]="coding.manualInstruction"></div>
            }
          </td>
        </tr>
      }
    </table>
    @for (code of coding.codes; track code; let first = $first) {
      <div
        class="code-list">
        @if (first) {
          <h5>{{'print.code-list' | translate}}</h5>
        }
        @if (!first) {
          <hr>
          }
          <studio-lite-unit-print-code [codeData]="code">
          </studio-lite-unit-print-code>
        </div>
      }
    }

