.comment-acronym {
  margin: 14px 10px;
  font-size: 0.8em;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #666666;
  color: white;
}

.own-comment {
  background-color: #003333;
}
