@if (key) {
  <h2 class="unit-key">{{key}}</h2>
}
@if (name) {
  <h3 class="unit-name">{{name}}</h3>
}
<table class="metadata">
  @if (stateLabel) {
    <tr>
      <td class="cell left-cell">{{'print.stateLabel' | translate}}</td>
      <td class="cell"></td>
      <td class="cell right-cell">{{stateLabel}}</td>
    </tr>
  }
  @if (groupName) {
    <tr>
      <td class="cell left-cell">{{'print.group-name' | translate}}</td>
      <td class="cell"></td>
      <td class="cell right-cell">{{groupName}}</td>
    </tr>
  }
  @if (description) {
    <tr>
      <td class="cell left-cell">{{'print.description' | translate}}</td>
      <td class="cell"></td>
      <td class="cell right-cell">{{description}}</td>
    </tr>
  }
  @if (transcript) {
    <tr>
      <td class="cell left-cell">{{'print.transcript' | translate}}</td>
      <td class="cell"></td>
      <td class="cell right-cell">{{transcript}}</td>
    </tr>
  }
  @if (player) {
    <tr>
      <td class="cell left-cell">{{'print.player' | translate}}</td>
      <td class="cell"></td>
      <td class="cell right-cell">{{player}}</td>
    </tr>
  }
  @if (editor) {
    <tr>
      <td class="cell left-cell">{{'print.editor' | translate}}</td>
      <td class="cell"></td>
      <td class="cell right-cell">{{editor}}</td>
    </tr>
  }
  @if (schemer) {
    <tr>
      <td class="cell left-cell">{{'print.schemer' | translate}}</td>
      <td class="cell"></td>
      <td class="cell right-cell">{{schemer}}</td>
    </tr>
  }
</table>
