<div class="editor-container fx-column-start-stretch">
  <div class="fx-row-space-between-center fx-wrap">
    <div class="editor-label">{{label}}</div>
    <div class="editor-menubar fx-row-end-stretch fx-wrap">
      <button type="button" mat-icon-button
              matTooltip="{{'comment-editor.bold' | translate}}"
              [matTooltipPosition]="'above'"
              [matTooltipShowDelay]="300"
              [class.active]="editor.isActive('bold')"
              (click)="toggleBold()">
        <studio-lite-wrapped-icon icon="format_bold"></studio-lite-wrapped-icon>
      </button>
      <button type="button" mat-icon-button
              matTooltip="{{'comment-editor.italic' | translate}}"
              [matTooltipPosition]="'above'"
              [matTooltipShowDelay]="300"
              [class.active]="editor.isActive('italic')"
              (click)="toggleItalic()">
        <studio-lite-wrapped-icon icon="format_italic"></studio-lite-wrapped-icon>
      </button>
      <button type="button" mat-icon-button
              matTooltip="{{'comment-editor.underline' | translate}}"
              [matTooltipPosition]="'above'"
              [matTooltipShowDelay]="300"
              [class.active]="editor.isActive('underline')"
              (click)="toggleUnderline()" style="text-decoration: underline">
        <studio-lite-wrapped-icon icon="format_underlined"></studio-lite-wrapped-icon>
      </button>
      <button type="button" mat-icon-button
              matTooltip="{{'comment-editor.superscript' | translate}}"
              [matTooltipPosition]="'above'"
              [matTooltipShowDelay]="300"
              [class.active]="editor.isActive('superscript')"
              (click)="toggleSuperscript()">
        <studio-lite-wrapped-icon icon="superscript"></studio-lite-wrapped-icon>
      </button>
      <button type="button" mat-icon-button
              matTooltip="{{'comment-editor.subscript' | translate}}"
              [matTooltipPosition]="'above'"
              [matTooltipShowDelay]="300"
              [class.active]="editor.isActive('subscript')"
              (click)="toggleSubscript()">
        <studio-lite-wrapped-icon icon="subscript"></studio-lite-wrapped-icon>
      </button>
      <button type="button" mat-icon-button
              matTooltip="{{'comment-editor.strike' | translate}}"
              [matTooltipPosition]="'above'"
              [matTooltipShowDelay]="300"
              [class.active]="editor.isActive('strike')"
              (click)="toggleStrike()">
        <studio-lite-wrapped-icon icon="strikethrough_s"></studio-lite-wrapped-icon>
      </button>
      <div class="fx-row-start-stretch"
           matTooltip="{{'comment-editor.text-color' | translate}}"
           [matTooltipPosition]="'above'">
        <button type="button"
                mat-icon-button
                (click)="applyFontColor()">
          <studio-lite-wrapped-icon icon="format_color_text"></studio-lite-wrapped-icon>
        </button>
        <mat-select
          class="editor-color-select-button"
          [style.background-image]="'linear-gradient(135deg, white 60%, ' + selectedFontColor +' 60%)'"
          (click)="textColorInput.click()">
        </mat-select>
        <input matInput
               type="color"
               #textColorInput hidden
               (input)="selectedFontColor = $any($event.target).value; applyFontColor()">
      </div>
      <div class="fx-row-start-stretch"
           matTooltip="{{'comment-editor.text-background' | translate}}"
           [matTooltipPosition]="'above'">
        <button type="button"
                mat-icon-button
                (click)="applyHighlightColor()">
          <studio-lite-wrapped-icon icon="format_color_fill"></studio-lite-wrapped-icon>
        </button>
        <mat-select class="editor-color-select-button"
                    [style.background-image]="'linear-gradient(135deg, white 60%, ' + selectedHighlightColor +' 60%)'"
                    (click)="textHighlightColorInput.click()">
        </mat-select>
        <input matInput
               type="color"
               #textHighlightColorInput hidden
               (input)="selectedHighlightColor = $any($event.target).value; applyHighlightColor()">
      </div>
      <button type="button"
              mat-icon-button
              matTooltip="{{'comment-editor.enumeration' | translate}}"
              [matTooltipPosition]="'above'"
              [class.active]="editor.isActive('bulletList')"
              (click)="toggleBulletList()">
        <studio-lite-wrapped-icon icon="format_list_bulleted"></studio-lite-wrapped-icon>
      </button>
      <button type="button"
            mat-icon-button
            matTooltip="{{'comment-editor.image' | translate}}"
            [matTooltipPosition]="'above'"
            (click)="addImage()">
      <studio-lite-wrapped-icon icon="image"></studio-lite-wrapped-icon>
    </button>
    </div>
  </div>
  <div class="editor-area fx-row-start-stretch">
    <tiptap-editor class="tip-tap-editor fx-flex-fill"
                   [editor]="editor"
                   mat-dialog-content
                   [style.font-size.px]="16">
    </tiptap-editor>
    <div class="editor-actions fx-column-space-between-end">
      <button mat-icon-button
              matTooltip="{{'comment-editor.cancel' | translate}}"
              [matTooltipPosition]="'below'"
              (click)="onReset()"
              class="reset-button">
        <studio-lite-wrapped-icon icon="close"></studio-lite-wrapped-icon>
      </button>
      <button mat-fab
              [disabled]="!(editorHTML | isCommentCommittable)"
              color="primary"
              matTooltip="{{ submitLabel | translate}}"
              [matTooltipPosition]="'above'"
              (click)="onSubmit()"
              class="submit-button">
        <studio-lite-wrapped-icon icon="send"></studio-lite-wrapped-icon>
      </button>
    </div>
  </div>
</div>
