:host.unit-editor {
  height: 100%;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}

.host-editor-container {
  width: 100%;
  padding: 0;
}

.wait-animation {
  align-self: center;
  margin-top: 30%;
}


.message {
  margin: 30px;
}

.unitHost {
  height: 100%;
}
