<div class="booklet-config fx-column-start-stretch">
  @for (setting of settings; track setting.key) {
    <div
      class="fx-row-center-center"
      [attr.data-cy]="'booklet-config-show-' + setting.key">
      <div class="fx-flex-row-50">{{'booklet-config.' + setting.key + '.label' | translate}}</div>
      <div class="fx-flex-fill">
        {{'booklet-config.' + setting.key + '.' + setting.value | translate}}
        @if (setting.isDefault) {
          {{'booklet-config.is-default' | translate}}
        }
      </div>
    </div>
  }
</div>
