<div class="booklet-config fx-column-start-stretch">
  @if (bookletConfig.pagingMode) {
    <div
      class="fx-row-center-center">
      <div class="fx-flex-row-50">{{'booklet-config.pagingMode.label' | translate}}</div>
      <div class="fx-flex-fill">{{'booklet-config.pagingMode.' + bookletConfig.pagingMode | translate}}</div>
    </div>
  }
  @if (bookletConfig.pageNaviButtons) {
    <div
      class="fx-row-center-center">
      <div class="fx-flex-row-50">{{'booklet-config.pageNaviButtons.label' | translate}}</div>
      <div class="fx-flex-fill">{{'booklet-config.pageNaviButtons.' + bookletConfig.pageNaviButtons | translate}}</div>
    </div>
  }
  @if (bookletConfig.unitNaviButtons) {
    <div
      class="fx-row-center-center">
      <div class="fx-flex-row-50">{{'booklet-config.unitNaviButtons.label' | translate}}</div>
      <div class="fx-flex-fill">{{'booklet-config.unitNaviButtons.' + bookletConfig.unitNaviButtons | translate}}</div>
    </div>
  }
  @if (bookletConfig.controllerDesign) {
    <div
      class="fx-row-center-center">
      <div class="fx-flex-row-50">{{'booklet-config.controllerDesign.label' | translate}}</div>
      <div class="fx-flex-fill">{{'booklet-config.controllerDesign.' + bookletConfig.controllerDesign | translate}}</div>
    </div>
  }
  @if (bookletConfig.unitScreenHeader) {
    <div
      class="fx-row-center-center">
      <div class="fx-flex-row-50">{{'booklet-config.unitScreenHeader.label' | translate}}</div>
      <div class="fx-flex-fill">{{'booklet-config.unitScreenHeader.' + bookletConfig.unitScreenHeader | translate}}</div>
    </div>
  }
  @if (bookletConfig.unitTitle) {
    <div
      class="fx-row-center-center">
      <div class="fx-flex-row-50">{{'booklet-config.unitTitle.label' | translate}}</div>
      <div class="fx-flex-fill">{{'booklet-config.unitTitle.' + bookletConfig.unitTitle | translate}}</div>
    </div>
  }
</div>
