.scroll-area {
  height: calc(100% - 35px);
  overflow-y: auto;
}

.active-dot, .inactive-dot, .passive-dot, .orphaned-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.active-dot {
  background-color: #006064;
  box-shadow: 0 0 5px #006064;
}

.inactive-dot {
  background-color: #9e9e9e;
  box-shadow: 0 0 5px #9e9e9e;
}

.passive-dot {
  background-color: #6aa2a4;
  box-shadow: 0 0 5px #6aa2a4;
}

.orphaned-dot {
  background-color: #b71c1c;
  box-shadow: 0 0 5px #b71c1c;
}

.object-list {
  height: calc(100% - 5px);
  padding-right: 20px;
  .object-header-container {
    margin-top: 35px;
    .object-header {
      @extend .info;
      width: 100%;
    }
  }
}

.secondary-cell {
  color: gray;
}

.fx-flex-row-fix-70 {
  flex: 1 1 70px;
  box-sizing: border-box;
  max-width: 70px;
  min-width: 70px;
}

.selected {
  background-color: #00606415;
  &:hover {
    background-color: #00606415 !important;
  }
}

.info {
  margin: 20px 0;
  padding: 20px 15px;
  border-radius: 5px;
  color: #006064;
  background: #00606410;
}

.save-button{
  position: absolute;
  top: 65px;
  right: 60px;
}

.header-right, .cell-right {
  justify-content: flex-end;
}


