.scroll-area {
  height: calc(100% - 35px);
  overflow-y: auto;
}

.object-list {
  height: calc(100% - 5px);
  .object-header-container {
    margin-top: 35px;
    .object-header {
      @extend .info;
      width: 100%;
    }
  }
}

.secondary-cell {
  color: gray;
}

.fx-flex-row-fix-70 {
  flex: 1 1 70px;
  box-sizing: border-box;
  max-width: 70px;
  min-width: 70px;
}

.selected {
  background-color: #00606415;
  &:hover {
    background-color: #00606415 !important;
  }
}

.info {
  margin: 20px 0;
  padding: 20px 15px;
  border-radius: 5px;
  border: 1px solid #000000;
}

.save-button{
  position: absolute;
  top: 65px;
  right: 60px;
}

