.error-message {
  color: red;
  padding: 5px;
}

.submit-button {
  display: flex;
  align-self: end;
}

.invisible {
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}

form {
  margin-bottom: 20px;
}

.area-container {
  max-height: calc(100vh - 270px);
  overflow: auto;
  padding: 0 5px 10px 5px;
}

