<div class="fx-row-space-between-stretch">
  <studio-lite-area-title
    [title]="(appService.appConfig.hasUsers ? 'home.login' : 'home.first-login') | translate">
  </studio-lite-area-title>
<!--  @if (!loggedInKeycloak) {-->
<!--    <button type="button" mat-icon-button-->
<!--      matTooltip="{{'login.alternative' | translate}}"-->
<!--      [matTooltipPosition]="'above'"-->
<!--      [matTooltipShowDelay]="300"-->
<!--      (click)="loginKeycloak()"-->
<!--      data-cy="alternative-login">-->
<!--      <studio-lite-wrapped-icon icon="call_made"></studio-lite-wrapped-icon>-->
<!--    </button>-->
<!--  }-->
  @if (appService.globalWarning) {
    <studio-lite-warning
      [warnMessage]="appService.globalWarning">
    </studio-lite-warning>
  }
  @if (!appService.appConfig.hasUsers) {
    <studio-lite-warning
      [warnMessage]="'home.no-user' | translate">
    </studio-lite-warning>
  }
</div>
<form class="fx-column-start-stretch"
  [formGroup]="loginForm"
  (ngSubmit)="login()">
  <div class="fx-column-start-stretch">
    <mat-form-field [class.invisible]="loginNamePreset">
      <input matInput formControlName="name"
        [placeholder]="'home.user-name' | translate"
        (keyup.enter)="pw.focus()"
        data-cy="home-user-name">
    </mat-form-field>
    @if (loginNamePreset) {
      <p>
        {{ 'home.login-with-preset' | translate }}
      </p>
    }
    <mat-form-field>
      <input matInput #pw
        type="password"
        formControlName="pw"
        [placeholder]="'home.password' | translate"
        (keyup.enter)="login()"
        data-cy="home-password">
    </mat-form-field>
  </div>
  @if (errorMessage) {
    <p
      class="error-message">
      {{ errorMessage }}
    </p>
  }
  <button mat-raised-button
    type="submit"
    [disabled]="loginForm.invalid"
    color="primary"
    data-cy="home-submit">{{ 'next' | translate }}
  </button>
</form>

