<mat-spinner class="spinner" *ngIf="isLoading"></mat-spinner>
<div class="container" *ngIf="!isLoading && !isError">
    <h3>{{'metadata.assign-metadata-profiles' | translate}}</h3>
    <form class="fx-column-start-stretch scroll-area" >
      <div *ngFor="let collection of ProfileStoreWithProfilesCollection" class="profile-stores">
        <mat-expansion-panel class="profile-store">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{collection.profileStore.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let profile of collection.profiles">
            <mat-checkbox
                    [id]="profile.id"
                    [checked]="isChecked(profile.id)"
                    (change)="changeSelection($event)"
                    [name]="profile.label">
              {{profile.label}}
            </mat-checkbox>
          </div>
        </mat-expansion-panel>
      </div>
    </form>
</div>
<mat-error *ngIf="isError">
    {{'metadata.error-fetching-metadata-profiles' | translate}}
</mat-error>

