<div class="fx-column-start-stretch">
  <h1 mat-dialog-title>{{ 'unit-download.dialog.title' | translate }}</h1>
  <mat-dialog-content class="fx-row-start-stretch dialog-content">
      <select-unit-list #unitSelectionTable
                        class="fx-flex"
                        [filter]="data && data.units ? data.units : []"
                        [initialSelection]="data && data.units ? data.units : []"
                        [workspace]="workspaceService.selectedWorkspaceId"
                        (selectionChanged)="unitExportSettings.unitIdList = $event">
      </select-unit-list>
    <div class="fx-flex"
         [style.max-width.px]="300">
      <studio-lite-test-config [(addTestTakersReview)]="unitExportSettings.addTestTakersReview"
                                   [(addTestTakersHot)]="unitExportSettings.addTestTakersHot"
                                   [(addTestTakersMonitor)]="unitExportSettings.addTestTakersMonitor"
                                   [(addPlayers)]="unitExportSettings.addPlayers"
                                   [(passwordLess)]="unitExportSettings.passwordLess"
                                   (unitsWithOutPlayerChange)="unitSelectionTable.disabled = $event">
      </studio-lite-test-config>
      <studio-lite-booklet-config-edit [disabled]="!(unitExportSettings.addTestTakersReview +
                                                     unitExportSettings.addTestTakersHot +
                                                     unitExportSettings.addTestTakersMonitor)"
                                       (configChanged)="setBookletConfigSettings($event)">
      </studio-lite-booklet-config-edit>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="fx-column-start-stretch">
    <div class="fx-row-start-stretch">
      <button mat-raised-button color="primary"
              type="submit"
              [mat-dialog-close]="unitExportSettings"
              [disabled]="unitSelectionTable.selectionCount === 0">
        {{'unit-download.dialog.ok-button-label' | translate}}</button>
      <button mat-raised-button [mat-dialog-close]="false">
        {{'dialogs.cancel' | translate}}
      </button>
    </div>
  </mat-dialog-actions>
</div>
