<div fxLayout="row" fxLayoutAlign="space-between start" class="admin-tab-content">
  <div class="object-list" fxLayout="column" fxFlex="50">
    <div fxLayout="row">
      <button mat-raised-button (click)="addObject()" matTooltip="Gruppe hinzufügen">
          <mat-icon>add</mat-icon>
        </button>
      <button mat-raised-button (click)="deleteObject()" [disabled]="selectedWorkspaceGroupId === 0 && this.tableSelectionCheckbox.selected.length === 0"
              matTooltip="Markierte Gruppe/n löschen">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-raised-button (click)="changeObject()" [disabled]="selectedWorkspaceGroupId === 0 && this.tableSelectionCheckbox.selected.length !== 1"
              matTooltip="Gruppe ändern">
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <mat-table [dataSource]="objectsDatasource" matSort matSortDisableClear class="scroll-area">
      <ng-container matColumnDef="selectCheckbox">
        <mat-header-cell *matHeaderCellDef fxFlex="70px">
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="tableSelectionCheckbox.hasValue() && isAllSelected()"
                        [indeterminate]="tableSelectionCheckbox.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="70px">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tableSelectionCheckbox.toggle(row) : null"
                        [checked]="tableSelectionCheckbox.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"
        [style.background]="tableSelectionRow.isSelected(row) ? 'lightblue' : ''"></mat-row>
    </mat-table>
  </div>

  <div class="object-list" fxLayout="column" fxFlex="40">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div *ngIf="selectedWorkspaceGroupId === 0">Zugriffsrechte: Bitte links Gruppe wählen</div>
      <div *ngIf="selectedWorkspaceGroupId > 0" >Zugriffsrechte für {{ tableSelectionRow.selected[0]?.name }}:</div>
      <button mat-raised-button (click)="saveUsers()" matTooltip="Speichern"
              matTooltipPosition="above" [disabled]="!workspaceUsers?.hasChanged">
        <mat-icon>save</mat-icon>
      </button>
    </div>

    <div class="scroll-area" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="start start" *ngFor="let u of workspaceUsers.entries">
        <mat-checkbox (change)="workspaceUsers?.updateHasChanged()" fxFlex
                      [(ngModel)]="u.isChecked" [disabled]="selectedWorkspaceGroupId === 0" style="margin-left: 20px;">
          {{u.displayName}} ({{u.name}})</mat-checkbox>
          <div style="color: gray; margin: 3px" fxFlex>{{u.description}}</div>
      </div>
    </div>
  </div>
</div>
