<div class="fx-column-start-stretch navibar">
  <studio-lite-unit-save-button></studio-lite-unit-save-button>
  <studio-lite-unit-list class="unit-list fx-flex"
                         [unitList]="workspaceService.unitList"
                         [selectedUnitId]="(workspaceService.selectedUnit$ | async) || 0"
                         [navLinks]="navLinks">
  </studio-lite-unit-list>
  <div class="fx-row-start-stretch">
    <studio-lite-add-unit-button [navLinks]="navLinks"
                                 [selectedRouterLink]="selectedRouterLink">
    </studio-lite-add-unit-button>

    <studio-lite-delete-unit-button [navLinks]="navLinks"
                                    [selectedRouterLink]="selectedRouterLink">
    </studio-lite-delete-unit-button>

    <studio-lite-edit-unit-button [navLinks]="navLinks"
                                  [selectedRouterLink]="selectedRouterLink">
    </studio-lite-edit-unit-button>
  </div>
</div>
