<div #scrollContainer class="padding-container screen-scroll-container">
  @for (unitId of unitIds; track unitId) {
    <div
      class="page-break-after">
      <studio-lite-unit-print-layout
        [printPreviewHeight] = printPreviewHeight
        [printOptions]="printOptions"
        [unitId]="unitId"
        [workspaceId]="workspaceId"
        [workspaceGroupId]="workspaceGroupId"
        (heightChange)="addToScrollPosition($event)">
      </studio-lite-unit-print-layout>
    </div>
  }
</div>
