<div class="fx-row-space-between-center">
  <studio-lite-area-title
    [title]="'home.select-review' | translate">
  </studio-lite-area-title>
  @if (isReviewUser) {
    <button
      mat-button
      [matTooltip]="'home.logout' | translate"
      studioLiteLogout>
      <mat-icon [color]="'primary'">logout</mat-icon>
    </button>
  }
</div>

<div class="area-container fx-column-start-stretch fx-gap-10"
  [style.overflow-y]="'auto'">
  @for (group of groupedReviews; track group) {
    <studio-lite-review-table
      [groupName]="group.groupName"
      [reviews]="group.reviews">
    </studio-lite-review-table>
  }
</div>
