<div id="unit-host"
  [class]="{
    'with-footer': reviewService.bookletConfig.pageNaviButtons === 'SEPARATE_BOTTOM'
  }"
>
  <div *ngIf="message" style="margin: 30px">{{message}}</div>
  <iframe id="hosting-iframe" class="unitHost"></iframe>
  <div
    id="page-navigation"
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="10px"
    *ngIf="reviewService.bookletConfig?.pageNaviButtons === 'SEPARATE_BOTTOM'"
  >
    <div *ngIf="pageList.length > 3">
      {{pageList.length - 2}} pages found but page navigation is currently disabled
    </div>
  </div>
</div>
