<div class="fx-row-start-stretch">
  <button mat-button
          [matTooltip]="'admin.add-group' | translate"
          (click)="addGroup()">
    <studio-lite-wrapped-icon icon="add"></studio-lite-wrapped-icon>
  </button>
  <button mat-button
          [disabled]="!selectedWorkspaceGroupId && (!checkedRows || !checkedRows.length)"
          [matTooltip]="'admin.delete-selected-groups' | translate"
          (click)="deleteGroups()">
    <studio-lite-wrapped-icon icon="delete"></studio-lite-wrapped-icon>
  </button>
  <button mat-button
          [disabled]="!selectedWorkspaceGroupId  && checkedRows && checkedRows.length !== 1"
          [matTooltip]="'admin.edit-selected-group' | translate"
          (click)="editGroup()">
    <studio-lite-wrapped-icon icon="edit"></studio-lite-wrapped-icon>
  </button>
  <button mat-button
          [matTooltip]="'admin.download-xlsx' | translate"
          (click)="downloadWorkspacesReport.emit(true)">
    <studio-lite-wrapped-icon icon="save_alt"></studio-lite-wrapped-icon>
  </button>
</div>
