::ng-deep .filter-menu {
  min-width: 320px !important;
}

.close-button {
  position: absolute;
  right: 2px;
  top: 2px;
}

.filter-items {
  font-size: 18px;
  padding: 15px 10px 15px 20px;
  background-color: #00606410;
  color: #006064;
  margin-bottom: -8px;
}

.show-hidden-comments {
  padding: 20px;
  ::ng-deep .mdc-label {
    font-size: 16px;
    padding-left: 16px;
  }
}
