<button class="filter-button" matFab
        [disabled]="!unitItems || (unitItems && !unitItems.length)"
        [matMenuTriggerFor]="filterMenu"
        [matTooltip]="'comments.filter-items' | translate"
        [matTooltipPosition]="'above'">
  <mat-icon matBadgeOverlap="false"
            [matBadgeHidden]="!filteredItems.length"
            [matBadge]="filteredItems.length">filter_alt</mat-icon>
</button>
<mat-menu #filterMenu="matMenu"
          [class]="'filter-menu'"
          [xPosition] = "'before'"
          [yPosition] = "'below'">
  <mat-selection-list [(ngModel)]="filteredItems"
                      (ngModelChange)="filteredItemsChange.emit($event)">
    @for (item of unitItems; track item) {
      <mat-list-option togglePosition="before"
                       [value]="item.uuid"
                       (click)="$event.stopPropagation()">
        {{item.id ? item.id : ('metadata.without-id' | translate)}}
      </mat-list-option>
    }
  </mat-selection-list>
</mat-menu>
