<h1 mat-dialog-title>
  <mat-icon>{{messageType}}</mat-icon>
  {{ ('dialogs.request-report-source.' + messageData.source) | translate }}
</h1>
<mat-dialog-content>
  <ul>
    <li *ngFor="let m of messageData.messages">
      <span class="list-element">{{m.objectKey}}</span>: {{m.messageKey | translate}}
    </li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button
          [mat-dialog-close]="false">
    {{ 'dialogs.close' | translate }}
  </button>
</mat-dialog-actions>
