@if (numberOfGroups > 0) {
  <div class="fx-row-space-between-center quantity-groups-units">
    <div class="number-groups-units">
      {{groupsInfo}}
    </div>
    @if (!expandedGroups) {
      <button
        mat-icon-button
        [attr.aria-label]="'accordion.expand' | translate"
        (click)="expandedGroups= numberOfGroups; expandAll.next(true)">
        <mat-icon>expand_more</mat-icon>
      </button>
    }
    @if (expandedGroups>0) {
      <button
        mat-icon-button
        [attr.aria-label]="'accordion.expand' | translate"
        (click)="expandedGroups= 0; expandAll.next(false)">
        <mat-icon>expand_less</mat-icon>
      </button>
    }
  </div>
}

<ng-content></ng-content>

