<button *ngIf="expanded"
        mat-icon-button
        [attr.aria-label]="'accordion.expand' | translate"
        (click)="this.expanded = !this.expanded">
  <mat-icon>expand_more</mat-icon>
</button>
<button *ngIf="!expanded"
        mat-icon-button
        [attr.aria-label]="'accordion.expand' | translate"
        (click)="this.expanded = !this.expanded">
  <mat-icon>expand_less</mat-icon>
</button>
<studio-lite-unit-group *ngFor="let unitGroup of (unitList | keyvalue)"

                        class="unit-group"
                        [expanded]=!expanded
                        [count]="unitGroup.value.length"
                        [title]="unitGroup.key">
  <studio-lite-unit-table
    [hasSortHeader]="false"
    [unitList]="unitGroup.value"
    [filter]="filter"
    [selectedUnitId]="selectedUnitId"
    (selectUnit)="selectUnit($event)">
  </studio-lite-unit-table>
</studio-lite-unit-group>
