<div class="fx-row-start-start">
  <button mat-button
          [disabled]="!workspaceService.isChanged()"
          [matTooltip]="'workspace.reject-unit-changes' | translate"
          matTooltipPosition="above"
          (click)="discardChanges()">
    <mat-icon>close</mat-icon>
  </button>

  <button mat-button
          [disabled]="!workspaceService.isChanged()"
          [matTooltip]="'workspace.save-unit' | translate"
          matTooltipPosition="above"
          (click)="saveUnitData()">
    {{'workspace.save' | translate }}
    <mat-icon>save</mat-icon>
  </button>
</div>
