<div class="fx-row-start-start">
  <button mat-button
          [disabled]="!storesDataChanged"
          [matTooltip]="'workspace.reject-unit-changes' | translate"
          matTooltipPosition="above"
          (click)="discardChanges()">
    <studio-lite-wrapped-icon icon="close"></studio-lite-wrapped-icon>
  </button>

  <button mat-button
          [disabled]="!storesDataChanged || !isValidFormKey"
          [matTooltip]="'workspace.save-unit' | translate"
          [color]="'primary'"
          matTooltipPosition="above"
          (click)="saveUnitData()"
          data-cy="workspace-unit-save-button">
    {{'workspace.save' | translate }}
    <mat-icon class="big-icon">save</mat-icon>
  </button>
</div>
