.hide{
  display: none !important;
}

.fx-flex-row-fix-60 {
  flex: 1 1 60px;
  box-sizing: border-box;
  max-width: 60px;
  min-width: 60px;
}

.info {
  margin: 20px 0;
  padding: 20px 15px;
  border-radius: 5px;
  border: 1px solid #bbb;
}
