<div class="fx-row-space-between-stretch fx-gap-10">
  <studio-lite-unit-profile *ngIf="workspaceSettings"
                            class="fx-flex-row-50"
                            [profileUrl]="workspaceSettings.unitMDProfile"
                            [metadataKey]="'unit'"
                            [metadataLoader]="metadataLoader"
                            [language]="language"
                            (metadataChange)="onMetadataChange($event)">
  </studio-lite-unit-profile>

  <studio-lite-item-profile *ngIf="workspaceSettings && items"
                            class="fx-flex-row-50"
                            [items]="items"
                            [metadataKey]="'items'"
                            [profileUrl]="workspaceSettings.itemMDProfile"
                            [metadataLoader]="metadataLoader"
                            [language]="language"
                            (metadataChange)="onMetadataChange($event)">
  </studio-lite-item-profile>
</div>
