.warning-warning {
  color: #b71c1c;
  padding-left: 15px;
  padding-bottom: 20px;
}

.info {
  margin: 20px 0;
  padding: 20px 15px;
  border-radius: 5px;
  color: #006064;
  background: #00606410;
}
