@if (appConfig) {
  <form [formGroup]="configForm"
        class="fx-column-start-stretch">
    <div class="fx-column-start-stretch">
      <div class="fx-row-start-start fx-gap-20">
        <mat-form-field class="fx-flex-fill">
          <mat-label>{{'config.start-page-warning' | translate}}</mat-label>
          <textarea matInput
                    rows="4"
                    formControlName="globalWarningText"
                    [placeholder]="'config.warning-placeholder' | translate">
          </textarea>
        </mat-form-field>
        <div class="fx-column-start-start">
          <div class="fx-row-start-start fx-gap-20">
            <mat-form-field>
              <mat-label>{{'config.show-warning-until' | translate}}</mat-label>
              <input matInput
                formControlName="globalWarningExpiredDay"
                [matDatepicker]="picker">
              <mat-datepicker-toggle
                matSuffix
                [for]="picker">
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <mat-select [placeholder]="'config.hour' | translate"
                formControlName="globalWarningExpiredHour">
                @for (m of expiredHours; track m) {
                  <mat-option
                    [value]="m">
                    {{m | toTime}}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          @if (warningIsExpired) {
            <div class="warning-warning">
              {{'config.time-in-past' | translate}}
            </div>
          }
        </div>
      </div>
    </div>

    <mat-form-field>
      <mat-label>{{'config.app-name' | translate}}</mat-label>
      <input matInput
        formControlName="appTitle"
        [placeholder]="'config.app-name-placeholder' | translate">
    </mat-form-field>
    <mat-form-field class="fx-column-start-stretch">
      <mat-label>{{'config.start-page-content-right' | translate}}</mat-label>
      <textarea matInput
        formControlName="introHtml"
        cdkTextareaAutosize
      cdkAutosizeMinRows="6"></textarea>
    </mat-form-field>
    <mat-form-field class="fx-column-start-stretch">
      <mat-label>{{'config.imprint-content' | translate}}</mat-label>
      <textarea matInput
        formControlName="imprintHtml"
        cdkTextareaAutosize
      cdkAutosizeMinRows="6"></textarea>
    </mat-form-field>
    <div class="info">{{'config.email-replace-values' | translate }}</div>
    <mat-form-field class="fx-column-start-stretch">
      <mat-label>{{'config.email-template' | translate}}</mat-label>
      <textarea matInput
                formControlName="emailText"
                cdkTextareaAutosize
                cdkAutosizeMinRows="8"></textarea>
    </mat-form-field>
    <div class="fx-row-end-center fx-gap-30">
      @if (dataChanged) {
        <div class="fx-flex-fill info ">
          {{'admin.reload-page' | translate}}
        </div>
      }
      <button mat-raised-button
              color="primary"
              [disabled]="!dataChanged"
              (click)="saveData()">
        {{'save' | translate}}
      </button>
    </div>
  </form>
}
