<studio-lite-splitter class="authoring-body">

  <studio-lite-splitter-pane [initialSize]="220">
    <studio-lite-units-area
      [navLinks]="navLinks"
      [selectedRouterLink]="selectedRouterLink">
    </studio-lite-units-area>
  </studio-lite-splitter-pane>

  <studio-lite-splitter-pane>
    <studio-lite-unit-data-area
     [navLinks]="navLinks"
     (selectedRouterIndexChange)="selectedRouterLink = $event">
   </studio-lite-unit-data-area>
  </studio-lite-splitter-pane>

</studio-lite-splitter>
