.authoring-body {
  position: absolute;
  width: 100%;
  top: 70px;
  bottom: 0;
  padding: 0;
}

.import-units-log {
  background-color:whitesmoke;
  overflow-x: hidden;
  overflow-y: auto;
}

.mat-form-field, .mat-chip-list {
  margin: 5px;
}

.mat-raised-button, .mat-button {
  min-width: 20px;
}

mat-button-toggle {
  margin: 4px;
  color: blue;
}

.upload-message {
  margin: 10px;
  color: goldenrod;
}

.upload-message-ok-button {
  margin: 10px;
}

.active-link {
  color: black;
}
