<div class="fx-column-start-stretch full-height">
  <div class="metadata-container fx-flex-fill">
    <form [formGroup]="unitForm">
      <div class="fx-row-start-stretch fx-gap-10">
        <div class="fx-column-start-stretch fx-flex-row-50 fx-gap-10">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                {{ 'unit-properties.title' | translate }}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ 'unit-properties.settings' | translate }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="fx-column-start-stretch">
                  <mat-form-field>
                    <mat-label>{{ 'workspace.unit-key' | translate }}</mat-label>
                    <input matInput
                           formControlName="key"
                           [placeholder]="'workspace.unit-key' | translate">
                    @if (unitForm.get('key')?.invalid) {
                      <mat-error>
                        {{ 'workspace.invalid-unit-key' | translate }}
                      </mat-error>
                    }
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>{{ 'workspace.unit-name' | translate }}</mat-label>
                    <input matInput
                           formControlName="name"
                           [placeholder]="'workspace.unit-name' | translate">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>{{ 'workspace.unit-state' | translate }}</mat-label>
                    <div class="select-state-wrapper">
                      <mat-select
                        class="select-state-wrapper"
                        [(value)]="selectedStateId"
                        formControlName="state"
                        [style.border-bottom-color]="selectedStateColor"
                        [placeholder]="'workspace.unit-state' | translate">
                        <mat-option [value]="0"></mat-option>
                        @for (state of this.workspaceService.workspaceSettings.states; track state) {
                          <mat-option class="state-option"
                                      [value]="state.id.toString()">
                            <div class="fx-row-center-center">
                              <span [style.background-color]="state?.color"
                                    class="state-color">
                              </span>
                              {{ state.label }}
                            </div>
                          </mat-option>
                        }
                      </mat-select>
                    </div>
                  </mat-form-field>
                  <div class="fx-row-space-around fx-gap-10">
                    <mat-form-field class="fx-flex-fill">
                      <mat-label>{{ 'workspace.group' | translate }}</mat-label>
                      <mat-select formControlName="group"
                                  [placeholder]="'workspace.group' | translate">
                        <mat-option [value]="''"></mat-option>
                        @for (group of workspaceService.workspaceSettings.unitGroups; track group) {
                          <mat-option
                            [value]="group">
                            {{ group }}
                          </mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                    <studio-lite-new-group-button [disabled]="unitForm.disabled"
                                                  (groupNameChange)="unitForm.get('group')?.setValue($event)">
                    </studio-lite-new-group-button>
                  </div>
                  <mat-form-field>
                    <mat-label>{{ 'workspace.description' | translate }}</mat-label>
                    <textarea matInput
                              formControlName="description"
                              cdkTextareaAutosize
                              cdkAutosizeMinRows="6"></textarea>
                  </mat-form-field>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ 'unit-properties.modules' | translate }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="fx-column-start-stretch">
                  <div class="fx-row-space-between-start">
                    <div class="fx-flex-row-30"
                         [hidden]="unitForm.disabled">
                      {{ 'modules.editor-name' | translate }}
                    </div>
                    <studio-lite-select-module #editor
                                               class="fx-flex-row-60"
                                               [modules]="this.moduleService.editors"
                                               [hidden]="unitForm.disabled"
                                               [stableOnly]="workspaceService.workspaceSettings.stableModulesOnly || false"
                                               moduleType="editor"></studio-lite-select-module>
                  </div>
                  <div class="fx-row-space-between-start">
                    <div class="fx-flex-row-30"
                         [hidden]="unitForm.disabled">
                      {{ 'modules.player-name' | translate }}
                    </div>
                    <studio-lite-select-module #player
                                               class="fx-flex-row-60"
                                               [modules]="this.moduleService.players"
                                               [hidden]="unitForm.disabled"
                                               [stableOnly]="workspaceService.workspaceSettings.stableModulesOnly || false"
                                               moduleType="player">
                    </studio-lite-select-module>
                  </div>
                  <div class="fx-row-space-between-start">
                    <div class="fx-flex-row-30"
                         [hidden]="unitForm.disabled">
                      {{ 'modules.schemer-name' | translate }}
                    </div>
                    <studio-lite-select-module #schemer
                                               class="fx-flex-row-60"
                                               [modules]="this.moduleService.schemers"
                                               [hidden]="unitForm.disabled"
                                               [stableOnly]="workspaceService.workspaceSettings.stableModulesOnly || false"
                                               moduleType="schemer">
                    </studio-lite-select-module>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ 'workspace.unit-actions' | translate }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="fx-column-start-start fx-gap-10">
                  @if (workspaceService.userAccessLevel > 1) {
                    <button mat-raised-button
                            color="primary"
                            [disabled]="!workspaceService.dropBoxId"
                            (click)="submitUnit()">
                      <mat-icon>assignment_turned_in</mat-icon>
                      {{ 'workspace.submit-unit' | translate }}
                    </button>
                  }
                  @if (workspaceService.userAccessLevel > 2) {
                    <button mat-raised-button
                            color="primary"
                            [disabled]="!(selectedUnitId | canReturnUnit : workspaceService.unitList)"
                            (click)="returnSubmittedUnit()">
                      <mat-icon>assignment_return</mat-icon>
                      {{ 'workspace.return-submitted-unit' | translate }}
                    </button>
                  }
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ 'workspace.last-changed' | translate }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="fx-column-start-stretch fx-gap-10">
                  @if (workspaceService.lastChangedMetadata) {
                    <div>
                      {{
                        'workspace.last-changed-metadata' | translate: {
                          date: (workspaceService.lastChangedMetadata | date : 'dd.MM.yyyy HH:mm' : timeZone),
                          user: workspaceService.lastChangedMetadataUser || 'workspace.unknown' | translate
                        }
                      }}
                    </div>
                  }
                  @if (workspaceService.lastChangedDefinition) {
                    <div>
                      {{
                        'workspace.last-changed-definition' | translate: {
                          date: (workspaceService.lastChangedDefinition | date : 'dd.MM.yyyy HH:mm' : timeZone),
                          user: workspaceService.lastChangedDefinitionUser || 'workspace.unknown' | translate
                        }
                      }}
                    </div>
                  }
                  @if (workspaceService.lastChangedScheme) {
                    <div>
                      {{
                        'workspace.last-changed-scheme' | translate: {
                          date: (workspaceService.lastChangedScheme | date : 'dd.MM.yyyy HH:mm' : timeZone),
                          user: workspaceService.lastChangedSchemeUser || 'workspace.unknown' | translate
                        }
                      }}
                    </div>
                  }
                </div>
              </mat-expansion-panel>
              @if (initialTranscript || initialReference) {
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ 'unit-properties.deprecated' | translate }}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="fx-column-start-stretch">
                    @if (initialTranscript) {
                      <div
                        class="fx-row-space-between-start fx-gap-10">
                        <mat-form-field class="fx-flex-fill">
                          <mat-label>{{ 'workspace.transcript' | translate }}</mat-label>
                          <textarea readonly
                                    matInput
                                    formControlName="transcript"
                                    cdkTextareaAutosize
                                    cdkAutosizeMinRows="6"></textarea>
                        </mat-form-field>
                        <button mat-raised-button
                                (click)="deleteDeprecatedProperty('transcript')">
                          {{ 'delete' | translate }}
                        </button>
                      </div>
                    }
                    @if (initialReference) {
                      <div
                        class="fx-row-space-between-start fx-gap-10">
                        <mat-form-field class="fx-flex-fill">
                          <mat-label>{{ 'workspace.reference' | translate }}</mat-label>
                          <textarea readonly
                                    matInput
                                    formControlName="reference"
                                    cdkTextareaAutosize
                                    cdkAutosizeMinRows="6"></textarea>
                        </mat-form-field>
                        <button mat-raised-button
                                (click)="deleteDeprecatedProperty('reference')">
                          {{ 'delete' | translate }}
                        </button>
                      </div>
                    }
                  </div>
                </mat-expansion-panel>
              }
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                {{ 'metadata.unit-title' | translate }}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              @if (workspaceSettings && workspaceSettings.unitMDProfile && metadata) {
                <studio-lite-profile-form
                  [profileUrl]="workspaceSettings && workspaceSettings.unitMDProfile"
                  [metadata]="metadata"
                  [language]="'de'"
                  [formlyWrapper]="'panel'"
                  [panelExpanded]="true"
                  (metadataChange)="onMetadataChange($event)">
                </studio-lite-profile-form>
              }
            </mat-card-content>
          </mat-card>
        </div>
        <div class="fx-column-start-stretch fx-flex-row-50 fx-gap-10">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                {{ 'metadata.items-title' | translate }}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content
              [class.metadata-items]="workspaceSettings && workspaceSettings.itemMDProfile">
              @if (workspaceSettings && workspaceSettings.itemMDProfile && metadata) {
                <studio-lite-items
                  class="fx-flex-row-50"
                  [profileUrl]="workspaceSettings && workspaceSettings.itemMDProfile"
                  [metadata]="metadata"
                  [language]="'de'"
                  [variablesLoader]="variablesLoader"
                  (metadataChange)="onMetadataChange($event)">
                </studio-lite-items>
              }
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </form>
  </div>
</div>
