.dialog-content{
  gap: 20px;
  display: flex;
}

.settings {
  padding: 2px 0;
}

.full-width {
  width: 100%;
}

.field-description {
  display: block;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 4px;
  margin-top: 8px;
}
