<div class="fx-row-space-between-start">
  <mat-form-field class="full-width">
    <input
      type="number"
      matInput
      min="0"
      [(ngModel)]="duration.minutes"
      (ngModelChange)="durationChange()"/>
  </mat-form-field>
  <div class="duration-separator">:</div>
    <mat-form-field class="full-width">
      <input
        type="number"
        matInput
        min="0"
        [(ngModel)]="duration.seconds"
        (ngModelChange)="durationChange()"/>
        </mat-form-field>
</div>


