<div class="duration-container">
  <div class="fx-row-start-start">
    <mat-form-field class="time-input">
      @if (props.label) {
        <mat-label>  </mat-label>
      }
      <input
        type="number"
        matInput
        [min]="minMinutes"
        [max]="maxMinutes"
        [(ngModel)]="duration.minutes"
        (ngModelChange)="durationChange()"/>
    </mat-form-field>
    <div class="duration-separator">:</div>
    <mat-form-field class="time-input">
      @if (props.label) {
        <mat-label>  </mat-label>
      }
      <input
        type="number"
        matInput
        [min]="minSeconds"
        [max]="maxSeconds"
        [(ngModel)]="duration.seconds"
        (ngModelChange)="durationChange()"/>
    </mat-form-field>
  </div>
  @if (props.label) {
    <div
      class="label">
      {{props.label}}
    </div>
  }
</div>

