.full-width {
  width: 100%;
}

.duration-separator {
  border-bottom: solid 1px rgba(0, 0, 0, 0.5);
  margin-left: -2px;
  margin-right: -2px;
  padding: 16px 10px 19px 10px;
  background-color: rgb(245, 245, 245);
}
