<h1 mat-dialog-content>{{vocabularyTitle}}</h1>
<mat-dialog-content>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node
      *matTreeNodeDef="let node"
      matTreeNodeToggle
      matTreeNodePadding
      matTreeNodePaddingIndent="20">
      <div class="fx-row-start-center">
        <button class="button__arrow" mat-icon-button disabled></button>
        <mat-checkbox
          class="checklist-leaf-node"
          [checked]="checklistSelection | isNodeSelected : node : pipeTransformTrigger"
          (change)="vocabLeafSelectionToggle(node)">
        </mat-checkbox>
        @if (!this.dialogData.props.hideNumbering) {
          <span class="notation">{{node.notation}}</span>
        }
        @if (!this.dialogData.props.hideTitle) {
          <span>{{node?.label}}</span>
        }
      </div>
    </mat-tree-node>
    <mat-tree-node
      *matTreeNodeDef="let node; when: hasChild"
      matTreeNodePadding
      matTreeNodePaddingIndent="20">
      <div class="fx-row-start-center">
        <button
          class="button__arrow"
          mat-icon-button
          matTreeNodeToggle
          [attr.aria-label]="'Toggle ' + node?.label"
          (click)="pipeTransformTrigger = !pipeTransformTrigger">
          <mat-icon class="mat-icon-rtl-mirror">
            {{(treeControl | isTreeControlExpanded : node : pipeTransformTrigger) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>

        <mat-checkbox
          [checked]="treeControl | areAllDescendantsSelected : checklistSelection : node : pipeTransformTrigger"
          [indeterminate]="treeControl | areSomeDescendantsSelected : checklistSelection : node : pipeTransformTrigger"
          (change)="vocabNodeSelectionToggle(node)"
        ></mat-checkbox>
        @if (!this.dialogData.props.hideNumbering) {
          <span class="notation">{{node.notation}}</span>
        }
        @if (!this.dialogData.props.hideTitle) {
          <span>{{node?.label}}</span>
        }
      </div>
    </mat-tree-node>
  </mat-tree>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button
    color="primary"
    type="submit"
    [mat-dialog-close]="{nodes: selectedNodesList, hideNumbering: dialogData.props.hideNumbering}">
    {{'confirm' | translate}}
  </button>
  <button mat-raised-button
    type="submit"
    [mat-dialog-close]="">
    {{'cancel' | translate}}
  </button>
</mat-dialog-actions>
