.area-container {
  background-color: white;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.no-access-level-hint {
  color: #333;
  width: 100%;
  height: 36px;
  line-height: 36px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 10px;
}


.save-area {
  padding-top: 5px;
  padding-bottom: 6px;
}

.unit-list {
  overflow: auto;
}

.unit-menu {
  overflow: hidden;
}

.unit-crud-button {
  flex-basis: 33%;
  max-width: 200px;
  box-sizing: border-box;
}
