<studio-lite-area-title
  [title]="appTitle">
</studio-lite-area-title>
<div class="scroll-area"
  [innerHTML]="introHtml">
</div>
<studio-lite-app-info-content [isUserLoggedIn]="isUserLoggedIn"
                              [userName]="userName"
                              [userLongName]="userLongName"
                              [isAdmin]="isAdmin"
                              [hasReviews]="hasReviews">
</studio-lite-app-info-content>

<div class="fx-row-center-center">
  <a mat-fab
     class="white-color"
     extended="true"
     type="button"
     [color]="'primary'"
     [routerLink]="['/about']">
    {{'home.imprint' | translate}}
</a>
</div>
