<div class="fx-column-start-stretch">
  <h2 mat-dialog-title>{{ 'workspace.export-coding-book' | translate }}</h2>

  <mat-dialog-content class="fx-row-start-stretch dialog-content">
    <div class="fx-row-space-between-stretch">
      <studio-lite-select-unit-list #unitSelectionTable
        [filter]="data && data.units ? data.units : []"
        [initialSelection]="data && data.units ? data.units : []"
        [workspace]="workspaceService.selectedWorkspaceId"
        (selectionChanged)="unitList = $event">
      </studio-lite-select-unit-list>
      <div class="settings">
        {{ 'workspace.export-warning-no-coding-vars' | translate }}
        <section class="example-section fx-column-start-start">
          <h4>{{ 'workspace.select-additional-coding-types' | translate }} </h4>
          <mat-checkbox class="example-margin" [(ngModel)]="includeManualCoding">nur manuell</mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="includeClosedCoding">geschlossen</mat-checkbox>
          <h4>{{ 'workspace.coding-missing-profiles' | translate }}</h4>
          <mat-select class="select-missings-profile"
            placeholder="{{'workspace.select-missings-profile' | translate }}"
            [(value)]="selectedMissingsProfile"
            (click)="$event.stopPropagation()">
            @for (missingsProfile of missingsProfiles; track missingsProfile) {
              <mat-option [value]="missingsProfile">
                {{missingsProfile}}
              </mat-option>
            }
          </mat-select>
          <h4>Exportformat</h4>
          <mat-radio-group [(ngModel)]="exportFormat" aria-label="Exportformat">
            <mat-radio-button value="json">JSON</mat-radio-button>
            <mat-radio-button value="docx">DOCX</mat-radio-button>
          </mat-radio-group>
        </section>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">

    <button mat-raised-button color="primary"
      type="submit"
      (click)="exportCodingBook()"
      [disabled]="unitList.length === 0"
      [mat-dialog-close]="{selectedUnits:unitList}"
      >
      {{ 'export' | translate }}
    </button>
    <button mat-raised-button [mat-dialog-close]="false">
      {{ 'dialogs.cancel' | translate }}
    </button>
  </mat-dialog-actions>
</div>
