<div class="fx-column-start-stretch">
  <h2 mat-dialog-title>{{ 'workspace.export-coding-book' | translate }}</h2>
  <mat-dialog-content class="fx-row-start-stretch dialog-content">
    <div class="fx-row-space-between-stretch">
      <studio-lite-select-unit-list #unitSelectionTable
        [workspace]="workspaceService.selectedWorkspaceId"
        (selectionChanged)="unitList = $event">
      </studio-lite-select-unit-list>
      <div class="settings">
        <section class="example-section fx-column-start-start">
          <h4>{{'coding.codebook-content' | translate}}</h4>
          <mat-checkbox class="example-margin"
                        [(ngModel)]="contentOptions.hasOnlyVarsWithCodes">
            {{'coding.has-only-vars-with-codes' | translate}}
          </mat-checkbox>
          <mat-checkbox class="example-margin"
                        [(ngModel)]="contentOptions.hasGeneralInstructions">
            {{'coding.has-general-instructions' | translate}}
          </mat-checkbox>
          <mat-checkbox class="example-margin"
                        [(ngModel)]="contentOptions.hideItemVarRelation">
            {{'coding.hide-item-var-relation' | translate}}
          </mat-checkbox>
          <mat-checkbox class="example-margin"
                        [(ngModel)]="contentOptions.hasDerivedVars">
            {{'coding.has-derived-vars' | translate}}
          </mat-checkbox>
          <mat-checkbox class="example-margin"
                        [(ngModel)]="contentOptions.hasOnlyManualCoding">
            {{'coding.has-only-manual-coding' | translate}}
          </mat-checkbox>
          <mat-checkbox class="example-margin"
                        [(ngModel)]="contentOptions.hasClosedVars">
            {{'coding.has-closed-vars' | translate}}
          </mat-checkbox>
          <mat-checkbox class="example-margin"
                        [(ngModel)]="contentOptions.showScore">
            {{'coding.show-score' | translate}}
          </mat-checkbox>
          <mat-checkbox class="example-margin"
                        [(ngModel)]="contentOptions.codeLabelToUpper">
            {{'coding.code-label-to-upper' | translate}}
          </mat-checkbox>


          <h4>{{ 'workspace.coding-missing-profiles' | translate }}</h4>
          <mat-select class="select-missings-profile"
            placeholder="{{'workspace.select-missings-profile' | translate }}"
            [(value)]="selectedMissingsProfile"
            (click)="$event.stopPropagation()">
            @for (missingsProfile of missingsProfiles; track missingsProfile) {
              <mat-option [value]="missingsProfile">
                {{missingsProfile}}
              </mat-option>
            }
          </mat-select>
          <h4>{{'coding.export-format' | translate}}</h4>
          <mat-radio-group [(ngModel)]="contentOptions.exportFormat" aria-label="Exportformat">
            <mat-radio-button value="json">JSON</mat-radio-button>
            <mat-radio-button value="docx">DOCX</mat-radio-button>
          </mat-radio-group>
          @if(workspaceChanges) {
            <mat-error>{{'coding.error-save-changes' | translate}}</mat-error>
          }
        </section>
      </div>

    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">

    <button mat-raised-button
            color="primary"
            type="submit"
            (click)="exportCodingBook()"
            [disabled]="unitList.length === 0 || workspaceChanges"
            [mat-dialog-close]="{selectedUnits:unitList}">
      {{ 'export' | translate }}
    </button>
    <button mat-raised-button [mat-dialog-close]="false">
      {{ 'dialogs.cancel' | translate }}
    </button>
  </mat-dialog-actions>
</div>
