<h1 mat-dialog-title>{{title}}</h1>
<mat-dialog-content>
  <div *ngIf="userList.users.length">
    <studio-lite-user-list
      [users]="userList.users">
    </studio-lite-user-list>
  </div>
  <div *ngIf="!userList.users.length"
       class="data-text">
    {{'workspace.no-regular-users' | translate}}
  </div>
  <div *ngIf="userList.workspaceGroupAdmins.length">
    <div class="data-text">
      {{'workspace.workspace-group-admins' | translate}}
    </div>
    <studio-lite-user-list [users]="userList.workspaceGroupAdmins">
    </studio-lite-user-list>
  </div>
  <div *ngIf="userList.admins.length">
    <div class="data-text">
      {{'workspace.workspace-admins' | translate}}
    </div>
    <studio-lite-user-list
      [users]="userList.admins">
    </studio-lite-user-list>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="close-button" mat-raised-button
          [mat-dialog-close]="false">
    {{'close' | translate}}
  </button>
</mat-dialog-actions>

