@import "../../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

:root {
  --st-body-background: #7fafb1;
  --st-box-background: #eeeeee;
  min-height: 100%;
}
a,a:visited,a:active,a:hover,a:hover {
  color: rgb(0, 96, 100);
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  background: var(--st-body-background);
}

@page {
  size: A4 portrait;
}

.page-break-before {
  page-break-before: always;
}
.page-break-after {
  page-break-after: always;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  studio-lite-unit-print-layout {
    padding: 20px 40px;
  }
  .hide-on-print {
    display: none !important;
  }
}

.page-body {
  position: absolute;
  width: 100%;
  top: 70px;
  bottom: 0;
  overflow-y: auto;
  background-color: #ffffff20;
}

.page-title {
  color: white;
  font-size: large;
  padding-right: 20px;
  padding-left: 150px;
  height: 70px;
}

.spinner-container {
  bottom: 0;
  height: 2em;
  left: 0;
  margin: auto;
  overflow: visible;
  position: fixed;
  right: 0;
  top: 0;
  width: 2em;
  z-index: 999;
}

.error-container {
  width: 700px;
  max-height: 800px;
  overflow-y: auto;
  top: 50px;
  left: 50px;
  margin: auto;
  position: fixed;
  background-color: white;
  border: 2px solid #b71c1c;
  padding: 30px;
  z-index: 1000;
  border-radius: 5px;
}

.spinner-container .mat-progress-spinner {
  height: 100px;
  width: 100px;
}

.review-dialog {
  .mat-mdc-dialog-content {
    max-height: 100vh;
    padding-bottom: 0 !important;
    .filter-button {
      right: 20px
    }
  }
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: blueviolet!important;
}

iframe.unitHost {
  width: 100%;
  border: none;
}

#iFrameHost > p {
  margin: 20px;
}

.admin-tab-content {
  overflow-x: auto;
  height: calc(100% - 30px);
}

.logo {
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 999;
}

div.logo img {
  width: 100px;
}

.mat-tooltip-linebreaks {
  white-space: pre;
  font-size: 14px !important;
}

.fx-row-space-between-center {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fx-row-space-between-start {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.fx-row-space-between-end {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.fx-row-space-between-stretch {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.fx-row-space-between-center {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fx-row-space-around-center {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.fx-row-start-center {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.fx-row-start-end {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.fx-row-end-end {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.fx-row-end-stretch {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
}

.fx-row-end-center {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.fx-row-start-stretch {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.fx-row-start-baseline {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.fx-row-center-start {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.fx-row-start-start {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.fx-row-center-center {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fx-row-center-stretch {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.fx-column-center-center {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fx-column-start-start {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.fx-column-start-center {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.fx-column-start-stretch {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.fx-column-end-stretch {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}

.fx-column-space-between-stretch {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.fx-column-space-between-end {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.fx-column-center-end {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.fx-flex-fill {
  flex: 1 1 0;
  box-sizing: border-box;
}

.fx-flex-row-10 {
  box-sizing: border-box;
  flex: 1 1 100%;
  max-width: 10%;
}

.fx-flex-row-20 {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 20%;
}

.fx-flex-row-30 {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 30%;
}

.fx-flex-row-33 {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 33.3%;
}

.fx-flex-row-40 {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 40%;
}

.fx-flex-row-50 {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 50%;
}

.fx-flex-row-55 {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 55%;
}

.fx-flex-row-60 {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 60%;
}

.fx-flex-row-70 {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 70%;
}

.fx-flex-row-80 {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 80%;
}

.fx-flex-row-90 {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 90%;
}

.fx-flex-row-100 {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 100%;
}

.fx-gap-2 {
  gap: 2px;
  display: flex;
}

.fx-gap-5 {
  gap: 5px;
  display: flex;
}

.fx-gap-10 {
  gap: 10px;
  display: flex;
}

.fx-gap-15 {
  gap: 15px;
  display: flex;
}

.fx-gap-20 {
  gap: 20px;
  display: flex;
}

.fx-gap-25 {
  gap: 25px;
  display: flex;
}

.fx-gap-30 {
  gap: 30px;
  display: flex;
}

.fx-wrap {
  flex-wrap: wrap;
}



