@import "../../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

:root {
  --st-body-background: linear-gradient(180deg, rgba(7,70,94,1) 0%, rgba(6,112,123,1) 24%, rgba(1,192,229,1) 85%);
  --st-box-background: lightgray;
  min-height: 100%;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  background: var(--st-body-background);

  /* background-color: rgb(210, 229, 238); */
}

@page {
  size: A4 portrait;
}

.page-break-before {
  page-break-before: always;
}
.page-break-after {
  page-break-after: always;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  .hide-on-print {
    display: none !important;
  }
}

.page-body {
  position: absolute;
  width: 100%;
  top: 70px;
  bottom: 0;
  overflow-y: auto;
}

.page-title {
  color: white;
  font-size: large;
  padding-right: 20px;
  padding-left: 150px;
  height: 70px;
}

.spinner-container {
  bottom: 0;
  height: 2em;
  left: 0;
  margin: auto;
  overflow: visible;
  position: fixed;
  right: 0;
  top: 0;
  width: 2em;
  z-index: 999;
}

.error-container {
  width: 600px;
  max-height: 600px;
  overflow-y: auto;
  top: 20px;
  left: 20px;
  margin: auto;
  position: fixed;
  background-color: darksalmon;
  padding: 10px;
  z-index: 1111;
}

.spinner-container .mat-progress-spinner {
  height: 100px;
  width: 100px;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: blueviolet!important;
}

iframe.unitHost {
  width: 100%;
  border: none;
}

#iFrameHost > p {
  margin: 20px;
}

.admin-tab-content {
  overflow-x: auto;
  height: calc(100% - 30px);
}

.logo {
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 999;
}

div.logo img {
  width: 100px;
}

.mat-tooltip-linebreaks {
  white-space: pre;
  font-size: 14px !important;
}

.fx-row-space-between-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fx-row-space-between-start {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.fx-row-space-between-stretch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.fx-row-space-around-center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.fx-row-start-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.fx-row-start-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.fx-row-start-stretch {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.fx-row-center-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.fx-row-start-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.fx-row-center-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fx-row-center-stretch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.fx-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fx-column-start-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.fx-column-start-stretch {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.fx-flex {
  flex: 1 1 100%;
  box-sizing: border-box;
}

