@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

/* orienta-regular - latin */
@font-face {
  font-family: 'Orienta';
  font-style: normal;
  font-weight: 400;
  src: local('Orienta'), local('Orienta-Regular'),
       url('assets/orienta-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/orienta-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Orienta";
  background-color: rgb(210, 229, 238);
}

.page-body {
  position: absolute;
  width: 100%;
  top: 70px;
  bottom: 0;
  overflow-y: auto;
  background-image: linear-gradient(to bottom, #003333, #00465d, #005791, #005ebe, #8854d0);
}

.spinner-container {
  bottom: 0;
  height: 2em;
  left: 0;
  margin: auto;
  overflow: visible;
  position: fixed;
  right: 0;
  top: 0;
  width: 2em;
  z-index: 999;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: blueviolet!important;
}

iframe.unitHost {
  width: 100%;
  border: none;
}

.mat-tab-body-wrapper{
  flex-grow: 1;
}

#iFrameHost > p {
  margin: 20px;
}

.admin-tab-content {
  overflow-x: auto;
  height: calc(100% - 30px);
}
