<div class="fx-row-space-between-start">
  <studio-lite-add-review-button [selectedReviewId]="selectedReviewId"
                                 [workspaceId]="workspaceId"
                                 [(changed)]="changed"
                                 (added)="reviewListChange.emit($event)">
  </studio-lite-add-review-button>

  <studio-lite-delete-review-button [selectedReviewId]="selectedReviewId"
                                    [workspaceId]="workspaceId"
                                    (changedChange)="changed = $event"
                                    (deleted)="reviewListChange.emit()">
  </studio-lite-delete-review-button>

  <studio-lite-start-review-button [selectedReviewId]="selectedReviewId"
                                   [unitCount]="units.length">
  </studio-lite-start-review-button>

  <studio-lite-export-review-button [bookletConfigSettings]="bookletConfigSettings"
                                    [selectedReviewId]="selectedReviewId"
                                    [units]="units"
                                    [workspaceId]="workspaceId">
  </studio-lite-export-review-button>

  <studio-lite-print-review-button [selectedReviewId]="selectedReviewId"
                                   [units]="units"
                                   [workspaceId]="workspaceId">
  </studio-lite-print-review-button>

  <studio-lite-copy-review-link-button [link]="link"
                                       [unitCount]="units.length"
                                       [passwordLength]="passwordLength">
  </studio-lite-copy-review-link-button>
</div>
