<form [formGroup]="configForm"
      class="fx-column-start-stretch">
  <mat-form-field class="fx-column-start-stretch">
    <mat-label>{{'unit-export-config.unit-xml-path' | translate}}</mat-label>
    <input matInput
           formControlName="unitXsdUrl">
  </mat-form-field>
  <mat-form-field class="fx-column-start-stretch">
    <mat-label>{{'unit-export-config.booklet-xml-path' | translate}}</mat-label>
    <input matInput
           formControlName="bookletXsdUrl">
  </mat-form-field>
  <mat-form-field class="fx-column-start-stretch">
    <mat-label>{{'unit-export-config.test-taker-xml-path' | translate}}</mat-label>
    <input matInput
           formControlName="testTakersXsdUrl">
  </mat-form-field>
  <div class="fx-row-start-start fx-gap-30 save-button">
    <button mat-raised-button
            color="primary"
            [disabled]="!dataChanged"
            (click)="saveData()">
      {{'save' | translate}}
    </button>
  </div>
</form>
