.issue-item {
  display: block;
  color: #006064;
  text-decoration: none;
  padding: 11px 15px;
  font-size: 14px;
  font-weight: 400;
  &:hover {
    background-color: #00606410;
  }
}

.big {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  &:hover {
    border-bottom-color: #999;
  }
}
