<div fxLayout="column" style="height: 100%">
  <h1 mat-dialog-title>Aufgabenfolgen</h1>
  <div fxLayout="row" fxLayoutGap="5px" style="height: 100%">
    <div fxFlex="200px" class="review-list" fxLayout="column" fxLayoutAlign="space-between stretch">
      <mat-nav-list fxFlex>
        <a mat-list-item style="height: unset;text-overflow: ellipsis"
           *ngFor="let review of reviews"
           class="review-list-entry"
           (click)="selectReview(review.id)"
           [class]="review.id === selectedReviewId ? 'review-list-entry selected' : 'review-list-entry'">
          {{review.name}}
        </a>
      </mat-nav-list>
      <studio-lite-review-menu
        [selectedReviewId]="selectedReviewId"
        [units]="reviewDataOriginal.units ? reviewDataOriginal.units : []"
        [workspaceId]="workspaceService.selectedWorkspaceId"
        [link]="reviewDataOriginal.link ? reviewDataOriginal.link : ''"
        [passwordLength]="reviewDataOriginal.password ? reviewDataOriginal.password.length : 0"
        [bookletConfigSettings]="reviewDataOriginal.settings?.bookletConfig"
        [(changed)]="changed"
        (reviewListChange)="loadReviewList($event)">
      </studio-lite-review-menu>
    </div>
    <div [class]="changed ? 'review-changed' : 'review-not-changed'"
         fxLayout="column" fxFlex>
      <div fxFlex fxLayout="row" style="background: white" fxLayoutGap="30px">

        <studio-lite-review-config fxFlex="40%"
                                   [selectedReviewId]="selectedReviewId"
                                   [bookletConfigSettings]="reviewDataToChange.settings?.bookletConfig"
                                   [reviewConfigSettings]="reviewDataToChange.settings?.reviewConfig"
                                   [(name)]="reviewDataToChange.name"
                                   [(password)]="reviewDataToChange.password"
                                   (reviewChange)="changed = detectChanges()"
                                   (bookletConfigSettingsChange)="bookletConfigSettingsChange($event)"
                                   (reviewConfigSettingsChange)="reviewConfigSettingsChange($event)">
        </studio-lite-review-config>

        <mat-dialog-content fxFlex>
          <div [hidden]="selectedReviewId > 0">Bitte links Aufgabenfolge wählen bzw. neu anlegen.</div>
          <select-unit-list #unitSelectionTable [hidden]="selectedReviewId === 0"
                            [selectedUnitIds]="reviewDataOriginal.units ? reviewDataOriginal.units : []"
                            (selectionChanged)="unitSelectionChanged($event)"
                            [workspace]="workspaceService.selectedWorkspaceId"></select-unit-list>
        </mat-dialog-content>
      </div>
      <studio-lite-review-save-changes [changed]="changed"
                                       (discardChanges)="discardChanges()"
                                       (saveChanges)="saveChanges()">
      </studio-lite-review-save-changes>
    </div>
  </div>
  <mat-dialog-actions fxLayout="column">
    <div fxLayout="row">
      <button mat-raised-button [mat-dialog-close]="false" [disabled]="changed">
        {{'dialogs.close' | translate}}
      </button>
    </div>
  </mat-dialog-actions>
</div>
