<h1 mat-dialog-title>{{data.title}}</h1>
@if (data.subTitle) {
  <p class="subTitle">{{data.subTitle}}</p>
}
<mat-dialog-content>
  <form [formGroup]="newUnitForm"
    class="fx-column-start-stretch">
    <mat-form-field>
      <input matInput
        formControlName="key"
        [placeholder]="'workspace.unit-key' | translate"
        [value]="data.key" >
      @if (newUnitForm.controls['key'].invalid) {
        <mat-error>
          {{'workspace.invalid-unit-key' | translate}}
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <input matInput
        formControlName="label"
        [placeholder]="'workspace.unit-name' | translate"
        [value]="data.label">
    </mat-form-field>
    @if (!groupDirectMode) {
      <div
        class="fx-row-space-around-center fx-gap-10">
        <mat-form-field class="fx-flex-fill">
          <mat-select
            [placeholder]="'workspace.group' | translate"
            formControlName="groupSelect">
            @for (group of data.groups; track group) {
              <mat-option
                [value]="group">
                {{group}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <button mat-icon-button
          [matTooltip]="'workspace.add-new-group' | translate"
          (click)="setGroupDirectMode(true)">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
    }
    @if (groupDirectMode) {
      <div
        class="fx-row-space-around-center fx-gap-10">
        <mat-form-field class="fx-flex-fill">
          <input matInput
            #newGroupInput
            formControlName="groupDirect"
            [placeholder]="'workspace.new-group' | translate">
        </mat-form-field>
        @if (data.groups.length > 0) {
          <button mat-icon-button
            [matTooltip]="'workspace.cancel-back-to-selection' | translate"
            (click)="setGroupDirectMode(false)">
            <mat-icon>cancel</mat-icon>
          </button>
        }
      </div>
    }

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button
    color="primary"
    type="submit"
    [mat-dialog-close]="newUnitForm"
    [disabled]="newUnitForm.invalid">
    {{'save' | translate}}
  </button>
  <button mat-raised-button
    [mat-dialog-close]="false">
    {{'cancel' | translate}}
  </button>
</mat-dialog-actions>

