<div class="panes-container">
  <ng-content></ng-content>
  @for (pane of panes; track pane; let index = $index; let last = $last) {
    @if (!last) {
      <studio-lite-splitter-gutter
        [style.order]="index"
        [index]="index"
        [isFixed]="(pane.minSize === pane.maxSize) && (pane.maxSize === pane.initialSize)"
        [lineSize]="gutterLineSize"
        [hotspotSize]="gutterHotspotSize"
        (startDragging)="onGutterStartDragging($event)"
        (dragging)="onGutterDragging($event)">
      </studio-lite-splitter-gutter>
    }
  }
</div>

