td , th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 200px;
}

.filter{
  margin-top:10px;
  width: 100%;
}

.toggle{
  margin-left: 15px;
}

.title{
  display: inline !important
}

.duplicate-row {
  background-color: #ffcccc;
}

