<div class="fx-column-start-stretch full-height">
  <div class="comments fx-flex-fill" *ngIf="!newCommentOnly">
    <studio-lite-comment
      *ngFor="let rootComment of comments | rootComments"
      [comment]="rootComment"
      [userId]="userId"
      [replies]="comments | replies: rootComment.id"
      [activeComment]="activeComment"
      [latestCommentId]="latestCommentId"
      [adminMode]="adminMode"
      (setActiveComment)="setActiveComment($event)"
      (addComment)="addComment($event)"
      (deleteComment)="deleteComment($event)"
      (updateComment)="updateComment($event)"
      studioLiteScrollCommentIntoView
      [id]="rootComment.id"
      [scrollTargetId]="latestCommentId">
    </studio-lite-comment>
  </div>

  <div class="new-comment">
    <div class="editor-label">{{'comments.write-comment' | translate}}</div>
      <studio-lite-comment-editor
        submitLabel="comment-editor.write"
        (handleSubmit)="addComment({ text: $event, parentId: null })">
      </studio-lite-comment-editor>
  </div>
</div>
