<div>{{'comments.write-comment' | translate}}</div>
<studio-lite-comment-editor
  submitLabel="comment-editor.write"
  (handleSubmit)="addComment({ text: $event, parentId: null })">
</studio-lite-comment-editor>

<studio-lite-comment
  *ngFor="let rootComment of comments | rootComments"
  [comment]="rootComment"
  [currentUserId]="currentUserId"
  [replies]="comments | replies: rootComment.id"
  [activeComment]="activeComment"
  (setActiveComment)="setActiveComment($event)"
  (addComment)="addComment($event)"
  (deleteComment)="deleteComment($event)"
  (updateComment)="updateComment($event)">
</studio-lite-comment>


