.warning {
  background-color: salmon;
  padding: 4px;
  font-size: smaller;
  font-weight: bold;
  margin: 0.8em 0;
}

.error-message {
  color: red;
  padding: 5px;
}

.invisible{
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}

.area-title {
  font-weight: normal;
  font-size: 1.2em;
  margin: 0.7em 0;
}
