<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="area-title ">{{loginMessage | translate}}</div>
  <div *ngIf="appService.globalWarning"
      class="warning">{{appService.globalWarning}}
  </div>
  <div *ngIf="!appService.appConfig.hasUsers"
      class="warning">
    {{'home.no-user' | translate}}
  </div>
  <div fxLayout="column">
    <mat-form-field [class.invisible]="loginNamePreset">
      <input matInput formControlName="name"
             [placeholder]="'home.user-name' | translate"
             (keyup.enter)="pw.focus()">
    </mat-form-field>
    <p *ngIf="loginNamePreset">
      {{'home.login-with-preset' | translate}}
    </p>
    <mat-form-field>
      <input matInput #pw
             type="password"
             formControlName="pw"
             [placeholder]="'home.password' | translate"
             (keyup.enter)="login()">
    </mat-form-field>
  </div>
  <p *ngIf="errorMessage"
     class="error-message">
    {{errorMessage}}
  </p>
  <button mat-raised-button
          type="submit"
          [disabled]="loginForm.invalid"
          color="primary">{{'next' | translate}}
  </button>
</form>
