.scroll-area {
  height: calc(100% - 35px);
  overflow-y: auto;
}

.object-list {
  height: calc(100% - 5px);
}

.fx-flex-row-fix-70 {
  flex: 1 1 70px;
  box-sizing: border-box;
  max-width: 70px;
}

.secondary-text {
  color: gray;
}

.selected {
  background-color: #00606415;
}

