.scroll-area {
  height: calc(100% - 35px);
  overflow-y: auto;
}

.object-list {
  height: calc(100% - 5px);
  .object-header-container {
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

.divider {
  align-self: stretch;
}

.fx-flex-row-fix-70 {
  flex: 1 1 70px;
  box-sizing: border-box;
  max-width: 70px;
}

.secondary-text {
  color: gray;
}

.two-tone-primary-color {
  color: transparent;
  background: #006064;
  background-clip: text;
  -webkit-background-clip: text;
}

.selected {
  background-color: #00606415;
  &:hover {
    background-color: #00606415 !important;
  }
}

.center {
  margin: auto;
}

.header-center {
  ::ng-deep .mat-sort-header-container {
    margin: auto;
  }
}

.hidden {
  display: none;
}

.warning {
  @extend .info;
  font-weight: bold;
  border: 2px solid #b71c1c !important;
}

.save-button{
  position: absolute;
  top: 65px;
  right: 60px;
}

.info {
  margin: 20px 0;
  padding: 20px 15px;
  border-radius: 5px;
  border: 1px solid #000000;
}

