<div class="fx-row-space-between-start admin-tab-content">
  <div class="fx-flex-row-50 fx-column-start-stretch object-list">
    <studio-lite-workspace-menu
      [isWorkspaceGroupAdmin]="isWorkspaceGroupAdmin"
      [selectedWorkspaceId]="selectedWorkspaceId"
      [selectedRows]="tableSelectionRow.selected"
      [checkedRows]="tableSelectionCheckboxes.selected"
      [workspaces]="workspaces"
      (workspaceAdded)="addWorkspace($event)"
      (workspaceRenamed)="renameWorkspace($event)"
      (workspaceDropBoxSelected)="selectDropBoxWorkspace($event)"
      (workspaceChanged)="changeWorkspace($event)"
      (workspaceNotLoaded)="onWorkspaceNotLoaded()"
      (workspaceMoved)="moveWorkspace($event)"
      (workspaceDeleted)="deleteWorkspace($event)"
      (download)="xlsxDownloadWorkspaceReport()">
    </studio-lite-workspace-menu>

    @if (objectsDatasource.data.length) {
      <studio-lite-search-filter [title]="'search-filter.filter-workspaces' | translate"
        (valueChange)="objectsDatasource.filter = $event.trim().toLowerCase()">
      </studio-lite-search-filter>
    }
    <mat-table
      [class.hidden]="!objectsDatasource.data.length"
      [dataSource]="objectsDatasource"
      matSort
      matSortDisableClear
      class="scroll-area">
      <ng-container matColumnDef="selectCheckbox">
        <mat-header-cell *matHeaderCellDef
          class="fx-flex-row-fix-70">
          <mat-checkbox [checked]="(tableSelectionCheckboxes | hasSelectionValue : tableSelectionCheckboxes.selected.length) &&  (tableSelectionCheckboxes.selected.length | isAllSelected : objectsDatasource.data.length)"
            [indeterminate]="(tableSelectionCheckboxes | hasSelectionValue : tableSelectionCheckboxes.selected.length) && !(tableSelectionCheckboxes.selected.length | isAllSelected : objectsDatasource.data.length)"
            (change)="$event ? masterToggle() : null">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"
          class="fx-flex-row-fix-70">
          <mat-checkbox [checked]="tableSelectionCheckboxes | isSelected: row : tableSelectionCheckboxes.selected.length"
            (click)="$event.stopPropagation()"
            (change)="$event ? tableSelectionCheckboxes.toggle(row) : null">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef
          mat-sort-header="name">{{'wsg-admin.name' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.name}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="unitsCount">
        <mat-header-cell *matHeaderCellDef class="header-center"
          mat-sort-header="unitsCount">{{'wsg-admin.units-count' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="center">{{element.unitsCount}}</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="dropBoxWorkspaceId">
        <mat-header-cell *matHeaderCellDef class="header-center"
                         mat-sort-header="dropBoxWorkspaceId">{{'wsg-admin.drop-box-workspace' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          @if (element.dropBoxWorkspaceId) {
            <mat-icon class="center"
                      [matTooltip]="element.dropBoxWorkspaceId | workspaceName : workspaces"
                      matTooltipPosition="right"
                      color="primary">
              check_circle
            </mat-icon>
          } @else {
            <mat-icon class="center">unpublished</mat-icon>
          }
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
        [class.selected] = "row | isSelectedId: selectedWorkspaceId"
        (click)="toggleRowSelection(row)">
      </mat-row>
    </mat-table>
  </div>

  <div class="object-list fx-column-start-stretch fx-flex-row-40">
    <div class="fx-row-space-between-center">
      @if (!selectedWorkspaceId) {
        <div>
          {{'wsg-admin.hint' | translate}}
        </div>
      }
      @if (selectedWorkspaceId) {
        <div>
          {{'wsg-admin.access-for-workspace' | translate: { workspace: tableSelectionRow.selected[0].name } }}
        </div>
      }
      <button mat-raised-button
        [matTooltip]="'save' | translate"
        matTooltipPosition="above"
        [disabled]="!workspaceUsers.hasChanged"
        (click)="saveUsers()">
        <studio-lite-wrapped-icon icon="save"></studio-lite-wrapped-icon>
      </button>
    </div>

    @if (workspaceUsers.entries.length) {
      <studio-lite-roles-header></studio-lite-roles-header>
    }

    <div class="scroll-area fx-column-start-stretch">
      @for (u of workspaceUsers.entries; track u) {
        <div class="fx-row-start-center">
          <div class="fx-row-start-center fx-flex-fill fx-gap-15">
            <div class="fx-row-start-center">
              @for (level of [1,2,4]; track level) {
                <mat-checkbox
                  [checked]="!!selectedWorkspaceId && u.accessLevel === level && u.isChecked"
                  [disabled]="!selectedWorkspaceId"
                  [matTooltip]="'access-rights.access-level-'+level | translate"
                  (change)="changeAccessLevel($event.checked, u, level)">
                </mat-checkbox>
              }
            </div>
            <div data-cy="access-rights">{{u.displayName}} ({{u.name}})</div>
          </div>
          <div class="fx-flex-fill secondary-text" >
            {{u.description}}
          </div>
        </div>
      }
    </div>
  </div>
</div>
