.selected {
  background-color: #3957f74f;
}

.new-comments{
  position: absolute;
  left: 6px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #FF5500;
}

.unit-sort {
  min-height: 28px;
}

.unit-row {
  min-height: 28px;
  &:hover {
    background-color: whitesmoke;
  }
}

.unit-cell {
  overflow-wrap: anywhere;
}

.unit-cell:first-of-type {
  padding-left: 20px;
}

.unit-cell:last-of-type {
  padding-right: 10px;
}
