<div [hidden]="hasListEntries">
  <p class="smaller-font">
    {{'modules.no-module-type' | translate: { module: 'modules.'+moduleType+'-name' | translate } }}
  </p>
</div>
@if (hasListEntries) {
  <form [formGroup]="moduleForm">
    @if (isEmpty) {
      <span class="smaller-font">
        {{'modules.not-defined-module-type' | translate: { module: 'modules.'+moduleType+'-name' | translate } }}
      </span>
    }
    @if (!isValid) {
      <span class="smaller-font">
        {{'modules.not-valid-module-type' | translate: { module: 'modules.'+moduleType+'-name' | translate } }}
      </span>
    }
    @if (moduleSubstitute) {
      <span class="smaller-font">
        {{'modules.replaced' | translate: { selectedModuleId, moduleSubstitute } }}
      </span>
    }
    <div class="fx-column-start-stretch">
      <mat-form-field>
        <mat-select
          [placeholder]="'modules.'+moduleType+'-name' | translate"
          formControlName="moduleSelector">
          @for (m of moduleList; track m) {
            <mat-option
              [value]="m.key">
              {{m.metadata.name}} {{m.metadata.version}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </form>
}
