<div class="fx-row-space-between-start admin-tab-content">
  <div class="object-list fx-column-start-stretch fx-flex-row-50">

    <studio-lite-workspace-groups-menu
      [selectedWorkspaceGroupId]="selectedWorkspaceGroupId"
      [selectedRows]="tableSelectionRow.selected"
      [checkedRows]="tableSelectionCheckboxes.selected"
      (groupAdded)="addGroup($event)"
      (groupEdited)="editGroup($event)"
      (groupSettingsEdited)="editGroupSettings($event)"
      (groupsDeleted)="deleteGroups($event)"
      (downloadUnits)="downloadUnits()"
      (downloadWorkspacesReport)="xlsxDownloadWorkspaceReport()">
    </studio-lite-workspace-groups-menu>

    @if (objectsDatasource.data.length) {
      <studio-lite-search-filter
        [title]="'search-filter.filter-groups' | translate"
        (valueChange)="objectsDatasource.filter = $event.trim().toLowerCase()">
      </studio-lite-search-filter>
    }
    <mat-table [dataSource]="objectsDatasource"
      matSort
      matSortDisableClear
      class="scroll-area">
      <ng-container matColumnDef="selectCheckbox">
        <mat-header-cell *matHeaderCellDef class="fx-flex-row-fix-70">
          <mat-checkbox [checked]="(tableSelectionCheckboxes | hasSelectionValue : tableSelectionCheckboxes.selected.length) &&  (tableSelectionCheckboxes.selected.length | isAllSelected : objectsDatasource.data.length)"
            [indeterminate]="(tableSelectionCheckboxes | hasSelectionValue : tableSelectionCheckboxes.selected.length) && !(tableSelectionCheckboxes.selected.length | isAllSelected : objectsDatasource.data.length)"
            (change)="$event ? masterToggle() : null">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="fx-flex-row-fix-70">
          <mat-checkbox [checked]="tableSelectionCheckboxes | isSelected: row : tableSelectionCheckboxes.selected.length"
            (click)="$event.stopPropagation()"
            (change)="$event ? tableSelectionCheckboxes.toggle(row) : null">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef
          mat-sort-header="name">
          {{'admin.group-name' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header="id">
          {{'id' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element"
                  class="secondary-cell">
          {{element.id}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
        [class.selected] = "row | isSelectedId: selectedWorkspaceGroupId"
        (click)="toggleRowSelection(row)">
      </mat-row>
    </mat-table>
  </div>

  <div class="object-list fx-column-start-stretch fx-flex-row-40">
    <div class="fx-row-space-between-center">
      @if (!selectedWorkspaceGroupId) {
        <div>
          {{'admin.select-group' | translate}}
        </div>
      }
      @if (selectedWorkspaceGroupId) {
        <div>
          {{'admin.selected-group' | translate: { group: tableSelectionRow.selected[0].name } }}
        </div>
      }
      <button mat-raised-button
        [matTooltip]="'save' | translate"
        matTooltipPosition="above"
        [disabled]="!workspaceUsers.hasChanged"
        (click)="saveUsers()">
        <studio-lite-wrapped-icon icon="save"></studio-lite-wrapped-icon>
      </button>
    </div>

    <div class="scroll-area fx-column-start-stretch">
      @for (entry of workspaceUsers.entries; track entry) {
        <div
          class="fx-row-start-start" >
          <mat-checkbox class="fx-flex-fill"
            [(ngModel)]="entry.isChecked"
            [disabled]="!selectedWorkspaceGroupId"
            (change)="workspaceUsers.updateHasChanged()">
            {{entry.displayName}} ({{entry.name}})
          </mat-checkbox>
          <div class="secondary-text fx-flex-fill">{{entry.description}}</div>
        </div>
      }
    </div>
  </div>
</div>
