<div class="fx-row-start-stretch">
  <button mat-button
          [matTooltip]="'wsg-admin.add-workspace' | translate"
          (click)="addObject()">
    <studio-lite-wrapped-icon icon="add"></studio-lite-wrapped-icon>
  </button>
  <button mat-button
          [disabled]="selectedWorkspaceId === 0 && checkedRows.length === 0"
          [matTooltip]="'wsg-admin.delete-selected-workspaces' | translate"
          (click)="deleteObject()">
    <studio-lite-wrapped-icon icon="delete"></studio-lite-wrapped-icon>
  </button>
  <button mat-button
          [disabled]="selectedWorkspaceId === 0 && checkedRows.length !== 1"
          [matTooltip]="'wsg-admin.rename-workspace' | translate"
          (click)="renameObject()">
    <studio-lite-wrapped-icon icon="edit"></studio-lite-wrapped-icon>
  </button>
  <button mat-button
          [disabled]="selectedWorkspaceId === 0 && checkedRows.length !== 1"
          [matTooltip]="'wsg-admin.move-workspace' | translate"
          (click)="moveObject()">
    <studio-lite-wrapped-icon icon="subdirectory_arrow_right"></studio-lite-wrapped-icon>
  </button>
  <button mat-button
          [disabled]="selectedWorkspaceId === 0 && checkedRows.length !== 1"
          [matTooltip]="'wsg-admin.change-workspace-settings' | translate"
          (click)="changeObject()">
    <studio-lite-wrapped-icon icon="settings"></studio-lite-wrapped-icon>
  </button>
  <button mat-button
          [matTooltip]="'wsg-admin.download-workspaces-excel' | translate"
          (click)="download.emit()">
    <studio-lite-wrapped-icon icon="save_alt"></studio-lite-wrapped-icon>
  </button>
</div>
