<div class="fx-row-start-stretch">
  <button mat-button
          [matTooltip]="'wsg-admin.add-workspace' | translate"
          (click)="addObject()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-button
          [disabled]="selectedWorkspaceId === 0 && checkedRows.length === 0"
          [matTooltip]="'wsg-admin.delete-selected-workspaces' | translate"
          (click)="deleteObject()">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-button
          [disabled]="selectedWorkspaceId === 0 && checkedRows.length !== 1"
          [matTooltip]="'wsg-admin.rename-workspace' | translate"
          (click)="renameObject()">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-button
          [disabled]="selectedWorkspaceId === 0 && checkedRows.length !== 1"
          [matTooltip]="'wsg-admin.change-workspace-settings' | translate"
          (click)="changeObject()">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-button
          [matTooltip]="'wsg-admin.download-workspaces-excel' | translate"
          (click)="download.emit()">
    <mat-icon>save_alt</mat-icon>
  </button>
</div>
