<form [formGroup]="changePasswordForm">
  <h1 mat-dialog-title>
    {{'home.changePassword' | translate}}
  </h1>
  <mat-dialog-content >
    <div class="fx-column-start-stretch">
      <p>
        {{'home.password-info' | translate}}
      </p>
      <mat-form-field>
        <mat-label>
          {{'home.old-password' | translate}}
        </mat-label>
        <input matInput
               type="password"
               formControlName="pw_old"
               [placeholder]="'home.password' | translate">
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          {{'home.new-password' | translate}}
        </mat-label>
        <input matInput
               type="password"
               formControlName="pw_new1"
               [placeholder]="'home.password' | translate">
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          {{'home.repeat-new-password' | translate}}
        </mat-label>
        <input matInput
               type="password"
               formControlName="pw_new2"
               [placeholder]="'home.password' | translate">
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button
            color="primary"
            type="submit"
            [mat-dialog-close]="changePasswordForm"
            [disabled]="changePasswordForm.invalid ||
                    changePasswordForm.controls['pw_new1'].value !== changePasswordForm.controls['pw_new2'].value">
      {{'save' | translate}}
    </button>
    <button mat-raised-button
            [mat-dialog-close]="false">
      {{'cancel' | translate}}
    </button>
  </mat-dialog-actions>
</form>
