<div class="fx-row-end-end fx-gap-5 review-changes-container">
  <button mat-raised-button
          [matTooltip]="'workspace.reject-changes' | translate"
          matTooltipPosition="below"
          [disabled]="!changed"
          (click)="discardChanges.emit()" >
    <studio-lite-wrapped-icon icon="close"></studio-lite-wrapped-icon>
  </button>
  <button mat-raised-button
          [matTooltip]="'workspace.save-changes' | translate"
          [disabled]="!changed" matTooltipPosition="below"
          (click)="saveChanges.emit()">
    {{'workspace.save' | translate}}
    <mat-icon class="big-icon">save</mat-icon>
  </button>
</div>
